@charset "utf-8";
/* CSS Document */
#nav_topMall {
    background-color: #6699CC;
    width: 100%;
}
#topNav {
    border: 0 none;
}

#topNav {
    border-bottom: 0 none;
}
#nav_topMall{ height:33px;}
.center{ width:950px; margin:0 auto;}
.topmenu {
	background-color: #FFFFFF;
	border-bottom: 1px solid #DDDDDD;
	height: 21px;
	padding-bottom: 3px;
	padding-top: 8px;
	position: relative;
	width: 100%;
}
.topmenu_l {
    float: left;
}
.topmenu h5 {
    background: url("http://main.tianya.cn/focus/images/menubg.gif") no-repeat scroll right 0 transparent;
    float: left;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    padding: 0 9px 0 11px;
}
.topmenu h5 a:link, .topmenu h5 a:visited, .topmenu h6 a:link, .topmenu h6 a:visited {
    color: #004499;
    font-size: 12px;
    text-decoration: none;
}
.topmenu_r {
    float: right;
}
.topmenu h6 {
    float: left;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    padding: 0 9px 0 10px;
}
.topmenu .lineno {
    background: url("http://main.tianya.cn/focus/images/no.gif") no-repeat scroll right 0 transparent;
}

.topmenu h6 {
    float: left;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    padding: 0 9px 0 10px;
}
#nbo-eir{ margin:0 auto;}

#tianya_topnav{width:100%;height:31px;background:#6699CC;line-height:26px}
#tianya_topnav a{font-family:Arial,Helvetica,"å®ä½",sans-serif;font-size:12px;color:#fff;text-decoration:none}
#tianya_topnav_doc{width:950px;margin:0 auto}
#tianya_topnav_doc_logo{float:left}
#tianya_topnav_doc_logo img{border:none}
#tianya_topnav_doc_service,#tianya_topnav_doc_info{float:right}


.ty-top-a{font-family:Arial,Helvetica,"å®ä½",sans-serif;font-size:12px;}
.ty-top-a a{font-family:Arial,Helvetica,"å®ä½",sans-serif;font-size:12px;color:#0043A4;text-decoration:none;margin: 0 4px;}

.ty-doc-product a{height:31px;display:block;float:left;padding:0 5px 0 7px}
.ty-doc-product a:visited{color:#0043A4;}
.ty-doc-product a:hover{background:#1969a8}

.ty-top-a a:link{color:#0043A4;}
.ty-top-a a:visited{color:#0043A4;}
.ty-top-a a:hover{color:#ff0000;}

.ty-down-menu{border:solid 1px #8dadd3;background:#fff;padding:3px;_padding:5px 3px 3px 3px;display:none;position:absolute;line-height:24px;height:25px;_height:23px;color: #777;}

#tianya_topnav_doc_service .service,#tianya_topnav_doc_info{background:url("http://global.tianyaui.com/global/gnav/images_v2/TopNav_a.gif") right top no-repeat;padding-right:10px;}
.ty-down-menu input{_height:15px;}
.ty-down-menu form{margin:0; padding:0;}
.ty-top-a img{ vertical-align:-3px; _vertical-align:-3px; margin:0 3px; cursor:pointer;  }
.ty-top-a a{_vertical-align:-3px;}