#doc {
    padding: 20px 0px 50px 0px;
    width: 976px;
    margin: 0px auto;
}
#bd {
    width: 976px;
}
/*2æ */
#doc .column-2-230-730 .column-left {
    width: 246px;
    padding-left: 7px;
}
#doc .column-2-230-730 .main {
    width: 715px;
    padding-right: 8px;
    overflow: visible;
    *overflow: hidden;
}
/*#ft*/
#ft {
    width: 976px;
    margin: 0px auto;
	height:20px;
}
#ft .foot,
#ft .foot p {
    border: none;
    margin-top: 0px;
    padding-top: 0px;
}
#ft .foot,
#ft .foot p,
#ft .foot a {
    color: #fff;
}
/*.column-left*/
.column-left {
    padding-left: 7px;
}
.column-left .mod-item {
    padding-left: 15px;
    padding-right: 15px;
}
.column-left .mod-item .mod-body {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
.column-left .visitor-mod .mod-body,
.column-left .fans-mod .mod-body,
.column-left .carecompany-mod .mod-body {
    padding-bottom: 0px;
}
/*.bbsList-mod*/
.bbsList-mod table thead tr {
    border-top: 1px solid #fff;
}
.bbsList-mod table thead tr .infos,
.bbsList-mod table thead tr .author,
.bbsList-mod table thead tr .time {
    background-color: #f4f4f4;
}
/*.focus-mod*/
.focus-mod {
    padding: 5px 15px;
}
/*message-mod*/
.message-mod .bd {
    padding-left: 15px;
    padding-right: 15px;
}
/*#site_nav*/
#site_nav {
    width: 715px;
}
#site_nav .hd h1 {
    line-height: 17px;
    margin-bottom: 10px;
}
#site_nav .bd ul .more {
    left: 15px;
}
#site_nav .bd .bd-left {
    background: none;
}
#site_nav .button-set {
    top:39px;
}
#site_nav .v2-navStyle1 .hd .button-set {
    top: 80px;
    *top: 69px;
}
#site_nav .bd li.curr a {
    color: #fff;
}
/*#banner*/
#banner {
    width: 976px;
    margin: 0 auto;
}
#banner .set {
    left: -77px;
}
/*.logo-mod*/
.logo-mod .hd {
    margin-top: -23px;
    top: 89px;
    _right:14px;
    z-index:999;
}
.logo-mod .qy-name {
    margin: 0px;
}
/*.couponList*/
#TOOLS_CTN .couponList .listItem {
    background: url("../../../images/module/coupon/list-bg.gif") no-repeat 0px 0px;
    width: auto;
}
#TOOLS_CTN .couponList .listItem .item-img {
    right: 1px;
    _right: 0px;
    overflow: hidden;
}
#TOOLS_CTN .couponList .price .buy-btn {
    left: 108px;
}
/*#introduction_content*/
#introduction_content .button-set {
    _padding-bottom: 18px;
    _height: 25px;
    _width: 55px;
}
/*#product_content*/
#product_content {
    background-color: #fff;
    padding: 10px;
}
#product_content .hd .publish-btn {
    float: right;
    width: 48px;
}
/*ç»ä¸è®¾å³æ "è®¾ç½®"*/
.shopshare-mod .mod-body .hd .button-set,
.bbsList-mod .mod-body .hd .button-set,
.insertPageR-mod .mod-body .hd .button-set,
.photoList-mod .mod-body .hd .button-set,
.route-mod .mod-body .hd .button-set,
.tickets-mod .mod-body .hd .button-set,
.qyHotelBook-mod .mod-body .hd .button-set, .wallFall-mod .mod-body .hd .button-set {
    position: relative;
    top: 6px;
}
/*åºç°å¨é¦é¡µ*/
.index .main .main-content .hd ul li {
    height: 31px;
    line-height: 33px;
}
.main-content .hd a {
    line-height: 33px;
}
.videoPage .main-content .hd a {
    line-height: 20px;
}
/*.logo-mod .qy-info*/
.logo-mod .qy-info {
    _width: 110px;
    _margin-top: -58px;
}
/*#auction_list*/
#auction_list .detailContent {
    _width: 695px;
    _overflow: hidden;
}
#auction_list .auctionDetail .auction-img-p img {
    padding: 0px;
    margin: 0px;
}
/*#product_content*/
#bd .main .main-content #product_content {
}
#bd .main .main-content #product_content .hd ul li {
    height: auto;
    line-height: 19px;
}
/*.shopshare-mod*/
.shopshare-mod .mod-body .hd .icon-pub-bbs {
    line-height: 36px;
}
.shopshare-mod .mod-body .hd a {
    line-height: 33px;
}
.shopshare-mod .mod-body .bd {
    padding-left: 10px;
    padding-right: 10px;
}
/*.hotelAboutPage*/
.hotelAboutPage-mapSec {
    top: 60px;
}
/*.insertPageR-mod*/
.insertPageR-mod .bd {
    padding: 0px 10px;
}
/*.generalMsg-mod*/
.generalMsg-mod .mod-body {
    padding: 0px 10px;
}
.generalMsg-mod-comment,
.generalMsg-mod .mod-body .hd {
    right: 10px;
}
.zoneStyle-viewZone .generalMsg-mod .mod-body .hd {
    top: 134px;
}
.generalMsg-mod .mod-body .hd .button-set {
    position: relative;
    top: 5px;
}
/*.qyHotelWeibo-mod*/
.qyHotelWeibo-mod .bd {
    padding: 0px 10px;
}
/*æ ¹æ®ç®è¤åç±», å¯¹ä½äºå®¹å¨å¤æç»ä»¶ä¿®å¤æ ·å¼*/
.TY_uploadPhoto_box .uploadPhoto_box_body .submitArea .btn {
    padding: 0px;
}
/*.ltdInfoPage*/
.ltdInfoPage .main-content {
    padding: 0px;
}
.ltdInfoPage .hd .pub-btn-area {
    right: 10px;
}
/*åºäº.bbsList-modæ©å±*/
.bbsList-mod-topic {
    padding: 0px 10px;
}
/*.mod-body .hd*/
.index .main .mod-item .mod-body .hd {
    background: url("../../../images/common/LRSkinTitleBg1.png") repeat-x 0px 0px;
}
.index .main .generalMsg-mod .mod-body .hd {
    background: none;
}
/*****forèå® å³å¤´é¡¶ + å¯¼èª**** st*/
.suningTitle {
    height: 117px;
}
#site_nav .suningTitleHd .button-set {
    top: 82px;
    _top: 90px;
}
/*****forèå® å³å¤´é¡¶ + å¯¼èª**** end*/
/*****æ§å¶éé¦é¡µå³è¾¹åºåé¤å¯¼èªä»¥å¤çèæ¯ååºå®é´é, éæ ¹æ®ä¸åç±»åç®è¤å¾®è°; st*****/
.main .mod-item {
    background-color: transparent;
    padding: 15px 10px 0px 10px;
    margin-top: 0px;
}
.index .main .mod-item {
    padding: 0px;
}
.index .main .focus-mod {
    background-color: transparent;
    padding: 5px 15px;
}
#site_nav {
    margin-bottom: 0px;
}
.index #site_nav {
    margin-bottom: 10px;
}
/*****æ§å¶éé¦é¡µå³è¾¹åºåé¤å¯¼èªä»¥å¤çèæ¯ååºå®é´é, éæ ¹æ®ä¸åç±»åç®è¤å¾®è°; end*****/
/*è§é¢é¡µ*/
/*è§é¢é¡µ*/
.videoPage .main-content .embedVideo, .videoPage .main-content .videoInfo {
	padding:0px 45px;
}

/*2012-9-12æ·»å çè¨æ¨¡å*/
.consult-mod .inpMsg{border:1px solid #CCC;height:63px;overflow-y:auto;padding:2px;width:210px;}

/*ie6 hack, çªåºéå®åºå*/
.main #zone_tools .qy_tool_hd {
    _width: 660px;
}

/*2012-11-2 huzr ä¿®æ¹åºé¨*/
.pft{background:#FFF;}
body .foot{height:80px;margin-top:0;padding-top:10px;}
.foot p{line-height:23px;}

/*2012-11-9 huzr*/
.text-shadow{display:none;}
