/* ================================
    CSS STYLES FOR Module EasyMedia
   ================================
*/
.ItemHeader
{
	background-color:#EEEEEE;
	height:26px;
	border-bottom: 1px solid #999999;
	padding-left:5px;
}

.ItemSubHeader
{
	background-color:#F0F4F0;
	height:26px;
	border-bottom: 1px solid #999999;
}

.PagerDisabled
{
	color:#FF0000;
	font-size:14px;
}

.Pager TD A:Link,.Pager TD A:visited
{
	color:#000000;
	border:1px solid #CCCCCC;
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	padding-bottom:2px;
	line-height:26px;
	margin:2px;
}

.Pager TD A:Hover
{
	color:#000000;
	border:1px solid #CCCCCC;
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	padding-bottom:2px;
	line-height:26px;
	background:#EAEAEA;
}

.DataGridPager TD Span
{
	color:#FF0000;
	font-size:14px;
}

.DataGridPager TD A:Link,.DataGridPager TD A:visited
{
	font-size:11px;

	color:#000000;
	border:1px solid #CCCCCC;
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	padding-bottom:2px;
	line-height:26px;
	margin:2px;
}

.DataGridPager TD A:Hover
{
	font-size:11px;

	color:#000000;
	border:1px solid #CCCCCC;
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	padding-bottom:2px;
	line-height:26px;
	background:#EAEAEA;
}


.Script
{
	font-size:10px;
	font-weight:bold;
	color:#003366;
}

.MenuHeader
{
	border-bottom:3px #EEEEEE solid;
}
.MenuHeaderClassic
{
	border-bottom:1px #000000 solid;
}

.PagePicker
{
	background-color:#EEEEEE;
}

.ItemContainer
{
}

.TagCloudLevel1
{
	color:#E71A1A;
	font-size:20px;
}
.TagCloudLevel2
{
	color:#7391DD;
	font-size:16px;
}
.TagCloudLevel3
{
	color:#333333;
	font-size:14px;
}
.TagCloudLevel4
{
	color:#666666;
}

.FavouriteIcon
{
	position:absolute; 
	margin:-25px 0 0 3px; 
	float:left;
}


.VideoLength
{
	background-color:#FFFFFF;
	position:relative; 
	margin-top:-18px;
	float:right;
}

.ItemGroup
{
	border:1px solid #CCCCCC;
	margin-top:5px;
	margin-left:2px;
	padding:2px;
	width:99%;
}

.VideoInformation
{
	background-color:#EEEEEE;
}

.EMSQuote
{
	background-image:url('images/7percentblack.png');
	padding:2px;
	margin:4px;
}

.EMSComment
{
	border-bottom:1px solid #DDDDDD;
	margin-bottom:2px
}

.EMSCommentFooter
{
	background-color:#F0F4F0;
	height:20px;
}

.EMSAvatar
{
	border:3px solid #FFFFFF;
}

.EMSAvatarOuter
{
	border:1px solid #DDDDDD;
}

.EMSReply
{
	border-bottom:1px dotted #999999;
}

.SectionHeader
{
	background:#F6F6F6;
	border-bottom:1px solid #D6D6D6;
	height:25px;
	padding-left:10px;
}

.SectionFooter
{
	border-top:1px solid #CCCCCC;
	height:25px;
}

.GreyText
{
	color:#666666;
}

.SeriesHtmlPlayer
{
	border:1px solid #CCCCCC;
}

.MenuBackground
{
	background:#999999;
}

.MenuNotSelected
{
	height:45px;
	background:#DDDDDD;
	text-align:center;
}

.MenuSelected
{
	height:45px;
	background:#EAEAEA;
	text-align:center;
	border:2px solid #FFFFFF;
}

.MenuText
{
	color:#000000;
}

.verticalMiddle *
{
	vertical-align:middle;
}

.SubSection
{
	border:1px dotted #CCCCCC;
	padding:3px;
}

/* Video List, Dropdown menu*/
		#navigation * {
            padding:0; 
            margin:0;
        }
        #navigation div {
            float:left;
            position:relative;
        }
        #navigation div a:link, #navigation div a:visited {
            display:block; 
            text-decoration:none; 
            color:#000; 
            width:100px; 
            height:20px; 
            line-height:20px; 
        }
        #navigation div a:hover {
            color:#666666;
        }
        #navigation div div span a:hover {
            color:#666666;
            background:#CCCCCC; 
        }
        #navigation div div {
            display:none;
            position:absolute; 
            top:20px;
            left:0;
            margin-top:0px;
            width:100px;
            background:#EAEAEA;
        }



.CommentHeader
{
	border-bottom:1px dotted #ffffff;
}

.VideoList #Title
{
    font-weight: bold;
	height:30px;
	color:#000000;
}

.VideoList #Length
{
	color:#000000;
}

.VideoList #CreatedAgo
{
	color:#666666;
	height:15px;
}

.VideoList #Views
{
	color:#666666;
	height:15px;
}

.SearchInput
{
	font-size:14px; 
	color:#000;
}

.VideoList #Title
{
	font-size:12px;
	color:#dd3300;
	line-height:150%
}

.VideoList #Title a
{
	font-size:12px;
	color:#dd3300;
}

