/*å¨å±æ ·å¼*/
th,td,img,div,h1,h2,p{margin:0; padding:0; border:0;}
ul,li{margin:0; padding:0;border:0; list-style:none;}
td,div{ color:#282828; font-size:12px;}
a:link{ color:#282828; font-size:12px; line-height:24px; }
a:visited{ color:#282828; font-size:12px; line-height:24px;}
a:hover{ color:#e4403d; font-size:12px; line-height:24px;}
a:active{ color:#e4403d; font-size:12px; line-height:24px;}
/* äºçº§èå*/
#scd01{ WIDTH: 183px;line-height:33px;margin-bottom:1px; height:33px;HEIGHT: 33px !important;border-bottom: 1px #e5e5e5  dashed;}
#scd01 A{FONT-SIZE: 12px; width:183px; line-height:33px; HEIGHT: 33px;HEIGHT: 33px !important;  text-indent:32px; TEXT-DECORATION: none;}
#scd01 A:link{width:183px; height:33px; line-height:33px; HEIGHT: 33px !important ; DISPLAY: block;  text-indent:32px; COLOR: #474747; }
#scd01 A:visited{width:183px; height:33px;DISPLAY: block; line-height:33px; HEIGHT: 33px !important; text-indent:32px;COLOR: #474747;   }
#scd01 A:hover{width:183px; height:33px; DISPLAY: block; line-height:33px;  HEIGHT: 33px !important; text-indent:32px;BACKGROUND: url(/Portals/0/ej_xz0124.jpg) no-repeat ;   COLOR: #ffffff; font-weight:bold;}
#scd01 A.firstActive:link{width:183px; height:33px;  text-indent:32px; line-height:33px; HEIGHT: 33px !important;  BACKGROUND: url(/Portals/0/ej_xz0124.jpg) no-repeat ;  COLOR: #ffffff; font-weight:bold;}
#scd01 A.firstActive:visited{width:183px; height:33px;  text-indent:32px; line-height:33px;  HEIGHT: 33px !important;BACKGROUND: url(/Portals/0/ej_xz0124.jpg) no-repeat ; COLOR: #ffffff; font-weight:bold;}
#scd01 A.firstActive:hover{width:183px; height:33px; text-indent:32px; line-height:33px; HEIGHT: 33px !important; BACKGROUND: url(/Portals/0/ej_xz0124.jpg) no-repeat ; COLOR: #ffffff; font-weight:bold;}
/*Mediaé¦é¡µæ ·å¼*/
.gjzs999{ width:188px;list-style-type:none;margin-top:5px;}
.gjzs999 li{ width:188px;list-style-type:none; border-bottom:1px dotted #ccc;}
.gjzs999 li a{ width:188px; line-height:33px; height:33px; display:block; color:#61571C;font-weight:bold; text-align:center; text-decoration:none; }
.gjzs999 li a:link{ width:188px; line-height:33px; height:33px; display:block; color:#61571C;font-weight:bold; text-align:center; }
.gjzs999 li a:visited{ width:188px; line-height:33px; height:33px; display:block; color:#61571C;font-weight:bold; text-align:center;}
.gjzs999 li a:hover{ width:188px; line-height:33px; height:33px; display:block; color:#ffffff; font-weight:bold;background:url(/Portals/0/sy_gjzs.jpg) no-repeat; font-weight:bold;text-align:center; }
.gjzs999 li a:active{ width:188px; line-height:33px; height:33px; display:block; color:#61571C;font-weight:bold;text-align:center; }
#ess_ctr533_FreeVideoList_lstVideos{margin-bottom:12px;}

.more01
{ padding-right:0px;}
.more01 a
{width:42px;line-height:22px; height:22px; color:#b5b4b4;background:url(/portals/0/icon_more.jpg) no-repeat;display:block;text-align:center;text-decoration:none;}
.more01 a:link
{line-height:22px; height:22px; color:#b5b4b4;text-align:center;}
.more01 a:visited
{line-height:22px; height:22px; color:#b5b4b4;text-align:center;}
.more01 a:hover
{line-height:22px; height:22px; color:#195eaf;text-align:center;}
.more01 a:active
{line-height:22px; height:22px; color:#b5b4b4;text-align:center;}

#Title0521{ color:#333333;font-size: 12px;font-weight: normal;height:36px;overflow:hidden;text-align: center;line-height:15px;margin-top:5px; margin-bottom:4px;}
#Title0521 a:link{ color:#333333;font-size: 12px;font-weight: normal;line-height:18px;}
#Title0521 a:visited{ color:#333333;font-size: 12px;font-weight: normal;line-height:18px;}
#Title0521 a:hover{ color:#333333;font-size: 12px;font-weight: normal;line-height:18px;}
#Title0521 a:active{ color:#333333;font-size: 12px;font-weight: normal;line-height:18px;}
#Title01{ color: #333333;font-size: 12px;font-weight: normal; height:36px;overflow:hidden;text-align: center; margin-top:5px; margin-bottom:4px;}
#Title01 a:link{ color: #333333;font-size: 12px;font-weight: normal;line-height:18px; text-align: center; }
#Title01 a:visited{ color: #333333;font-size: 12px;font-weight: normal;line-height:18px; text-align: center;  }
#Title01 a:hover{ color: #333333;font-size: 12px;font-weight: normal;line-height:18px; text-align: center; }
#Title01 a:active{ color: #333333;font-size: 12px;font-weight: normal;line-height:18px; text-align: center; }#Title02{ color: #333333;font-size: 12px;font-weight: normal;height: auto;line-height: 27px;height: 27px;text-align: center;background:url(/portals/0/mtxl_bg.jpg) no-repeat;margin-bottom:10px;}
#Title03{ color:#054fa8;font-size: 12px;font-weight: normal;line-height: 24px;height: 24px;text-align: center; background:#f2f2f2; border:1px solid #e2e2e2;margin-bottom:10px; display:block;}
#Title03 a:link{color:#054fa8;font-size: 12px;font-weight: bold; line-height:24px;}
#Title03 a:visited{color:#054fa8;font-size: 12px;font-weight: bold; line-height:24px;}
#Title03 a:hover{color:#c8524b;font-size: 12px;font-weight: bold; line-height:24px;}
#Title03 a:active{color:#c8524b;font-size: 12px;font-weight: bold; line-height:24px;}


/*Mediaæ ·å¼_è§é¢æ­æ¾é¢é*/
#ess_ctr413_VideoPlayer_pnlVideoContent{margin-bottom:0px; margin-top:0px;}
#ess_ctr413_ContentPane{}
.ModuleTitle_MenuBar{position:relative;}
.EMSContainer{z-index:-100; position: relative;}
#verticalMiddle a:link{ height:24px; line-height:24px;}
#verticalMiddle a:visited{ height:24px; line-height:24px;}
#verticalMiddle a:hover{ height:24px; line-height:24px;}
#verticalMiddle a:active{ height:24px; line-height:24px;}

.fhsylink{ padding-right:15px;}
.fhsylink a:link{ line-height:24px; color:#054fa8; font-weight:bold;}
.fhsylink a:visited{ line-height:24px; color:#054fa8;font-weight:bold;}
.fhsylink a:hover{ line-height:24px; color:#d01413;font-weight:bold;}
.fhsylink a:active{ line-height:24px; color:#d01413;font-weight:bold;}


/*Mediaæ ·å¼_å½éæ°é»é¢é*/
.VideoList #Title {color: #333333;font-size: 12px;line-height:24px;font-weight:normal;height:auto;}
.VideoList #Title a{color: #333333;font-size: 12px;line-height:24px;font-weight:normal;}
.VideoList #Views {color: #666666; }
.VideoList #CreatedAgo {color: #666666; margin-bottom:10px;}
#ess_ctr444_ModuleContent table{ margin-bottom:0px;}


.kuandu{width:140px;}
.NormalBold{width:55px;}


/*å½åä½ç½®æ ·å¼*/
.jgjg01
{
font-family:å®ä½; color:#666666; margin:0 5px 0 5px;line-height:28px;
}
.dqwz01 a:link
{
font-family:å®ä½; color:#666666!important;line-height:28px;
}
.dqwz01 a:visited
{
font-family:å®ä½; color:#666666!important;line-height:28px;
}
.dqwz01 a:hover
{
font-family:å®ä½; color:#666666!important;line-height:28px;
}


/*éå¢è§é¢æ ·å¼*/
#ess_ctr501_VideoRating_imgShare{display:none;}
#ess_ctr501_VideoRating_lblShare{display:none;}
#ess_ctr501_VideoRating_imgFlag{display:none;}
#ess_ctr501_VideoRating_lblFlag{display:none;}
#ess_ctr501_VideoRating_Label3{display:none;}
#divTotalComments{display:none;}


/*3Då±ç¤ºæ ·å¼*/
.whc_toplink
{
	line-height:27px; font-size:12px; color:#ffffff; 
}
.whc_toplink a
{
	line-height:27px; font-size:12px; color:#ffffff; margin-left:5px; padding-right:5px; text-align:center; background:url(/portals/0/web_link.jpg) no-repeat; display: inline-block; width:89px;
}
.whc_toplink a:link
{
	line-height:27px; font-size:12px; color:#ffffff;width:89px;
}
.whc_toplink a:visited
{
	line-height:27px; font-size:12px; color:#ffffff;width:89px;
}
.whc_toplink a:hover
{
	line-height:27px; font-size:12px; color:#ff0000;width:89px;
}
.whc_toplink a:active
{
	line-height:27px; font-size:12px; color:#ffffff;width:89px;
}

.fhsy0412 a:link{ line-height:24px; color:#fff; font-weight:bold;}
.fhsy0412 a:visited{ line-height:24px; color:#fff; font-weight:bold;}
.fhsy0412 a:hover{ line-height:24px; color:#fb9146; font-weight:bold;}
.fhsy0412 a:active{ line-height:24px; color:#fff; font-weight:bold;}


/*æ®éè´¦æ·ä¿®æ¹å¯ç æ ·å¼*/
#ess_ctr_ManageUsers_cmdUser{display:none;}
#ess_ctr_ManageUsers_cmdProfile{display:none;}
#ess_ctr_ManageUsers_cmdServices{display:none;}
#ess_ctr_ManageUsers_Profile_ProfileProperties_tbl{display:none;}


#cnzz_stat_icon_1000034437{ text-align:right;}

 
















