
.RadTabStrip_Default
{
	height:24px;
}

.RadTabStrip_Default .rtsUL
{
	color: Black;
	font-size:12px; 
	font-family:Verdana, Arial, Helvetica, sans-serif;	  
	height:24px !important; 
	padding:0 !important;
	margin:0 !important;    
}

.RadTabStrip_Default .rtsLI
{
	color: Black;
	font-size:12px; 
	font-family:Verdana, Arial, Helvetica, sans-serif;	  
	height:24px !important; 
	padding:0 !important;
	margin:0 !important;
}


.RadTabStrip_Default .rtsIn
{
    padding-left:0 !important;
    padding-right:0 !important;    
}

.RadTabStrip_Default .rtsLink
{
    margin-right:3px;
	height:100% !important;
	display:inline-block !important; 
}

.RadTabStrip_Default .rtsLink .rtsIn .easySiteIcon
{
    font-size:10px;
    background-image:url(RibbonBar/easysite.gif);
    background-repeat:no-repeat;
    background-position:0 -2px;
}

/* Link Hover */
.RadTabStrip_Default .rtsLink:hover
{
    height:23px !important;
    background-image:url(RibbonBar/headerhover.gif) !important;
    background-position:0px 0px;
	text-decoration: none;
	color: Black;
}

.RadTabStrip_Default .rtsOut
{
    display:inline-block !important;
}

.RadTabStrip_Default .rtsLink:hover .rtsOut
{
    height:23px !important;
    background-image:url(RibbonBar/headerhover.gif) !important;
    background-position:right 0px;
}

/* Link Selected & Hover */
.RadTabStrip_Default .rtsSelected,
.RadTabStrip_Default .rtsSelected:hover
{
    height:24px !important;
    background-image:url(RibbonBar/headerselected.gif) !important;
    background-position:0px 0px;
	text-decoration: none;
	color: Black;
}

.RadTabStrip_Default .rtsSelected .rtsOut,
.RadTabStrip_Default .rtsSelected:hover .rtsOut
{
    background-image:url(RibbonBar/headerselected.gif) !important;
    background-position:right 0px;
    text-decoration: none;
	color: Black;
}

/* First Link */
.RadTabStrip_Default .rtsFirst .rtsLink
{
    height:23px !important;
    background-image:url(RibbonBar/headerfirst.gif) !important;
    background-position:0px 0px;
	text-decoration: none;
	color: White !important;
}

.RadTabStrip_Default .rtsFirst .rtsLink .rtsOut
{
    height:23px !important;
    background-image:url(RibbonBar/headerfirst.gif) !important;
    background-position:right 0px;
    color: White !important;
    font-weight:bold;
}

/* First Link Hover */
.RadTabStrip_Default .rtsFirst .rtsLink:hover
{
    height:23px !important;
    border-bottom:solid 1px #a0b2c6 !important;
    background-image:url(RibbonBar/headerfirsthover.gif) !important;
    background-position:0px 0px;
	text-decoration: none;
	color: Black;
}

.RadTabStrip_Default .rtsFirst .rtsLink:hover .rtsOut
{
    height:23px !important;
    border-bottom:solid 1px #a0b2c6 !important;
    background-image:url(RibbonBar/headerfirsthover.gif) !important;
    background-position:right 0px;
}



/* First Link Hover Selected & Hover */
.RadTabStrip_Default .rtsFirst .rtsSelected,
.RadTabStrip_Default .rtsFirst .rtsSelected:hover
{
    height:24px !important;
    background-image:url(RibbonBar/headerfirstselected.gif) !important;
    background-position:0px 0px;
}

.RadTabStrip_Default .rtsFirst .rtsSelected .rtsOut,
.RadTabStrip_Default .rtsFirst .rtsSelected:hover .rtsOut
{
    height:24px !important;
    background-image:url(RibbonBar/headerfirstselected.gif) !important;
    background-position:right 0px;
}

.RadTabStrip_Default .rtsLI .rtsLink { padding-left: 8px; }
.RadTabStrip_Default .rtsLI .rtsOut { padding-right: 8px; }


.RadTabStripLeft_Default .rtsSeparator,
.RadTabStripRight_Default .rtsSeparator
{
	
}

.RadTabStripTop_Default .rtsLevel .rtsLink,
.RadTabStripTop_Default .rtsLevel .rtsOut,
.RadTabStripBottom_Default .rtsLevel .rtsLink,
.RadTabStripBottom_Default .rtsLevel .rtsOut,
.RadTabStripTop_Default_Baseline .rtsLevel,
.RadTabStripRight_Default .rtsLink { background-image: none; }

/* <disabled tabs> */
/* </disabled tabs> */

/* <scrolling arrows> */
.RadTabStrip_Default .rtsNextArrow,
.RadTabStrip_Default .rtsPrevArrow,
.RadTabStrip_Default .rtsPrevArrowDisabled,
.RadTabStrip_Default .rtsNextArrowDisabled
{
	background-image: url('TabStrip/TabStripStates.png');
}
.RadTabStrip_Default .rtsLevel .rtsNextArrow { background-position: -18px 0; }
.RadTabStrip_Default .rtsLevel .rtsPrevArrow { background-position: 0 0; }
.RadTabStrip_Default .rtsLevel .rtsNextArrow:hover { background-position: -54px 0; }
.RadTabStrip_Default .rtsLevel .rtsPrevArrow:hover { background-position: -36px 0; }
.RadTabStrip_Default .rtsLevel .rtsPrevArrowDisabled,
.RadTabStrip_Default .rtsLevel .rtsPrevArrowDisabled:hover { background-position: -72px 0; }
.RadTabStrip_Default .rtsLevel .rtsNextArrowDisabled,
.RadTabStrip_Default .rtsLevel .rtsNextArrowDisabled:hover { background-position: -90px 0; }

.RadTabStripLeft_Default .rtsLevel .rtsNextArrow,
.RadTabStripRight_Default .rtsLevel .rtsNextArrow { background-position: -18px -20px; }
.RadTabStripLeft_Default .rtsLevel .rtsPrevArrow, 
.RadTabStripRight_Default .rtsLevel .rtsPrevArrow { background-position: 0 -20px; }
.RadTabStripLeft_Default .rtsLevel .rtsNextArrow:hover,
.RadTabStripRight_Default .rtsLevel .rtsNextArrow:hover  { background-position: -54px -20px; }
.RadTabStripLeft_Default .rtsLevel .rtsPrevArrow:hover,
.RadTabStripRight_Default .rtsLevel .rtsPrevArrow:hover { background-position: -36px -20px; }
.RadTabStripLeft_Default .rtsLevel .rtsPrevArrowDisabled,
.RadTabStripLeft_Default .rtsLevel .rtsPrevArrowDisabled:hover,
.RadTabStripRight_Default .rtsLevel .rtsPrevArrowDisabled,
.RadTabStripRight_Default .rtsLevel .rtsPrevArrowDisabled:hover { background-position: -72px -20px; }
.RadTabStripLeft_Default .rtsLevel .rtsNextArrowDisabled,
.RadTabStripLeft_Default .rtsLevel .rtsNextArrowDisabled:hover,
.RadTabStripRight_Default .rtsLevel .rtsNextArrowDisabled,
.RadTabStripRight_Default .rtsLevel .rtsNextArrowDisabled:hover { background-position: -90px -20px; }
/* </scrolling arrows> */

.RadTabStripTop_Default .rtsLevel { background-color: transparent; }

.RadTabStripTop_Default .rtsLevel1 { width:auto !important; clear:none !important; height:100% !important; }

.RadTabStripTop_Default_Baseline .rtsLevel,
.RadTabStripBottom_Default_Baseline .rtsLevel { background-image: url('TabStrip/TabStripStates.png'); }


/* <orientation: top> */
.RadTabStripTop_Default_Baseline .rtsLevel { background-position: 0 100%; background-repeat: repeat-x; }

.RadTabStripTop_Default .rtsSelected,
.RadTabStripTop_Default .rtsSelected:hover
{
	border-bottom-color: #fff;
	margin-top: 0;
	padding-top: 0px;
}
/* </orientation: top> */

/* <orientation: bottom> */
.RadTabStripBottom_Default_Baseline .rtsLevel { background-position: 0 -149px; background-repeat: repeat-x; }

.RadTabStripBottom_Default .rtsLink
{
	margin-bottom: 2px;
}

.RadTabStripBottom_Default .rtsLink:hover
{
	border-top-color: #dadada;
}

.RadTabStripBottom_Default .rtsSelected,
.RadTabStripBottom_Default .rtsSelected:hover
{
	border-top-color: #fff;
	margin-bottom: 0;
	padding-bottom: 2px;
}
/* </orientation: bottom> */

/* <orientation: left> */
.RadTabStripLeft_Default .rtsLink:hover
{ border-right-color: #dadada; }

.RadTabStripLeft_Default .rtsSelected,
.RadTabStripLeft_Default .rtsSelected:hover
{ border-right-color: #fff; }
/* </orientation: left> */

/* <orientation: right> */
.RadTabStripRight_Default .rtsLink:hover
{ border-left-color: #dadada; }

.RadTabStripRight_Default .rtsSelected,
.RadTabStripRight_Default .rtsSelected:hover
{ border-left-color: #fff; }
/* </orientation: right> */

/* <disabled states> */
.RadTabStrip_Default .rtsDisabled,
.RadTabStrip_Default .rtsDisabled:hover
{
	border-color: #dadada;
	background: #f4f4f4;
	color: #aaa;
}
/* </disabled states> */