ï»¿body { margin: 0; padding: 0; }
body > div { margin-right: auto; margin-left: auto; }
div, form, ul, ol, li, dl, dt, dd, span, p { margin: 0; padding: 0; border: 0; list-style: none; font-family: "å®ä½", Tahoma; font-size: 12px; }
img, a img { border: 0; margin: 0; padding: 0; }
ul, ol, li { list-style: none; }
table, td, input { font-size: 12px; }
h1, h2, h3, h4, h5 { font-size: 100%; font-weight: normal; margin: 0; padding: 0; }
a { outline-style: none; color: #000; text-decoration: none; }
a:hover { color: #cd0200; text-decoration: underline; }
/* é»è®¤é¾æ¥é¢è² */
.clearfloat { display: block; clear: both; content: ""; visibility: hidden; height: 0; line-height: 0; font-size: 0px; }

.red, a.red, a.red:hover { color: #c80000; }
.red a, .red a:hover { color: #c80000; }

/*----- è¡æ -----*/
.index_main { width: 200px; margin: 0 auto; border: none; }
.tabs { clear: both; width: 200px; border: none; }
.tabs .tabsHead { width: 100%; height: 35px; display: none; }
.tabs .tabsHead ul { height: 34px; font-size: 12px; background-color: #fff; margin-left: -1px; }
.tabs .tabsHead li { height: 35px; line-height: 35px; width: 68px; floaï»¿body { margin: 0; padding: 0; }
body > div { margin-right: auto; margin-left: auto; }
div, form, ul, ol, li, dl, dt, dd, span, p { margin: 0; padding: 0; border: 0; list-style: none; font-family: "å®ä½", Tahoma; font-size: 12px; }
img, a img { border: 0; margin: 0; padding: 0; }
ul, ol, li { list-style: none; }
table, td, input { font-size: 12px; }
h1, h2, h3, h4, h5 { font-size: 100%; font-weight: normal; margin: 0; padding: 0; }
a { outline-style: none; color: #000; text-decoration: none; }
a:hover { color: #cd0200; text-decoration: underline; }
/* é»è®¤é¾æ¥é¢è² */
.clearfloat { display: block; clear: both; content: ""; visibility: hidden; height: 0; line-height: 0; font-size: 0px; }

.red, a.red, a.red:hover { color: #c80000; }
.red a, .red a:hover { color: #c80000; }

/*----- è¡æ -----*/
.index_main { width: 200px; margin: 0 auto; border: none; }
.tabs { clear: both; width: 200px; border: none; }
.tabs .tabsHead { width: 100%; height: 35px; display: none; }
.tabs .tabsHead ul { height: 34px; font-size: 12px; background-color: #fff; margin-left: -1px; }
.tabs .tabsHead li { height: 35px; line-height: 35px; width: 68px; float: left; display: block; cursor: pointer; text-align: center; border-left: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5; border-top: 1px solid #e5e5e5; }
.tabs .tabsHead li.hover { width: 70px; background: url(../images14/qh.jpg) repeat-x; border-bottom: 1px solid #fff; }
.tabs .tabBox { position: absolute; left: 0; top: 0; width: 200px; height: 175px; }
.tabs .indexs_container { position: relative; margin-top: 0; width: 200px; height: 175px; overflow: hidden; }
.tabs .indexs_container dl { display: block; clear: both; }
.tabs .indexs_container dl.curr { border-bottom: none; }
.tabs .indexs_container dt { height: 32px; clear: both; line-height: 32px; cursor: pointer; border-bottom: dashed 1px #999; background-color: #fff; }
.tabs .indexs_container dt span { text-align: left; display: block; height: 32px; line-height: 32px; float: left; padding: 0; margin: 0; }
.tabs .indexs_container dt .n1 { width: 58px; text-align: center; display: none; }
.tabs .indexs_container dt .n2 { margin-left: 8px; width: 58px; text-align: center; }
.tabs .indexs_container dt .n3 { margin-left: 8px; width: 58px; text-align: center; }
.tabs .indexs_container dt .n4 { margin-left: 8px; width: 58px; text-align: center; }
.tabs .indexs_container dt.red span { color: #f00000; }
.tabs .indexs_container dt.green span { color: #008000; }
.tabs .indexs_conta