html, body, div, img, a, span {margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline;text-decoration: none;}


#banniere{
	position: relative;
	background-color: #fff;
	font-family: 'Lato', sans-serif;
	line-height: 1;
   	width: 300px;
	height: 250px;
	overflow: hidden;
}
#contours{
  border-width: 1px;
  border-color: rgb( 0, 0, 0 );
  border-style: solid;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 298px;
  height: 248px;
  z-index: 100;
}

#txt1 {
  position: absolute;
  width: 216px;
  left: 29px;
  top: 63px;
  z-index: 12;
}

#arrow {
  position: absolute;
  width: 14px;
  height: 10px;
  left: 133px;
  top: 210px;
  z-index: 10;
}

#txt2 {
  position: absolute;
  width: 271px;
  left: 29px;
  top: 204px;
  z-index: 9;
}

#barre {
  position: absolute;
  width: 101px;
  height: 6px;
  left: 29px;
  top: 192px;
  z-index: 7;
  background-color: #fab511;
}

#logoibm {
  position: absolute;
  width: 17px;
  height: 43px;
  left: 276px;
  top: 7px;
  z-index: 4;
}

#txt3 {
  position: absolute;
  width: 259px;
  left: 28px;
  top: 92px;
  z-index: 2;
}

#imagefond {
  position: absolute;
  width: 300px;
  height: 250px;
  left: 0;
  top: 0;
  z-index: 1;
}

p {
  margin: 0;
  padding: 4px 0 0 0;
  text-indent: 0;
  text-align: left;
  font-weight: 700; 
  font: 21px/21px 'Roboto Condensed', sans-serif;
  text-transform: none;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.005em;
}

.text-style-1 {
  margin: 0;
  padding: 0;
  text-indent: 0;
  text-align: left;
  font-weight: 700; 
  font: 14px/18px Lato;
  text-transform: none;
  text-decoration: none;
  color: #f05139;
  letter-spacing: 0.005em;
}

.text-style-2 {
  margin: 0;
  padding: 0;
  text-indent: 0;
  text-align: left;
    font-weight: 700; 
  font: bold 21px/21px 'Roboto Condensed', sans-serif;
  text-transform: none;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.005em;
}

.text-style-3 {
  margin: 0;
  padding: 0;
  text-indent: 0;
  text-align: left;
   font-weight: 700;
  font: bold 16px/21px Lato;
  text-transform: none;
  text-decoration: none;
  color: #d4463e;
  letter-spacing: 0.005em;
}
