@charset "euc-jp";
/*
createdate: 20120529
update: 20120529
ver: 1.0
author: Nishimura.Takahiro
*/

/*
 ¥¸¥ã¥ó¥ë°ìÍ÷
-------------------------------------------------------------------------*/
#ritMenuArea .ritGenre dd.inner01 li.ritSpGenreTtl {
	color: #bf0000;
	font-weight: bold;
	padding: 0 0 3px 15px!important;
}
#ritMenuArea .ritGenre dd.inner01 li.ritSpGenreBdr {
	background: url(http://a.ichiba.jp.rakuten-static.com/com/img/home/beta/201008/dot_01.gif) repeat-x left bottom!important;
	margin: 0 15px 5px!important;
	width: 85%;	
}
#ritMenuArea .ritGenre dd.inner01 li.ritSpGenreBdr a {
	margin: 0 0 5px 0!important;
	padding-left: 13px!important;
	background: url(http://a.ichiba.jp.rakuten-static.com/com/img/home/beta/201008/tri_f2ab00.gif) no-repeat 4px 4px;
}

/*
 ±¦¾å¥Ð¥Ê¡¼ÏÈ
-------------------------------------------------------------------------*/
.ritSpTimeSale {
 	background: #FFFFFF;
    border-left: 1px solid #C8C8C8;
    margin: 0 2px 0 0;
    padding: 10px 0 8px;
}
.ritSpTimeSaleritSpTimeSale a {
	display: block;
}

.ritSpTimeSale p {
    margin-left:7px;
}

.ritSpTimeSale p.next {
	text-align:right;
	padding: 5px 5px 0;
}

/*
 ¥Õ¥§¥¹ÏÈ ¥«¥¦¥ó¥È¥À¥¦¥ó
-------------------------------------------------------------------------*/
#countDown .timeImage{
	width: 34px;
	height: 38px;
	overflow: hidden;
	float: left;
	z-index: 110;
	background-image: url(http://a.ichiba.jp.rakuten-static.com/com/img/home/201305/supersale/c00_99.gif);
	background-repeat: no-repeat;
}

/*
 ¥¿¥¤¥à¥»¡¼¥ëÏÈ
-------------------------------------------------------------------------*/
#riEventColumn .evFesTimeSale {
	padding: 0;
	height: 80px;
	position: relative;
	overflow: hidden;
	zoom: 1;
	margin: 0 1px 30px 10px;
	display: block;
	background: url(http://a.ichiba.jp.rakuten-static.com/com/img/thumb/200309/message/flash/201408/marathon/timesale/20140802_marathon_default.gif) no-repeat 0 0;
	border: 1px solid #ff0062;
}
#riEventColumn .evFesTimeSale a {
	color: #ffffff;
}
#riEventColumn .evFesTimeSale a:hover {
	color: #ffffff;
	text-decoration: underline;	
}
.evFesItemClmn {
	width: 100%;
	/* border-top: solid 1px #bf0000; */
	/* border-bottom: solid 1px #bf0000; */
	display:block;
	position: absolute;
	top: 0;
	left: 300px;
	overflow: hidden;
}
.evFesItemArea {
	height: 80px;
	overflow:hidden;
	zoom: 1;
	display:block;
	position: relative;
}
.evFesItemArea .evFesItem {
	float: left;
	width: 100px;
}

/* ADDED 2015.02 */

.evFesItemArea .timesaleBox {
	width: 128px;
	float:left;
}

.evFesItemArea .image img {
	width: 128px;
	height: 80px;
}

.evFesItemArea .detail {
	display: none;
} 

/* END_ADDED 2015.02 */

#ssTimesale {
	position: absolute;
	left: 0;
	top: 0;
}
.evFesItem {
	width: 100px;
	position:relative;
}
.evFesItemDet {
	position: relative;
}
.evFesItemDet a {
	/* right: 300px; */
	display: block;
	height: 80px;
	width: 100%;
	position: absolute;
}
.evFesItemBtn {
	position: absolute;
	right: 0;
	top: 0;
}
.evFesItemTxt a {
	color: #fff;
}
.evFesItemTxt {
	width: 94px;
	height: 28px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #000000;
	filter:alpha(opacity=85);
	-moz-opacity:0.85;
	-html-opacity:0.85;
	opacity:0.85;
	background-color:rgba(0,0,0,0.85);
	_background-color: #000000;
	padding: 3px 3px 0;
	color: #ffffff;
	font-size: 90%;
	line-height: 1.2em;
	overflow: hidden;
}
#riEventColumn .evFesTimeSaleBigLink {
	width:100%;
	height:82px;
	position:absolute;
	left:0;
	top:0;
	display:block;
	z-index:1;
}
/*
 ¥¹¥Ú¥·¥ã¥ë¥Æ¥­¥¹¥È¥Ü¥Ã¥¯¥¹ÏÈ
-------------------------------------------------------------------------*/
/*#checkEntry1 .nonEntryBanner a{
	background: url(http://a.ichiba.jp.rakuten-static.com/com/img/home/201305/supersale/20130602_supersale_325_190x96.gif) no-repeat;
	background-position: 0 0;
	width: 190px;
	height: 96px;
	display: block;
}
#checkEntry1 .nonEntryBanner a:hover{
	background-position: 0 -96px;
}*/
#lqTSSAreaWrap {
	overflow: hidden;
	zoom: 1;
	height: 112px;
}
html>body .lqTSSArea{
	float: left9;
	width: %9;
}
.lqTSSArea{
	display: table-cell;
}
.lqTSSArea dl {
	display: block;
	width: 186px;
	height: 56px;
}
.lqTSSArea dl dt, .lqTSSArea dl dd{
	display: inline;
	float: left;
}
.lqTSSArea dl dt {
	width: 40px;
}
.lqTSSArea dl dd {
	width: 120px;
	word-wrap: break-word;
	padding: 0 0 0 10px;
}
#countDown .timeImage{
	width: 34px;
	height: 38px;
	overflow: hidden;
	float: left;
	z-index: 110;
	background-image: url(http://a.ichiba.jp.rakuten-static.com/com/img/home/201305/supersale/c00_99.gif);
	background-repeat: no-repeat;
}