body{
	font-family: sans-serif;
	color: #fff;
}

.hidden{
	opacity: 0;
}

.click {
	cursor:pointer;
}

.absolute {
	position: absolute;
}

#banner {
	background: #f3f3f3;
	position: relative;
	overflow: hidden;
}

#main-click {
	position: absolute;
}

#cta
{
	background-color: #77ccff;
	border-bottom: 5px solid #0484d6;
	border-radius: 10px;
	font-size: 14px;
	bottom: 5px;
	left: 5px;
	padding: 5px 20px;
	margin: 0px 10px 10px 0px;
}
.logo {
    background: url("http://www.davi-t.com/logo.gif") no-repeat;
    position: absolute;
    width: 68px;
    height: 25px;
}
#cta_block{
    transition: all .2s ease-in-out;
}
#cta_block:hover
{

    transform: scale(1.1) translate(0px,-25px);
    /*transform: translate(0px,-5px);*/
	-webkit-transform: scale(1.1) translate(0px,-25px);
	/*border-bottom: 1px solid;*/
}
#cta_button{
    top:3px;
}

#cta_button_div{
    width:300px;
    height:250px;
    cursor: pointer;
}
#character2, #character1, #character3, #character4, #character5, #character6{
    left:300px;
    position: absolute;
}
#textblock1,#textblock2,#textblock3{
    top:300px;
    position: absolute;
}