.sk_box p{margin:0; padding:0;}
.sk_box .ico{display:inline-block; width:20px; height:20px; background:url(../img/kubox.png) no-repeat;}
.sk_box .ico_empty{background-position:0 0;}
.sk_box .ico_new{background-position:0 -20px;}
.sk_box .ico_certified{background-position:-20px 0;}
.sk_box .ico_mark_g{background-position:-20px -20px;}
.sk_box .ico_mark_y{background-position:-20px -40px;}
.sk_box .ico_mark_b{background-position:-20px -60px;}
.sk_box .ico_start{width:40px; height:40px; background-position:-60px 0;}
.sk_box .ico_tip{display:inline-block; width:30px; height:16px; background:#66c285; color:#fff; text-align:center; font:12px/16px "Microsoft yahei";
	border-radius:2px;
}
.sk_box .btn{display:inline-block; margin-right:10px; padding:0; width:86px; height:30px; border:none; text-align:center; font:14px/30px "Microsoft yahei"; color:#fff; text-decoration:none; text-indent:0;}
.sk_box .btn_play{background:#09f;}
.sk_box .btn_play:hover{background:#09f; color:#fff;}
.sk_box .btn_notice{background:#59bdff;}
.sk_box .btn_notice:hover{background:#59bdff; color:#fff;}
.sk_box .btn_buy{background:#f66;}
.sk_box .btn_buy:hover{background:#f66; color:#fff;}
.sk_box .btn_soon{background:#bbb;}
.sk_box .btn_soon:hover{background:#bbb; color:#fff;}

.sk_box{position:absolute; left:0; top:37px; width:448px; border:1px solid #ccc; background:#fff; font:12px/20px arial,"Microsoft yahei","SimSun"; overflow:visible; zoom:1;
	box-shadow:0 0 6px 1px rgba(229,229,229,.8);
	-webkit-font-smoothing:antialiased;
}
.sk_box *{font-family:arial,"Microsoft yahei","SimSun"; color:#909090;}
.sk_box a{color:#06c;}
.sk_box iframe{opacity:0; filter:alpha(opacity=0);}
.sk_box .main{position:relative; width:440px; padding:4px; background:#fff; overflow:hidden;}
/* kubox æç´¢ */
.sk_box .autolist{position:relative; margin:0; padding:0; width:100%;  background:#fff; overflow:hidden;}
.sk_box .autolist li{position:relative; height:32px; line-height:32px; padding:0 5px; background:#fff; font-size:14px; color:#666; vertical-align:middle; list-style:none; overflow:hidden; cursor:pointer; _height:20px; _line-height:20px; _padding:9px 5px 3px;
	-webkit-font-smoothing:antialiased;
}
.sk_box .autolist li.current{background:#f6f7fb; border:0;}
.sk_box .autolist li.empty{height:31px; line-height:31px; border-top:1px solid #e5e5e5; background:none; font-size:12px; color:#494848; text-align:right; _height:20px; _line-height:20px; _padding:8px 5px 3px; }
.sk_box .autolist li.empty span{color:#494848;}
.sk_box .autolist li b{color:#000;}
.sk_box .autolist li a{color:#909090; text-decoration:none;}
.sk_box .autolist li a .high{color:#c00;}
.sk_box .autolist li a .link{color:#06c;}
.sk_box .autolist li .c_0{color:#000;}
.sk_box .autolist li .num{font-size:12px; color:#909090; font-family:arial,"SimSun";}
.sk_box .autolist li .info{position:absolute; top:1px; right:5px; color:#909090; font-size:12px; font-family:arial; _top:6px;}
.sk_box .autolist li .info a{color:#06c;}
.sk_box .autolist li .ico_empty{vertical-align:top; margin-top:6px; *vertical-align:middle; *margin-top:1px; _margin-top:-2px;}
.sk_box .autolist li .ico_tip{margin:0 5px;  _vertical-align:top;}
.sk_box .autolist li img{display:inline-block; margin:8px 5px 0 0; vertical-align:top; border:0; *margin-top:0;}
/* kubox ç­è¯ */
.sk_box .hottit{position:absolute; top:3px; right:6px; font:24px/30px "Microsoft yahei"; color:#ccc; z-index:9;
	-webkit-font-smoothing:antialiased;
}
.sk_box .hotword li{height:30px; line-height:30px; _padding:5px; _height:20px; _line-height:20px;}
.sk_box .hotword li .rank{float:none; display:inline-block; margin-right:10px; width:20px; height:20px; line-height:20px; background:#909090; color:#fff; text-align:center;}
.sk_box .hotword li .top3{background:#f66;}
.sk_box .hot_word{height:22px; padding:8px 0 0 5px; border-top:1px solid #eee; color:#c00; clear:both; overflow:hidden;}
.sk_box .hot_word a{padding-left:5px; margin-right:10px; color:#000;}

/* kubox ç´è¾¾åº */
.sk_box .dir{margin:0 4px; height:80px; padding:6px 0 9px; background:#fff; border-bottom:1px solid #ccc; overflow:hidden;}
.sk_box .dir_down{padding:9px 0 6px; border-top:1px solid #ccc; border-bottom:0;}
.sk_box .dir .pic{float:left; margin-right:10px; width:53px; height:80px; overflow:hidden;}
.sk_box .dir .pic img{width:53px;}
.sk_box .dir .info{position:relative; float:left; width:369px; height:80px; color:#909090; font-size:14px;}
.sk_box .dir .info p{line-height:20px; margin:0 0 4px; padding:0; color:#909090; font-size:14px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; *clear:both; }
.sk_box .dir .info .load_btn{position:absolute; left:0; bottom:0; height:30px; line-height:30px;}
.sk_box .dir .info .load_btn span{vertical-align:top; *display:inline-block; *margin-top:2px;}
.sk_box .dir .tit{line-height:21px; font-size:20px; color:#c00; text-decoration:none; *line-height:22px;}
.sk_box .dir .tit a{color:#c00; text-decoration:none;}
.sk_box .dir .tit a:hover{text-decoration:underline;}
.sk_box .dir .tit span{font-size:14px; }
.sk_box .dir .year,.sk_box .dir .type{margin-left:10px; color:#909090;}
.sk_box .dir .info .part_link{position:absolute; left:0; bottom:0; margin-right:-10px; *width:379px;}
.sk_box .dir .info .part_link a{position:relative; float:left; margin-right:10px; min-width:30px; _width:30px; height:20px; padding:4px; background:#fff; border:1px solid #ddd; color:#555; font:16px/20px "Microsoft yahei"; text-decoration:none; text-align:center; vertical-align:top;}
.sk_box .dir .info .part_link a em{ margin-left:5px; font:12px/18px arial,"SimSun"; color:#aaa; _vertical-align:bottom;}
.sk_box .dir .info .part_link a .ico{position:absolute; top:-8px; right:-4px;}
.sk_box .dir .info .part_link a.on,
.sk_box .dir .info .part_link a:hover{background:#09f; border-color:#09f; color:#fff;}
.sk_box .dir .info .part_link a.on em,
.sk_box .dir .info .part_link a:hover em{color:#fff;}
.sk_box .dir .info .part_link a.long{padding:4px 9px; width:auto; _vertical-align:bottom;}
.sk_box .current{background:#f6f7fb;}
.sk_box .item_list{padding-top:5px;}
.sk_box .item_list p .ico{vertical-align:top; margin-top:2px;}
.sk_box .item_list a{font:14px/22px "Microsoft yahei"; color:#06c; text-decoration:none;}
.sk_box .item_list a:hover{text-decoration:underline;}
.sk_box .item_list a span{color:#06c;}
.sk_box .item_list .rate{display:inline-block; margin:4px 0 0 10px; vertical-align:top; font:12px arial,"SimSun";}
.sk_box .load_btn span{color:#909090;}
.sk_box .load_btn span.high{color:#f66;}

/* kubox ç´æ­ */
.sk_box .live .game_pic{float:left; width:80px; text-align:center;}
.sk_box .live .game_pic img{width:80px;}
.sk_box .live .game_info{float:left; width:270px; text-align:center; line-height:26px; font-size:14px;}
.sk_box .live .game_info p{line-height:26px; font-size:14px; color:#000;}
.sk_box .live .game_info .tit{font-size:20px;}
.sk_box .live .game_info .vs{font-size:14px; padding:0 15px; color:#c00;}
.sk_box .live .pic{position:relative; width:145px;}
.sk_box .live .pic img{width:145px;}
.sk_box .live .pic .channel{position:absolute; left:0; bottom:0; padding:2px 5px; width:135px; height:20px; line-height:20px; background:#000; background:rgba(0,0,0,.6); color:#ccc;}
.sk_box .live .pic .channel img{width:auto; height:20px; vertical-align:top;}
.sk_box .live .info{width:275px;}

/* kubox ç¨æ· */
.sk_box .user .pic{position:relative; width:80px;}
.sk_box .user .pic img{width:80px;}
.sk_box .user .tit{*float:left;}
.sk_box .user .info{width:340px;}
.sk_box .user .info p{_margin-bottom:9px;}
.sk_box .user .info p .ico{vertical-align:top; margin-top:2px; *float:left;}

/* kubox æ¨å¹¿ */
.sk_box .extend{margin:0 -4px -4px -4px; padding:10px 8px; background:#f5f5f5; border:0;}
.sk_box .extend .pic .lab{position:absolute; top:0; left:0; height:22px; line-height:22px; padding:0 8px; background:#f03600; text-align:center; color:#fff;}
.sk_box .extend .info{width:170px;}
.sk_box .extend .tit{display:block; margin-bottom:10px; padding-top:5px; white-space:normal; font-size:16px; color:#333;}
.sk_box .extend .play{float:right; margin:-10px 0; width:90px; height:60px; padding:20px 0 20px 4px; border-left:1px solid #eee; text-align:center;}
.sk_box .extend .play a{display:block; text-decoration:none;}
.sk_box .extend .play p{color:#09f;}

/*
 * name : åè±æ ·å¼;
 * desc : for_tudou;
 */
.for_tudou .sk_box .load_btn  .btn_play{background:#f60;}
.for_tudou .sk_box .load_btn  .btn_notice{background:#ff9b59;}
.for_tudou .sk_box .load_btn  .btn_buy{background:#f66;}
.for_tudou .sk_box .load_btn  .btn_soon{background:#bbb;}
.for_tudou .sk_box .ico_start{background-position:-60px -40px;}
.for_tudou .extend .play p{color:#f60;}

/*
 * name : ä¼é·ä¸»ç«æ ·å¼;
 * desc : sk_youku;
 */
.sk_youku{width:446px; border:2px solid #3eabff;}
.sk_youku .main{padding:3px;}



/*
 * name : kuboxèçæ ·å¼;
 * desc : kubox old css;
 */

/* Begin */
.kubox{position:absolute; left:0; top:37px; width:440px; padding:3px; border:2px solid #3eabff; background:#fff; font:12px/20px arial,helvetica,verdana,tahoma,sans-serif; overflow:visible;}
.kubox iframe{opacity:0;filter:alpha(opacity=0);}
.kubox .main{position:relative; width:440px; overflow:hidden;}
.kubox .autolist{float:left; width:258px; margin:0; padding:0; background:#fff; position:relative; overflow:hidden;}
.kubox .autolist li{position:relative; height:30px; line-height:30px; padding-left:5px; border-top:1px solid #eee; border-right:1px solid #eee; margin-top:-1px; font-size:14px; color:#666; vertical-align:middle; list-style:none; overflow:hidden; cursor:pointer; }
.kubox .autolist li.current{background-color:#f3f3f3; border-right:1px solid #f3f3f3;}
.kubox .autolist li b{color:#000;}
.kubox .autolist li a{color:#909090; text-decoration:none;}
.kubox .autolist li i{margin-left:5px; font-style:normal; color:#000;}
.kubox .autolist li .ico_expand{position:absolute; top:4px; right:0px; text-indent:2em; overflow:hidden;}
.kubox .autolist li .info{position:absolute; top:1px; right:5px; color:#909090; font-size:12px;}
.kubox .autolist li .ico_empty{vertical-align:top; margin-top:5px;}
.kubox .autolist li .empty{font-size:12px;}
.kubox .panels{margin-left:258px; height:100%; _float:left; _margin-left:0; *zoom:1; }
.kubox .panel{background:#f3f3f3; width:182px; height:100%;}
.kubox .panel .item{padding:10px; overflow:hidden; zoom:1;}
.kubox .panel .item .thumb{float:left; width:70px; height:105px; margin-right:10px; background:#999;}
.kubox .panel .item .thumb img{display:block; width:70px; height:105px; border:0;}
.kubox .panel .item .info{line-height:22px; color:#909090; overflow:hidden; _margin-left:80px;}
.kubox .panel .item .title a{color:#000; font-weight:bold; font-size:14px; text-decoration:none; overflow:hidden; }
.kubox .panel .item .title,
.kubox .panel .item .pub,
.kubox .panel .item .actor,
.kubox .panel .item .period{height:22px; line-height:22px; color:#909090; overflow:hidden;}
.kubox .panel .item .play{margin-top:5px;}
.kubox .panel .item .play em{font-style:normal;}
.kubox .hottit{position:absolute; top:-1px; right:6px; font-size:24px; line-height:30px; font-family:"Microsoft yahei"; color:#ccc; z-index:9;}
.kubox .hotword{width:100%; z-index:5;}
.kubox .hotword li{height:30px; line-height:30px; border:0;}
.kubox .hotword li .rank{float:none; display:inline-block; margin-right:10px; width:20px; height:20px; line-height:20px; background:#909090; color:#fff; text-align:center;}
.kubox .hotword li .top3{background:#ff6666;}
.kubox .hot_word{height:22px; padding:8px 0 0 5px; border-top:1px solid #eee; color:#c00; clear:both; overflow:hidden;}
.kubox .hot_word a{padding-left:5px; margin-right:10px; color:#000;}

.kubox .clearfix{display:block; *display:inline-table;}
.kubox .clearfix:after{display:block; content:""; clear:both; height:0; visibility:hidden;}
.kubox .ico_expand{width:20px; height:20px; background:url(../img/kubox_arrowy.png) no-repeat;}
.kubox .btn_play_s{display:inline-block; height:22px; line-height:21px; *line-height:24px; padding:0 10px;  border:1px solid #1a67cb; color:#fff; text-align:top; text-decoration:none; _height:18px; _padding-top:4px;
	background:#2887db;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#2d8de2), to(#2784d9));
	background:-moz-linear-gradient(top, #2d8de2, #2784d9);
	background:-o-linear-gradient(top, #2d8de2, #2784d9);
	background:-ms-linear-gradient(top, #2d8de2, #2784d9);
	border-radius:3px;
	box-shadow:inset 0 1px 0 #3e9ced;
}
.kubox .btn_play_s:hover{text-decoration:none; color:#fff;}
.kubox .btn_play_s .ico_start{vertical-align:top; margin:6px -8px 0 5px; *margin-top:2px;}

.kubox .ico_start{display:inline-block; width:0px; height:0; line-height:0; font-size:0; overflow:hidden; border-width:5px; border-style:dashed dashed dashed solid; border-color:transparent transparent transparent #fff;}

/*
 * name : åè±æ ·å¼;
 * desc : for_tudou;
 */
 
.for_tudou .kubox{border-color:#fdb27f;}
.for_tudou .btn_play_s{border-color:#e68a03; background:#f69000;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#f3a700), to(#fa8403));
	background:-moz-linear-gradient(top, #f3a700, #fa8403);
	background:-o-linear-gradient(top, #f3a700, #fa8403);
	background:-ms-linear-gradient(top, #f3a700, #fa8403);
	box-shadow:inset 0 1px 0 #f9ce54;
}
.for_tudou .kubox .ico_expand{background:url(../img/kubox_arrowt.png) no-repeat;}

/* End */