#information_adchoices_link {  
    float: left; 
    padding-right: 5px;
    color: #000;
    display: none;
}

#information_adchoices img {
    border: none;
}

#information_adchoices a {
    text-decoration: none;
}

#information_adchoices {  
    position: absolute;
    z-index: 3000;
    background-color: rgb(255, 255, 255); /* alternative solide */
    background-color: rgba(255, 255, 255, 0.8);
    margin: 1px;
    font-family: Trebuchet MS,arial;
    font-size: 11px; 
    font-weight: bold;
    z-index: 9999999;
}

#information_adchoices a, #information_adchoices a:hover {  
    text-decoration: none;
}

#information_adchoices.topleft {
    top: 0;
    left: 0;
    -webkit-border-bottom-right-radius: 7px;
        -moz-border-radius-bottomright: 7px;
            border-bottom-right-radius: 7px;
    padding: 2px 5px 2px 3px;
}

#information_adchoices.topright {
    top: 0;
    right: 0;
    -webkit-border-bottom-left-radius: 7px;
        -moz-border-radius-bottomleft: 7px;
            border-bottom-left-radius: 7px;
    padding: 2px 3px 2px 5px;
}

#information_adchoices.bottomleft {
    bottom: 0;
    left: 0;
    -webkit-border-top-right-radius: 7px;
        -moz-border-radius-topright: 7px;
            border-top-right-radius: 7px;
    padding: 2px 5px 2px 3px;
}

#information_adchoices.bottomright {
    bottom: 0;
    right: 0;
    -webkit-border-top-left-radius: 7px;
        -moz-border-radius-topleft: 7px;
            border-top-left-radius: 7px;
    padding: 2px 3px 2px 5px;
}
