ï»¿*{margin:0;padding:0;}
body{margin:0 auto;padding:0;}
div,form,img,ul,ol,li,dt,dd{margin:0;padding:0;border:0;}
table{margin:auto;}
dl{margin:0;padding:0;border:0;}
dt,dd{clear:both;}
h1{font-size:22px;color:#000;font-weight:bold;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
textarea,input{font-size:12px;line-height:15px;margin:0;padding:0;}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:underline;}
a:active{text-decoration:underline;}

.clear{ widows:0; height:0; font-size:0; clear:both;}
.black12,.black12 a{color:#000;}
.black14{line-height:28px;color:#000;font-size:14px;}
.black14b{line-height:28px;color:#000;font-size:14px;font-weight:bold;}
.black14 a,.black14b a{line-height:28px;color:#000;font-size:14px;}
.black16{line-height:32px;color:#000;font-size:16px;}
.black12 a:link,.black14 a:link,.black14b a:link,.black16 a:link {color:#000;}
.black12 a:visited,.black14 a:visited,.black14b a:visited,.black16 a:visited {color:#000;}
.black12 a:hover,.black14 a:hover,.black14b a:hover,.black16 a:hover {color:#000;}
.black12 a:active,.black14 a:active,.black14b a:active,.black16 a:active {color:#000;}

.white12,.white12 a {line-height:24px;color:#fff;font-size:12px;}
.white14,.white14b,.white14 a,.white14b a{line-height:28px;color:#fff;font-size:14px;}
.white14b{font-weight:bold;}
.white12 a:link,.white14 a:link,.white14b a:link {color:#fff;}
.white12 a:visited,.white14 a:visited,.white14b a:visited {color:#fff;}
.white12 a:hover,.white14 a:hover,.white14b a:hover {color:#fff;}
.white12 a:active,.white14 a:active,.white14b a:active {color:#fff;}

.red12,.red12 a{color:#9a0000;}
.red14,.red14b,.red14 a,.red14b a{line-height:28px;color:#9a0000;font-size:14px;}
.red14b{font-weight:bold;}
.red16,.red16b,.red16 a,.red16b a{line-height:32px;color:#9a0000;font-size:16px;}
.red16b{font-weight:bold;}
.red12 a:link,.red14 a:link,.red14b a:link,.red16 a:link,.red16b a:link {color:#9a0000;}
.red12 a:visited,.red14 a:visited,.red14b a:visited,.red16 a:visited,.red16b a:visited {color:#9a0000;}
.red12 a:hover,.red14 a:hover,.red14b a:hover,.red16 a:hover,.red16b a:hover {color:#9a0000;}
.red12 a:active,.red14 a:active,.red14b a:active,.red16 a:active,.red16b a:active {color:#9a0000;}

.blue12,.blue12 a{color:#049;}
.blue12b,.blue12b a{color:#049; font-weight:bold;}
.blue14,.blue14b,.blue14 a,.blue14b a{line-height:28px;color:#049;font-size:14px;}
.blue14b{font-weight:bold;}
.blue12 a:link,.blue12b a:link,.blue14 a:link,.blue14b a:link {color:#049;}
.blue12 a:visited,.blue12b a:visited,.blue14 a:visited,.blue14b a:visited {color:#049;}
.blue12 a:hover,.blue12b a:hover,.blue14 a:hover,.blue14b a:hover {color:#049;}
.blue12 a:active,.blue12b a:active,.blue14 a:active,.blue14b a:active {color:#049;}

.navy14,.navy14b{ font-size:14px; line-height:28px; color:#132b5d;}
.navy14b{font-weight:bold;}
.navy14 a,.navy14b a{ color:#132b5d;}
.navy12,.navy12b{ font-size:12px; line-height:24px; color:#132b5d;}
.navy12b{font-weight:bold;}
.navy12 a,.navy12b a{ color:#132b5d;}

.grey12_3,.grey12_3 a{color:#333;}
.grey12_3 a:link {color:#333;}
.grey12_3 a:visited {color:#333;}
.grey12_3 a:hover {color:#333;}
.grey12_3 a:active {color:#333;}

.grey12_6,.grey12_6 a{color:#666;}
.grey12_6 a:link {color:#666;}
.grey12_6 a:visited {color:#666;}
.grey12_6 a:hover {color:#666;}
.grey12_6 a:active {color:#666;}
.black12,.grey12_3,.grey12_6,.red12,.blue12,.blue12b{line-height:24px;font-size:12px;}

.pagefont,.ptfont,.pagefontpic,.ptfontpic,.pagefontcon,.ptfontcon { font-size:12px; padding:5px 8px; margin:8px 0; overflow:hidden; line-height:30px; background:#fff;}
.pagefontpic,.ptfontpic{ background:none;}
.pagefont { color:#000; border:1px #ccc solid;}
.ptfont { color:#000; border:1px #ccc solid;}
.pagefontpic { color:#fff; border:1px #fff solid;}
.ptfontpic { color:#fff; border:1px #fff solid;}
.pagefontcon { color:#000; border:1px #ccc solid; padding:5px 5px;}
.ptfontcon { color:#000; border:1px #ccc solid;}
#displaypagenum{ clear:both;}
#contentMain #displaypagenum{ height:3em; overflow:hidden;}
#displaypagenum span { background:#bb2737; color:#fff; font-size:12px;}
.back_channel,.back_channel a,.back_channel a:link,.back_channel a:visited,.back_channel a:hover,.back_channel a:active{ width:600px; line-height:28px;color:#c30;font-size:14px; font-weight:bold; text-align:right;}
.prevnext_con {color:#c30;line-height:26px;font-size:14px;}
.prevnext_pic {color:#fff;line-height:26px;font-size:14px;}
.prevnext_con a,.prevnext_pic a {color:#39f;}
.prevnext_con a:hover,.prevnext_pic a:hover {color:#c30;}

.banner1000{width:1000px; margin:0 auto; text-align:center; line-height:0; font-size:0;}
.banner950{width:950px; margin:0 auto; text-align:center; line-height:0; font-size:0;}
.baiduhm{ display:none;}
.newPoint li,.focusPoint{ background:url(http://img.gmw.cn/pic/point.gif) no-repeat left; padding-left:14px;}
/*ä»¥ä¸åå®¹è¿æå¯å */
.banner990{width:990px; margin:0 auto; text-align:center; line-height:0; font-size:0;}
.banner990left{width:728px; line-height:0; font-size:0; float:left; padding-left:15px;}
.banner990right{width:231px; line-height:0; font-size:0; float:left; padding-left:1px;}
/*ä»¥ä¸åå®¹è¿æå¯å */
.banner960{width:1000px; margin:0 auto; text-align:center; line-height:0; font-size:0; padding-top:10px;}

.banner1000left{width:770px; line-height:0; font-size:0; float:left; }
.banner1000right{width:230px; line-height:0; font-size:0; float:left;}
.banner1000{width:1000px; margin:0 auto; text-align:center; line-height:0; font-size:0;}


.footLine{ width:1000px; margin:0 auto; height:0; font-size:0; border-bottom:1px #999 solid; padding-top:10px;}
/* modify by wang aimin 2013-10-09
#pic_window,#window{width:300px;height:270px;position:fixed;z-index:1001;right:5px;bottom:5px;}*/

.noDesktop {
    display: none;
}
@media only screen and (max-width: 600px) {
	.noMobile{display: none!important;}
	.noDesktop{ display:block;}
	.channel-mobileFooter{ text-align:center; font-size:.75em; color:#666; padding:15px; background:#f0f0f0; border-top:1px solid #e5e5e5;}
	.channel-mobileFooter p{ line-height:2em;}
	.channel-mobileFooter a{color:#666; padding:0 1em;}
}

#source a{color:#ccc;}
#contentMsg a{color:#666;}
/* ç¾åº¦æåæéï¼å¨æææç« é¡µä¸­å å¥éèåå®¹ */
#conmsg_baidu, #conmsg_baidu span, #conmsg_baidu *{height:0px; line-height:0px; font-size:0; overflow:hidden;}
/*å¤§å¾360 6å¾æ¨è*/
.picTable{ width:100%;display:table; clear:both;}
.picTable li{ display:block;float:left; text-align:center;}
.picTable li p{ text-align:left;}
.picTable li p.picTit{ height:2em; overflow:hidden; text-align:center;}
.picTable-2 li{ width:49.99%;}
.picTable-3 li{ width:33.33%;}
.picTable-4 li{ width:24.99%;}
.picTable-5 li{ width:19.99%;}
.picTablecel220{ width:220px; margin:0 auto;}

/*é¢åå±*/
#contentBreadcrumbs2 font,.picContent-breadCrumbs2 font {font-size:12px;}
