body {color: #000;font: 12px/1.5em simsun; }
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, cite, code, del, em, img, q, small, strong,
sub, sup, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tr, th, td {
    border: 0 none;font-size: 100%;margin: 0;padding: 0;}
.siteNav .item, .rowHd, .hd, .tabHd, .sideHd, .listFigure .list li, .longList li, .imgScrNavPrev, .imgScrNavNext, .spotlight h3,
.spotlight h3 span, .more a, .cnProduct .sideHd h2, .autoSearch h2 span, .autoSearch .btn, .search_jk .btn, .foodSearch .btn,
.yijing .btn, .stockSearch, .sliderCtrl .prev, .sliderCtrl .next, .fhItem dt i, .sideNavTop a, .goTop a, .header .lang dd i,
.focusNews h2, .ctrl_prev, .ctrl_next, .imgScrNavPrev, .imgScrNavNext, .cityUnion dd span, .cnReci .sideHd h2 {
    background-image: url("http://www.china.com/zh_cn/img1311/theme2013.png?0202");background-repeat: no-repeat;}
.longList {background: rgba(0, 0, 0, 0) url("http://www.china.com/zh_cn/img1311/dotted.png") repeat-x scroll left top;
    padding-top: 10px;}
ol, ul {list-style: outside none none;}
a{color:#000;text-decoration: none;}
a:hover {color: #b31515;text-decoration: underline;}
/*tab1*/
.topline {font: bold 14px/21px simsun;height: 18px;margin-bottom: 8px;overflow: hidden;}
.listFigure {overflow: hidden;padding-bottom: 10px;width: 100%;}
.listFigure .imgNews {float: left;height: 110px;overflow: hidden;padding-top: 4px;position: relative;text-align: center;width: 146px;}
.listFigure .imgNews a, .listFigure .imgNews a:hover {color: #fff;}
.listFigure .imgNews img {height: 110px;width: 146px; }
img{vertical-align: middle;}
.listFigure .imgNews .mas {background: #000 none repeat scroll 0 0;bottom: 0;height: 25px;left: 0; opacity: 0.7 !important;
    position: absolute;width: 146px;}
.listFigure .imgNews .imgTit { bottom: 1px;height: 25px;left: 1px;line-height: 25px;overflow: hidden; padding-top: 83px;
    position: absolute;width: 144px;font-size:12px;}
.listFigure .list {margin-left: 155px;}
.listFigure .list li {background-position: -492px -391px;height: 24px;line-height: 24px;overflow: hidden; padding-left: 12px;}
.listFigure .list li:hover {background-position: -492px -441px;}
.list li a {color: #252525;padding: 5px 0;font-size: 12px;}
.list li a:hover { color: #b31515;}
.longList li {background-position: -492px -290px; font: 14px/28px simsun;height: 28px;overflow: hidden;padding-left: 18px; }
.longList li:hover {background-position: -492px -340px;}
.longList li a {color: #252525;padding: 3px 0;}
.longList li a:hover {color: #b31515;}
.title_blue {color: blue !important;}
.listFigure .imgNews a:hover .imgTit {
    border: 1px solid #333;
    bottom: 0;
    left: 0;
}

/*tab2*/
.art {
    height: 334px;
    overflow: hidden;
}
.art .imgList {
    height: 150px;
    padding-top: 6px;
}
.imgList .imgNews {
    float: left;
    margin-left: 20px;
    position: relative;
    text-align: center;
    width: 168px;
}

.art .imgList .imgNews img {
    height: 134px;
    width: 168px;
}
.imgList .imgNews .mas {
    background: #000 none repeat scroll 0 0;
    bottom: 0;
    height: 25px;
    left: 0;
    opacity: 0.7 !important;
    position: absolute;
    width: 168px;
}
.imgList .imgNews .imgTit {
    bottom: 1px;
    height: 25px;
    left: 1px;
    line-height: 25px;
    overflow: hidden;
    position: absolute;
    padding-top: 89px;
    width: 166px;
    font-size: 12px;
}
.art .imgList .imgNews .imgTit {
    padding-top: 107px;
}
.imgList .imgNews a, .imgList .imgNews a:hover {
    color: #fff;
}
.imgList .imgNews a:hover .imgTit {
    border: 1px solid #333;
    bottom: 0;
    left: 0;
}
.imgList {
    height: 130px;
    margin-left: -20px;
    overflow: hidden;
    position: relative;
    width: 376px;
}
.longList {
    background: rgba(0, 0, 0, 0) url("http://www.china.com/zh_cn/img1311/dotted.png") repeat-x scroll left top;
    padding-top: 10px;
}
                                                           /*tab3*/
.ifwh {
    height: 334px;
    overflow: hidden;
}
.TukuBlock {
    height: 330px;
    overflow: hidden;
    padding-top: 4px;
    position: relative;
    width: 100%;
}
.TukuBlock .figure-news {
    position: absolute;
}
.mti0 {
    left: 0;
    top: 4px;
}
.mti0, .mti1, .mti0 img, .mti1 img, .mti0 a, .mti1 a {
    height: 156px;
    width: 208px;
}
.TukuBlock .figure-news dd {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
}
.TukuBlock .figure-news dd a, .TukuBlock .figure-news dd a:hover {
    color: #fff;
    display: block;
    text-decoration: none;
}
.TukuBlock .figure-news dd a, .TukuBlock .figure-news dd a:hover {
    color: #fff;
    display: block;
    text-decoration: none;
}
.mti0 .f-tit, .mti1 .f-tit {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    bottom: 0;
    font: 14px/35px simsun;
    height: 35px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 208px;
}
.mti0 .f-sum, .mti1 .f-sum {
    display: none;
    font-size: 14px;
}
.mti2 .f-sum, .mti3 .f-sum, .mti4 .f-sum {
    display: none;font: 12px/25px simsun;
}
.mti1 {
    left: 0;
    top: 170px;
}
.mti2 {
    left: 220px;
    top: 4px;
}
.mti2, .mti3, .mti4, .mti2 img, .mti3 img, .mti4 img, .mti2 a, .mti3 a, .mti4 a {
    height: 102px;
    width: 136px;
}
.mti2 .f-tit, .mti3 .f-tit, .mti4 .f-tit {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    bottom: 0;
    font: 12px/25px simsun;
    height: 25px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 136px;
}
.mti2 dd a, .mti3 dd a, .mti4 dd a {
    height: 102px;
}
.mti3 {
    left: 220px;
    top: 114px;
}
.mti4 {
    left: 220px;
    top: 224px;
}
.TukuBlock .figure-news dd.hover a {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
}
.TukuBlock .figure-news dd.hover .f-tit{
    display: none;
}
.TukuBlock .figure-news dd.hover .f-sum{
    display: block;
}