@charset "utf-8";
/* CSS Document */

.mfbb_dynamic {
    background-color: #EEE;
    width: 100%;
    height: 100%;
}

a.mfbb_dynamic_header_link {
    display: block;
    position: absolute;
    top: 0;
    left: 36px;
    right: 36px;
    height: 115px;
}

.mfbb_dynamic_items {
    list-style: none outside none;
    text-align: center;
}

.mfbb_dynamic_item {
    display: inline-block;
    width: 178px;
    margin: 115px 13px;
    vertical-align: top;
}

/* hack for IE7 inline-block behavior */
html.ie7 .mfbb_dynamic_item {
    display: inline;
    zoom: 1;
}

a.mfbb_dynamic_item_link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

html.ie7 a.mfbb_dynamic_item_link {
    cursor: pointer;
    overflow: hidden;
}

.mfbb_dynamic_item_link span {
    display: block;
}

.mfbb_dynamic_item_imgc {
    background-color: white;
    width: 178px;
    height: 178px;
    font: 0/0 a;
	border: 1px solid transparent;
}

.mfbb_dynamic_item_img_hack {
    display: inline-block !important;
    height: 100%;
    vertical-align: middle;
}

.mfbb_dynamic_item img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.mfbb_dynamic_item_text {
    padding: 15px 10px;
    text-align: left;
    white-space: nowrap;
}

.mfbb_dynamic_item_text * {
    line-height: 1;
    color: #FFFFFF;
    padding-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mfbb_dynamic_item_title {
    font-size: 15px;
    color: #DDDDDD;
}

.mfbb_dynamic_item_price {
    font-size: 19px;
    font-weight: 500;
}

.mfbb_dynamic_item_savings {
    color: #DDDDDD;
    font-size: 14px;
    font-weight: 500;
}