body,html{margin:0;padding:0;background:#fff;font-size:12px;font-family:Arial,Helvetica,sans-serif;}
img{border:0}
.fb{position:absolute;border-style:solid;left:0;top:0;pointer-events:none;z-index:9999;}
.ui{position:absolute;}
.fset{overflow:hidden;position:relative;float:left;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;}
.txt{font-size:12px;overflow:hidden;}
.txt a:link,div{text-decoration:none;cursor:pointer}
.txt a:hover{text-decoration:none;}
.hide{display:none;}
.kz-logo{background:url(//img.kuaizitech.com/static/logo-bg-s.png) no-repeat 0 0;position:absolute;display:block;width:24px;height:17px;font-size:12px;line-height:17px;z-index:99999;overflow:hidden;text-decoration:none;color:#fff;outline:none;_background:none;}
.kz-logo:hover{width:48px;background-image:url(//img.kuaizitech.com/static/logo-bg-f.png);cursor:pointer;_background:none;}
.kz-logo-lt{left:0;top:0;background-position:0 -17px}
.kz-logo-rt{right:0;top:0;background-position:0 -34px}
.kz-logo-lb{left:0;bottom:0;background-position:0 -51px}
.kz-logo-rb{right:0;bottom:0;background-position:0 0}
