
/* reset */

html, body, object, img {
    margin: 0;
    padding: 0;
	}

a:active,
a:hover {
    outline: 0;
	}

img {
    border: 0;
	}

/* structure */

#content{
	width: 300px;
	height: 250px;
	overflow: hidden;
	position: relative;
	background: url(bg-glow.jpg) 0 0 no-repeat;
	}

/* elements */

#frame-1, #frame-1b, #frame-2, #frame-3, #cta, #logo, #chip, #flash, #run-1, #run-2, #run-3, #watch, #legal-2{
	width: 300px;
	height: 250px;
	display: block;
	position: absolute;
	}

#chip{
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0;
	background: url(frame-sprite-1.png) 0 0 no-repeat;
	}

#frame-1{
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0;
	background: url(frame-1.png) 0px 0 no-repeat;
	background-size: 300px 250px;
	-webkit-transform: translate( 75px, 75px) scale(7) ;
	-ms-transform: translate( 75px, 75px) scale(7) ;
	-moz-transform: translate( 75px, 75px) scale(7) ;
	transform: translate( 75px, 75px) scale(7) ;
	}
	
#frame-1b{
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0;
	background: url(frame-sprite-1.png) -600px -250px no-repeat;
	}

#frame-2{
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0;
	background: url(frame-2.png) 0px 0 no-repeat;
	background-size: 300px 250px;
	-webkit-transform: translate( 75px, 75px) scale(7) ;
	-ms-transform: translate( 75px, 75px) scale(7) ;
	-moz-transform: translate( 75px, 75px) scale(7) ;
	transform: translate( 75px, 75px) scale(7) ;
	}

#frame-3{
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0;
	background: url(frame-sprite-1.png) -600px 0 no-repeat;
	}

#logo{
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0;
	background: url(frame-sprite-3.png) 0px 0px no-repeat;
	}

#cta{
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0;
	background: url(frame-sprite-1.png) -300px -250px no-repeat;
	}

#flash{
	top: 0;
	left: 0;
	z-index: 110;
	opacity: 0;
	background: #ffffff;
	}

#run-1{
	top: 0;
	left: 0;
	z-index: 101;
	opacity: 0;
	background: url(frame-sprite-2.jpg) 0 0 no-repeat;
	}

#run-2{
	top: 0;
	left: 0;
	z-index: 102;
	opacity: 0;
	background: url(frame-sprite-2.jpg) -300px 0 no-repeat;
	}

#run-3{
	top: 0;
	left: 0;
	z-index: 103;
	opacity: 0;
	background: url(frame-sprite-2.jpg) -600px 0 no-repeat;
	}

#watch{
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0;
	background: url(frame-sprite-1.png) -300px 0 no-repeat;
	}

a.click-through{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    cursor: pointer;
    opacity: 0;
    z-index: 999;
    background: #ffffff;
    }

#legal-2{
	top: 0;
	left: 0;
	z-index: 902;
	opacity: 0;
	background: url(frame-sprite-1.png) 0 -250px no-repeat;
	}

/* Animations */

.animClass {
	-webkit-transform: translate3d(0, 0, 0); /* Force Hardware Acceleration */
	}

.transition-1{
	-webkit-transition: all 0.4s ;
	-ms-transition: all 0.4s ;
	-moz-transition: all 0.4s ;
	transition: all 0.4s ;
	}

.transition-2{
	-webkit-transition: all 0.7s ;
	-ms-transition: all 0.7s ;
	-moz-transition: all 0.7s ;
	transition: all 0.7s 
	}

.transition-3{
	-webkit-transition: all 0.2s ;
	-ms-transition: all 0.2s ;
	-moz-transition: all 0.2s ;
	transition: all 0.2s ;
	}

.transition-4{
	-webkit-transition: all 0.9s ;
	-ms-transition: all 0.9s ;
	-moz-transition: all 0.9s ;
	transition: all 0.9s ;
	}

/* chip */

.scale-down-1{
	-webkit-transform: translate( 0, 0) scale(1) !important;
	-ms-transform: translate( 0, 0) scale(1) !important;
	-moz-transform: translate( 0, 0) scale(1) !important;
	transform: translate( 0, 0) scale(1) !important;
	}

.scale-down-2{
	-webkit-transform: translate( -11px, -6px) scale(0.185) !important;
	-ms-transform: translate( -11px, -6px) scale(0.185) !important;
	-moz-transform: translate( -11px, -6px) scale(0.185) !important;
	transform: translate( -11px, -6px) scale(0.185) !important;
	}

.move-left{
	-webkit-transform: translate( -300px, 0px);
	-ms-transform: translate( -300px, 0px);
	-moz-transform: translate( -300px, 0px);
	transform: translate( -300px, 0px);
	}

/* fades */

.fade-in{
	opacity: 1 !important;
	}

.half-fade{
	opacity: 0.8 !important;
	}

.fade-out{
	opacity: 0 !important;
	}
