body {
  margin: 0;
}

a {
  cursor: pointer;
  position: absolute;
}

.wrapper {
  position: absolute;
  width: 728px;
  height: 90px;
  overflow: hidden;
  background-size: cover;
}
.wrapper #banner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wrapper #banner .BG {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}
.wrapper #banner .Logo {
  position: absolute;
  top: 17px;
  left: 12px;
}
.wrapper #banner .CarreBG {
  position: absolute;
  top: 0px;
  left: 0px;
}
.wrapper #banner .txt01 {
  position: absolute;
  top: 27px;
  left: 109px;
}
.wrapper #banner .txt01 img {
  position: relative;
}
.wrapper #banner .Offre01 {
  position: absolute;
  top: 171px;
  left: 228px;
}
.wrapper #banner .Glow01 {
  position: absolute;
  top: 19px;
  left: 182px;
  opacity: 0;
  transform-origin:center center;
  -webkit-transform-origin:center center;
  -moz-transform-origin:center center;
  -ms-transform-origin:center center;
}
.wrapper #banner .Glow01 img{
  width:100%;
  height:auto;
}
.wrapper #banner .txtFibre {
  position: absolute;
  top: 35px;
  left: 100px;
  opacity: 0;
}
.wrapper #banner .OffreExclu {
  position: absolute;
  top: 14px;
  left: 800px;
  /*opacity: 0;*/
}
.wrapper #banner .Box {
  position: absolute;
  top: 11px;
  left: 900px;
}
.wrapper #banner .CTA {
  position: absolute;
  top: 35px;
  left: 450px;
  opacity:0;

   transform:scale(1);
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  -ms-transform:scale(1);

  -webkit-animation:scaleAnimD 1.3s ease 12.5s 1 normal both;
  -moz-animation:scaleAnimD 1.3s ease 12.5s 1 normal both;
  animation:scaleAnimD 1.3s ease 12.5s 1 normal both;

}

.wrapper #banner .VoirConditions {
  position: absolute;
  top: 100px;
  left: 471px;
  opacity: 0;
}
.wrapper #banner .Mention {
  position: absolute;
  top: 90px;
  left: 0px;
  z-index:15;
}

.wrapper #banner .txt03 {
  position: absolute;
  top: 0px;
  left: 0px;
}

.wrapper #banner .FibreGlow {
  position: absolute;
  top: 26px;
  left: 98px;
  opacity: 0;
}

.wrapper #banner .txtPrix {
  position: absolute;
  top: 6px;
  left: 281px;
  opacity: 0;
}
.wrapper #banner .GlowPrix {
  position: absolute;
  top: 14px;
  left: 275px;
  opacity: 0;
}

.wrapper #banner .GlowCTA {
  position: absolute;
  top: 26px;
  left: 441px;
  opacity: 0;
}


.wrapper #banner .PrixTxt {
  position: absolute;
  top: 23px;
  left: 283px;
  opacity: 0;
  transform:scale(1);
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  -ms-transform:scale(1);

  -webkit-animation:scaleAnimD 2s linear 5.5s 1 normal both;
  -moz-animation:scaleAnimD 2s linear 5.5s 1 normal both;
  animation:scaleAnimD 2s linear 5.5s 1 normal both;  

}

.wrapper #banner .PrixTxt img {
/*  width: 100%*/
}






@keyframes scaleAnimD {
  
    0%{transform:scale(1);}
  
    25%{transform:scale(1.1)}

    50%{transform:scale(1);}

    75%{transform:scale(1.1);}

    100%{transform:scale(1);}
  
    
}


@-webkit-keyframes scaleAnimD {
  
    0%{transform:scale(1);}
  
    25%{transform:scale(1.1);}

    50%{transform:scale(1);}

    75%{transform:scale(1.1);}

    100%{transform:scale(1);}
  
    
}


@-moz-keyframes scaleAnimD {
  
    0%{transform:scale(1);}
  
    25%{transform:scale(1.1);}

    50%{transform:scale(1);}

    75%{transform:scale(1.1);}

    100%{transform:scale(1);}
  
    
}


@-ms-keyframes scaleAnimD {
  
    0%{transform:scale(1);}
  
    25%{transform:scale(1.1);}

    50%{transform:scale(1);}

    75%{transform:scale(1.1);}

    100%{transform:scale(1);}
  
    
}


@keyframes FadeIn {
  
    0%{transform:scale(1);}
  
    0%{opacity:1;}

    100%{opacity:1;}

   
  
    
}










