html,body{ font-size:12px;}
* { margin: 0; padding: 0; list-style: none;}
a { color:#222; text-decoration: none; }
#chinaso_search .China_search_24_new{height:30px;width:230px; position:relative;}
#chinaso_search .China_search_24_new .logo { float:left;background:url(http://www.chinaso.com/static/image/bg_2_03.png) no-repeat;height: 29px;width: 63px; text-indent: -9999px;}
#chinaso_search .China_search_24_new img {border: medium none;float: left;}
#chinaso_tabs a{float:left;padding:0;margin:0 8px;height:16px;overflow:hidden;color:#06c; text-decoration:none}
#chinaso_search #chinaso{color:#E60012;font-weight:bold;}
#chinaso_search .search_input2{margin:0;padding:0;float:left;width:112px;height:26px;border:1px solid #ccc;line-height:26px;font-size:12px; text-indent:5px; font-family:å¾®è½¯éé»}
#chinaso_search .search_btn2{float:left;width:44px;height:28px;border:1px solid #ccc;margin-left:-1px;background:url(http://www.chinaso.com/static/image/search_03.png) no-repeat -2px -1px;text-indent: -9999px;}
#chinaso_search  #searchHotWord{color: #666;cursor: text;font-size: 16px;height: 22px;left: 62px;line-height: 22px;padding: 2px 2px 2px 7px;position: absolute;top: 1px;width: 103px; font-size:12px; font-family:å¾®è½¯éé»}

/*ç­æè¯å¼¹åº*/
.keywords-box { position:absolute; background:#fff; top:28px; left:63px; border:1px solid #ccc; border-top:none; width:112px; font-size:12px; font-family:'å®ä½'; z-index:999; zoom:1; overflow:hidden;}
.keywords-box h3 { font-size:12px; font-weight:normal; height:30px; line-height:30px; border-bottom:1px dotted #eee; padding:0px 10px;}
.keywords-box p { height:30px; line-height:30px; border-top:1px dotted #eee; padding:0px 10px; text-align:right;}
.keywords-box ul li { height:30px; line-height:30px; }
.keywords-box ul li a { display:block; padding:0 10px;font-size: 12px;}
.keywords-box ul li a:hover { text-decoration:none; background:#eee;}
.logo, #chinaso_search .search_btn2{text-indent:-9999px; }