#main-panel {
	top: 0px;
	left: 0px;
	width: 968px;
	height: 248px;
	border: 1px solid #000;
	/*border: 1px solid #c00d20;*/
	position: absolute;
	overflow: hidden;
	background-color: #0a7e8d; 
}

#bg_exit_resolve, #bg_exit_gif, #bg_exit_video {
	position: absolute;
	width: 970px;
	height: 250px;
	top: 0px;
	left: 0px;
	cursor: pointer;
	/*opacity: 0;*/
	/*z-index: 1;*/
}

#video-player {
	width: 442px;
	height: 250px;
	position: absolute;
	border: solid #000 1px;
	background-color: #0a7e8d;
	z-index: 3;
}

#video-player-intro {
	width: 970px;
	height: 250px;
	position: absolute;
	border: solid #000 0px;
	background-color: #0a7e8d;
	z-index: 0;
}

#vid-intro
{
	z-index: 0;
}

#ytClose {
	z-index: 999;
}

#navigation {
	z-index: 0;
	position: absolute;
	right: -140px;
	bottom: -4px;
}

#intro_screen > div,
#intro_screen > div > div {top:0px; position: absolute; overflow:hidden; cursor:pointer;width:970px; height:250px; z-index:0}
#intro_screen > img {position: absolute; top:0px; width:970px; height:250px; z-index:0}
#intro_screen div, #intro_screen img {width:970px; height:250px; z-index:0;}

#video_screen > div,
#video_screen > div > div {top:0px; position: absolute; overflow:hidden; width:970px; height:250px; z-index:0}
/*#video_screen > img {position: absolute; top:0px; width:970px; height:250px; z-index:0}
#video_screen div, #video_screen img {width:970px; height:250px; z-index:0;}*/

#gif_screen > div,
#gif_screen > div > div {top:0px; position: absolute; overflow:hidden; cursor:pointer; width:970px; height:250px; z-index:0}
/*#gif_screen > img {position: absolute; top:0px; width:970px; height:250px; z-index:0}*/
/*#gif_screen div, #gif_screen img {width:970px; height:250px; z-index:0;}*/

#resolve_screen > div,
#resolve_screen > div > div {top:0px; position: absolute; overflow:hidden; cursor:pointer;width:970px; height:250px; z-index:0}
/*#resolve_screen > img {position: absolute; top:0px; width:970px; height:250px; z-index:0}*/
/*#resolve_screen div, #resolve_screen img {width:970px; height:250px; z-index:0;}*/

/*#buttons {position: absolute; cursor:pointer; left:0px}*/
#btn_replay, #btn_replay div, #btn_replay img {position:absolute; cursor:pointer; width:172px; height:67px; left:0px; top:0px}

#nav_elements {position: absolute; display: inline; left: 10px; top:0px}
.nav_element, .nav_element img {position: relative; display: inline; cursor:pointer; padding:0px; margin:0px; float: left}

#img_01, #img_02, #img_03, #img_04 {position: absolute; display: inline; left:51px; top:17px;}
#quote_01, #quote_02, #quote_03, #quote_04 {position: absolute; display: inline; left:0px; top:202px;}
#quote_frame {position: absolute; display: inline; left:18px; top:0px;}

#quote_arrow_left {position: absolute; display: inline; left:14px; top:110px; cursor:pointer}
#quote_arrow_right {position: absolute; display: inline; left:399px; top:110px; cursor:pointer}
#gallery_elements {position: absolute; display: inline; left:10px; top:150px; width:200px}
#cta_03, #cta_03 img {position: absolute; width:166px; height:67px; right:0px; top:162px; cursor:pointer}
#cta_02, #cta_02 img {position: absolute; width:166px; height:67px; right:0px; top:162px; cursor:pointer}
#cta_01, #cta_01 img {position: absolute; width:252px; height:96px; left:625px; top:132px; cursor:pointer}

#btn_audio, #btn_audio img {position: absolute;  width:476px; height:250px; left:-10px; top:0px; cursor:pointer; z-index:5}

#characters {left:470px; width:200px;}
#characters img {position: absolute; bottom:0px}
#character_01 {left:40px}
#character_02 {left:202px}
#character_03 {left:0px}
#character_04 {left:140px}

/*#vid > div{width: 442px; height: 250px;}*/

