/* Overlay style */
.overlay {
  display: block;
	position: fixed;
	width: 100%;
	height: auto;
	top: 70px;
	border-top: 1px solid #dedede;
	left: 0;
	background: #f7f5f6;
}

/* Overlay closing cross */
.overlay .overlay-close {
  display: none;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(../imgv5/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	/*-webkit-transform: translateY(-50%);*/
	/*transform: translateY(-50%);*/
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	/*height: calc(100% / 5);*/
	min-height: 54px;
	/*-webkit-backface-visibility: hidden;*/
	/*backface-visibility: hidden;*/
}

.overlay ul li a {
	font-size: 54px;
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #e3fcb1;
}

/* Effects */
.overlay-slidedown {
    overflow-y: scroll;
    height: 100%;
    z-index: 999999999999;
    visibility: hidden;
    display: block!important;
	-moz-transform: translateY(-110%);
	-webkit-transform: translateY(-110%);
	transform: translateY(-110%);
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	transition: transform 0.5s ease-in-out;
}

.overlay-slidedown.open {
	visibility: visible;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}