@charset "EUC-JP";

#shopping-counter-section {
	width: 100%;
}
#shopping-counter-section .shopping-counter-wrap {
	position: relative;
	width: 605px;
	height: 80px;
	margin: 0 auto;
	background: #ffffff url(http://a.ichiba.jp.rakuten-static.com/com/inc/home/20080930/beta/tz/img/festival/201512/shopping_counter_bg.png) center center no-repeat;
}
#shopping-counter-section.no-counter .shopping-counter-wrap {
	background: #ffffff url(http://a.ichiba.jp.rakuten-static.com/com/inc/home/20080930/beta/tz/img/festival/201512/shopping_counter_bg_no_counter.png) center center no-repeat;
}
#shopping-counter-section .count-down-timer .timeImage {
	position: absolute;
}
#shopping-counter-section .count-down-timer .hour {
	top: 47px;
	left: 210px;
}
#shopping-counter-section .count-down-timer .minute {
	top: 47px;
	left: 302px;
}
#shopping-counter-section .count-down-timer .second {
	top: 47px;
	left: 358px;
}
#shopping-counter-section .count-down-timer .timeImage > * {
	float: left;
}
#shopping-counter-section .shopping-counter-body > * {
	position: absolute;
}
#shopping-counter-section .shopping-counter-body img {
	width: 36px;
	height: 54px;
	margin: 0 2px 0 0;
}
#shopping-counter-section .shopping-counter-body .default,
#shopping-counter-section .shopping-counter-body .nologin,
#shopping-counter-section .shopping-counter-body .error,
#shopping-counter-section .shopping-counter-body .busy,
#shopping-counter-section .shopping-counter-body .login {
	top: 21px;
	left: 512px;
}