body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
fieldset, button, input, textarea,
th, td {
    margin: 0;
    padding: 0;
}
body,
button, input, select, textarea {
    font: 12px/1 Tahoma, Helvetica, Arial,"\5FAE\8F6F\96C5\9ED1", "\5b8b\4f53", sans-serif;
}
a img{border: 0;}
h1 { font-size: 18px; }
h2 {font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }
ul, ol { list-style: none; }
a { text-decoration: none; color: #000}
/*CSS RESET END*/

.qua-49-22{
    width: 49px;
    height: 22px;

    color: #fbf36f;
    font-size: 12px;
    line-height: 22px;
    text-align: center;

    overflow: hidden;
    background: url("http://fm.p0y.cn/ct/images/widget/rebate/qua-49-22.png") no-repeat;
}

.qua-49-22-normal{
    width: 49px;
    height: 22px;

    color: #fbf36f;
    font-size: 12px;
    line-height: 22px;
    text-align: center;

    overflow: hidden;
    background: url("http://fm.p0y.cn/ct/images/widget/rebate/qua-49-22.png") no-repeat;
}

.medal-52-52{
    width: 52px;
    height: 52px;

    color: #FFF;
    line-height: 46px;
    overflow: hidden;
    text-align: center;
    background: url("http://fm.p0y.cn/ct/images/widget/rebate/medal-52-52.png") no-repeat;
}

.medal-52-52-normal{
    width: 52px;
    height: 52px;

    color: #FFF;
    line-height: 46px;
    overflow: hidden;
    text-align: center;
    background: url("http://fm.p0y.cn/ct/images/widget/rebate/medal-52-52.png") no-repeat;
}

.medal-52-52 strong{
    font-size: 20px;
    font-weight: normal;
}
.medal-52-52 span{
    line-height: 18px;
    font-size: 16px;
    margin-top: 4px;
    display: inline-block;
}

    .reb-79-44{
        width: 75px;
        height: 44px;
        padding-right: 4px;
        color: #fcf38f;
        line-height: 45px;
        text-align: center;
        background: url("http://fm.p0y.cn/ct/images/widget/rebate/reb-79-42.png") no-repeat;
    }
    .reb-79-44 strong{
        padding: 0 2px;
        font-size: 16px;
    }

    .reb-41-23{
        width: 41px;
        height: 23px;
        color: #fcf38f;
        line-height: 25px;
        text-align: center;
        background: url("http://fm.p0y.cn/ct/images/widget/rebate/reb-41-23.png") no-repeat;
    }

    .ribbon-75-23{
        width: 75px;
        height: 23px;
        color: #FFFFFF;
        text-align: center;
        line-height: 15px;
        padding-left: 7px;
        overflow: hidden;
        background: url("img/rebate/ribbon-75-23.png") no-repeat;
    }
    .ribbon-75-23 strong{
        font-weight: normal;
}
/*
   * @ ç¼è¾å¨æåææ¨¡æ¿
   * @Author by åå»ºå©·
   * @Version 1.0.0
   * @date 2015-03-26
   * */


/*ææ£èæ¯æ ·å¼*/
.dis-default-normal{
    width: 46px;
    height: 36px;

    color: #fff;
    font-size: 12px;
    line-height: 51px;
    text-align: center;

    overflow: hidden;
    background: url("images/default.png") no-repeat;
}
.dis-baozha-normal{
    width: 42px;
    height: 42px;

    color: #fff;
    font-size: 12px;
    line-height: 30px;
    text-align: center;

    overflow: hidden;
    background: url("images/baozha.png") no-repeat;
}
.dis-diaopai-normal{
    width: 38px;
    height: 48px;

    color: #fff;
    font-size: 12px;
    line-height: 40px;

    overflow: hidden;
    background: url("images/diaopai.png") no-repeat;
}
.dis-diaopai-normal i{
    display: inline-block;
    font-style: normal;
    text-align: center;
    padding-left: 4px;
    transform: rotate(-20deg);
}
.dis-huoyan-normal{
    width: 40px;
    height: 56px;

    color: #fff;
    font-size: 12px;
    line-height: 90px;
    text-align: center;

    overflow: hidden;
    background: url("images/huoyan.png") no-repeat;
}
.dis-youchuo-normal{
    width: 39px;
    height: 39px;

    color: #b80000;
    font-size: 14px;
    line-height: 39px;
    text-align: center;

    overflow: hidden;
    background: url("images/youchuo.png") no-repeat;
}

/*ä»·æ ¼èæ¯æ ·å¼*/
.price-default-normal{
    width: 64px;
    height: 23px;

    color: #fff;
    font-size: 12px;
    line-height: 23px;
    text-align: center;
    padding-left: 3px;

    overflow: hidden;
    background: url("images/default-bg.png") no-repeat;
}
.price-chkt-normal{
    width: 81px;
    height: 24px;

    color: #fff;
    font-size: 12px;
    line-height: 26px;
    text-align: center;

    overflow: hidden;
    background: url("images/chuangketie.png") no-repeat;
}

.price-duidie-normal{
    width: 77px;
    height: 28px;

    color: #fff;
    font-size: 12px;
    line-height: 23px;
    text-align: center;
    padding-left: 10px;

    overflow: hidden;
    background: url("images/duidie.png") no-repeat;
}
.price-piaodai-normal{
    width: 83px;
    height: 22px;

    color: #fff;
    font-size: 12px;
    line-height: 22px;
    text-align: center;

    overflow: hidden;
    background: url("images/piaodai.png") no-repeat;
}
.price-zhezhi-normal{
    width: 77px;
    height: 23px;

    color: #fff;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    padding-left: 8px;

    overflow: hidden;
    background: url("images/zhezhi.png") no-repeat;
}

/*ç¿»é¡µåæ¢èæ¯æ ·å¼*/
.pre-grey-normal{
    width: 21px;
    height: 21px;

    text-align: center;

    overflow: hidden;
    background: url("images/left-grey.png") no-repeat;
}
.next-grey-normal{
    width: 21px;
    height: 21px;

    text-align: center;

    overflow: hidden;
    background: url("images/left-grey.png") no-repeat;
}
.pre-white-normal{
    width: 20px;
    height: 18px;

    text-align: center;

    overflow: hidden;
    background: url("images/left-white.png") no-repeat;
}
.next-white-normal{
    width: 20px;
    height: 18px;

    text-align: center;

    overflow: hidden;
    background: url("images/right-white.png") no-repeat;
}
.pre-greysqu-normal{
    width: 14px;
    height: 18px;

    text-align: center;

    overflow: hidden;
    background: url("images/left-grey-square.png") no-repeat;
}
.next-greysqu-normal{
    width: 14px;
    height: 18px;

    text-align: center;

    overflow: hidden;
    background: url("images/right-grey-square.png") no-repeat;
}
.pre-squ-normal{
    width: 20px;
    height: 18px;

    text-align: center;

    overflow: hidden;
    background: url("images/left-square.png") no-repeat;
}
.next-squ-normal{
    width: 20px;
    height: 18px;

    text-align: center;

    overflow: hidden;
    background: url("images/right-square.png") no-repeat;
}
.pre-up-normal{
    width: 19px;
    height: 15px;

    text-align: center;

    overflow: hidden;
    background: url("images/up-white.png") no-repeat;
}
.next-down-normal{
    width: 19px;
    height: 15px;

    text-align: center;

    overflow: hidden;
    background: url("images/down-white.png") no-repeat;
}