IMG {
	VERTICAL-ALIGN: middle; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
UL {
	LIST-STYLE-TYPE: none;
}
div {
	display: inline-block;
}
a,area {blr:expression(this.onFocus=this.blur()) } 
:focus {outline-style: none; }

/*Tab*/
#item,#item2,#item4,#item5{
	font-size: 12px;
	width:308px;
	padding-top: 10px;
}
#item3 {
	font-size: 12px;
	width:290px;
	padding-top: 10px;
}
#item ul,#item2 ul,#item3 ul,#item4 ul,#item5 ul  {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#item #tabBar,#item2 #tabBar2,#item3 #tabBar3,#item4 #tabBar4,#item5 #tabBar5{
	padding-left: 10px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	margin-right: 10px;
	height: 28px;
}
#tabBar li,#tabBar2 li,#tabBar3 li,#tabBar4 li,#tabBar5 li {
	float: left;
	height: 27px;
	line-height: 27px;
	margin-right: 5px;
}
#item div,#item2 div,#item3 div,#item4 div,#item5 div{
	clear: both;
	display: none;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
}
#item .show,#item2 .show,#item3 .show,#item4 .show,#item5 .show {
	display: block;
}
#tabBar a,#tabBar2 a,#tabBar3 a,#tabBar4 a,#tabBar5 a{
	background-repeat: no-repeat;
	height: 27px;
	display: block;
	padding-right: 5px;
	color: #004678;
	text-decoration: none;
	position: relative;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
#tabBar a span,#tabBar2 a span,#tabBar3 a span,#tabBar4 a span,#tabBar5 a span {
	padding-left: 5px;
	display: block;
}
#item div li,#item2 div li,#item3 div li,#item4 div li,#item5 div li {
	background-image: url(http://europe.chinadaily.com.cn/2011img/icon-point1.gif);
	background-repeat: no-repeat;
	padding-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	background-position: left top;
	margin-bottom: 3px;
}
#tabBar a.current,#tabBar2 a.current,#tabBar3 a.current,#tabBar4 a.current,#tabBar5 a.current  {
	background-color: #E1F4FD;
	padding-right: 5px;
}
#tabBar a.current span,#tabBar2 a.current span,#tabBar3 a.current span,#tabBar4 a.current span,#tabBar5 a.current span {
	padding-left: 5px;
}


.cont_style {
	display: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	padding: 2px;
	margin: 0px 10px 0px 0px;
}
#world_1{
	display: block;
	padding-top: 10px;
	padding-left: 10px;
}
#world_4{
	padding-left: 18px;
	padding-top: 10px;
}
#world_3{
	padding-top: 10px;
}
#world_3 h3 {
	font-size: 12px;
	color: #003399;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 14px;
	margin: 5px 0px;
	font-weight: normal;
	background-image:  url(http://europe.chinadaily.com.cn/2011img/icon-point1.gif);
	background-position: left top;
	background-repeat: no-repeat;
	display: block;
	padding-left: 10px;
}
#world_2{
	padding-left: 10px;
	padding-top: 10px;
}
.m-photo{
	float: left;
	padding: 0px 10px 0px 0px;
	margin: 0px;
	width: 130px;
}
#world_1  h3 {
	margin: 5px 0px 0px;
	padding: 0px;
	font-weight: normal;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	width: 130px;
}
#world_2  h3 {
	margin: 5px 0px 0px;
	padding: 0px;
	font-weight: normal;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	width: 130px;
}
#world_4  h3 {
	margin: 5px 0px 0px;
	padding: 0px;
	font-weight: normal;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	width: 130px;
 }

