@charset "utf-8";
/* CSS Document */
.USRE-Ad-wrapper {
position: relative;
width: 186px;
height: 192px;
color: #e5e5e5;
font-family: franklin medium, arial, sans-serif;
overflow: hidden;
border-style: solid;
border-width: 1px;
}
.USRE-Ad-Link{
text-decoration: none;
}
.USRE-Ad-Image {
position: top;
width: 186px;
height: 105px;
margin-left: 0!important;
margin-right: 13px;
padding: 0;
}
.USRE-Ad-Summary{
margin: 6px 10px 6px 10px;
font-size: 12px;
line-height: 15px;
color: #326891;
letter-spacing: -0.01em;
word-spacing: 0.15em;
left: 10px;
height: auto;
}
.USRE-Ad-Logo{
margin: 0 10px 6px 10px;
max-width:166px;
max-height:24px;
width: auto;
height: auto;
}