body {
    margin: 0;
    padding: 0;
}

#main-panel{
  top: 0px;
  left: 0px;
  width: 970px;
  height: 250px;
  border: 1px solid #000;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

#bg-exit {
  position: absolute;
  width: 970px;
  height: 250px;
  top: 0px;
  left: 0px;
  cursor: pointer;
  opacity: 0;
  /* z-index: 2; */
}

#video-player {
  top: 0;
  left: 525px;
  width: 445px;
  height: 250px;   
  position: absolute;
  /*border: solid #000 1px;*/
  background-color: #000;
  /* z-index: 4; */
}



#ytClose{
  z-index: 100;
}
#cta{
    position: absolute;
    right: 0px;
    top:0px;
/*     z-index: 5; 
    cursor: pointer;*/
}
#ctaa{
    position: absolute;
    left: 0px;
    top:0px;
/*     z-index: 5; 
    cursor: pointer;*/
}
#over{
    position: absolute;
    left: 525px; 
    top:0;
     /*z-index: 5; */
    cursor: pointer;
    
}
#end{
     position: absolute;
    right: 0;
    top:0;
/*    z-index: 7; 
    cursor: pointer;*/
    display: none;
}
#exit{
    width: 970px;
    height: 250px;
    cursor: pointer;
    /*z-index: 4;*/
    position: absolute;
}
#replay{
    position: absolute;
    right: 0;
    bottom:0;
    /* z-index: 8; */
    display: none;
    cursor:pointer;
}