
/* css overrides for the auth portal sign in page */
/* this file is uploaded via Content Symphony */

#amazon_checkout_jp .ap_table > .ap_row   { padding-top: 6px; }
#amazon_checkout_jp #signin-slot .ap_col1  { width: 220px; } 
#amazon_checkout_jp #ap_signin1a_pagelet #ap_signin1a_pagelet_title {height: auto; margin-bottom: 2px; text-indent:28px;}
#amazon_checkout_jp .ap_table > .ap_section_title { height: 0px; margin-bottom: 0px; padding: 0px;}

#amazon_checkout_jp #signin-slot .ap_pagelet { width: 750px; margin-left: auto; margin-right: auto; margin-bottom: 25px; } 

/** IE Specific changes **/
/* see special <div> blocks for ie  set by auth portal to see how to specify a particular version of IE */

#amazon_checkout_jp #signin-slot .ie .ap_col1  { padding-right:4px }

#footer-1 { display: none; }