*{
	margin: 0;
	padding: 0;
	list-style: none;
}

img{
	display: block;
	
}

#box{
	width: 640px;
	height: 100px;
	overflow: hidden;
	position: relative;
}

#diyibu{
	z-index: 2;
}

#diyibu,#dierbu,#disanbu{
	width: 640px;
	height: 100px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

#logo{
	width: 198px;
	height: 48px;
	background: url(../images/logo.png) no-repeat;
	position: absolute;
	top: 50%;
	left: 10px;
	z-index: 5;
	margin: -24px 0;
}

.logo2{
	width: 84px;
	height: 22px;
	background: url(../images/logo2.png) no-repeat;
	position: absolute;
	top: 50%;
	right: 10px;
	z-index: 5;
	margin: -11px 0;
}

#bg01,#bg02{
	width: 768px;
	height: 120px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -60px -384px;
}

#kindle{
	width: 58px;
	height: 84px;
	background: url(../images/kindle.png) no-repeat;
	position: absolute;
	bottom: 7px;
	left: 260px; 
	filter: alpha(opacity=0);
	opacity: 0;
}

#text1{
	width: 157px;
	height: 46px;
	background: url(../images/text1.png) no-repeat;
	position: absolute;
	top: 50%;
	right: 152px; 
	filter: alpha(opacity=0);
	opacity: 0;
	margin: -23px 0;
}

#kindle2{
	width: 114px;
	height: 100px;
	position: absolute;
	background: url(../images/kindle2.png) no-repeat;
	bottom: 0;
	left: 240px;
	opacity: 0;
	filter: alpha(opacity=0);
}

#tiaowen01,#tiaowen02{
	width: 6px;
	height: 53px;
	background: url(../images/tiaowen02.png) no-repeat;
	position: absolute;
	bottom: 17px;
	left: 49px; 
	opacity: 0;
	filter: alpha(opacity=0);
}

#tiaowen01{
	opacity: 0;
	filter: alpha(opacity=0);
	background-image: url(../images/tiaowen01.png);
}

#kindle2_bg{
	width: 90px;
	height: 92px;
	position: absolute;
	bottom: 0;
	left: 12px;
	background: #000;
	opacity: 0;
	filter: alpha(opacity=0);
}

#finger{
	width: 88px;
	height: 73px;
	background: url(../images/finger.png) no-repeat;
	position: absolute;
	top: 30px;
	left: 47px;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 3;
}

#text2{
	width: 155px;
	height: 46px;
	background: url(../images/text2.png) no-repeat;
	position: absolute;
	top: 50%;
	right: 128px;
	opacity: 0;
	filter: alpha(opacity=0);
	margin: -23px 0;
}

 #dierbu,#disanbu{
	opacity: 0;
	filter: alpha(opacity=0);
}

#kindle3{
	width: 57px;
	height: 83px;
	background: url(../images/kindle3.png) no-repeat;
	position: absolute;
	bottom: 7px;
	left: 228px;
	opacity: 0;
	filter: alpha(opacity=0);
}

#text3,#text4{
	width: 134px;
	height: 45px;
	background: url(../images/text3.png) no-repeat;
	position: absolute;
	top: 50%;
	left: 292px;
	opacity: 0;
	margin: -22px 0;
	filter: alpha(opacity=0);
}

#text4{
	width: 131px;
	height: 66px;
	margin: -33px 0;
	background-image: url(../images/text4.png); 
}

#kindle4{
	width: 236px;
	height: 84px;
	background: url(../images/kindle4.png) no-repeat;
	position: absolute;
	top: 9px;
	left: 250px;
	opacity: 0;
	filter: alpha(opacity=0);
}

#btn{
	width: 138px;
	height: 21px;
	background: url(../images/btn.png) no-repeat;
	position: absolute;
	bottom: 16px;
	right: 188px;
	opacity: 0;
	filter: alpha(opacity=0);
}
