/* Replace reset CSS lost when we upgraded to v4 */
ol,
ul {
    list-style: none;
}

ol,
ul,
li {
    margin: 0;
    padding: 0;
}

.blq-hide {
    position: absolute;
    left: -2500px;
    width: 1px;
    overflow: hidden;
}

/* new markup to contain our page - replacing old #blq-main etc */
#h4-container {
    text-align: center;
}

#h4-main {
    text-align: left;
    font-size: 1.3em;
    width: 976px;
    margin: 0 auto;
}

/* Cookies disabled notification */
.cookieNotice {
    display: none;
    width: 400px;
    position: absolute;
    top: 78px;
    z-index: 2000;
}

.cookieNotice .arrow {
    width: 11px;
    height: 6px;
    margin-left: 16px;
    background: url('../img/sprites.png') no-repeat top left;
    background-position: 0 -66px;
}

.cookieNotice .arrow.center {
    margin: 0 auto;
}

.cookieNotice .panel {
    background: #313232;
    color: #B5B5B5;
    font-family: arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 16px;
    text-transform: none;
}

.cookieNotice .close {
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    margin: 12px 12px 0 0;
    color: #FFF;
    background: url('../img/sprites.png') no-repeat top left;
    background-position: 0 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-indent: -99999em;
    overflow: hidden;
}

.cookieNotice .close:hover {
    background-position: 0 -20px;
}

.cookieNotice .message {
    padding: 12px;
}

.cookieNotice .message h3 {
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
}

.cookieNotice .message p {
    padding-top: 6px;
    margin: 0;
}

.cookieNotice .message p a {
    color: #F6A21D;
    font-weight: bold;
    text-decoration: none;
}

.cookieNotice .message p a:hover {
    color: #fff;
}


/* Change your location prompt */
#locationPrompt {
    display: none;
    width: 292px;
    position: absolute;
    left: 72px;
    top: 78px;
    z-index: 2000;
}

#locationPrompt .arrow {
    width: 11px;
    height: 6px;
    margin-left: 16px;
    background: url('../img/sprites.png') no-repeat top left;
    background-position: 0 -66px;
}

#locationPrompt .panel {
    width: 268px;
    height: 36px;
    padding: 12px;
    background: #313232;
    color: #B5B5B5;
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: none;
}

#locationPrompt .panel .question {
    width: 178px;
    float: left;
}

#locationPrompt .panel .answer {
    width: auto;
    margin-top: 8px;
    float: right;
    font-size: 16px;
    font-weight: bold;
}

#locationPrompt .panel .yes,
#locationPrompt .panel .no {
    color: #F29720;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
}

#locationPrompt .panel .yes {
    margin: 0 10px;
}

#locationPrompt.alba {
    width: 322px;
}

#locationPrompt.alba .panel {
    width: 298px;
}

#locationPrompt.alba .panel .question {
    width: 80px;
}

#locationPrompt.cymru {
    width: 362px;
}

#locationPrompt.cymru .panel {
    width: 338px;
}

#locationPrompt.cymru .panel .question {
    width: 168px;
}


#h4overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background: #fff;
    opacity: 0.0;
    filter: alpha(opacity=0);
}

/* grey background */
body#domestic,
body#cymru,
body#alba,
body#scotland,
body#wales,
body#northernireland
{
    background-color: #eaeaea;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAMgAQMAAADYw5rEAAAABGdBTUEAALGPC/xhBQAAAANQTFRF////p8QbyAAAABVJREFUeNpjYBgFo2AUjIJRMApIBwAGQAABsdktowAAAABJRU5ErkJggg==);
    background-repeat: repeat-x;
}

body#domestic {
    background-position: 0 -148px;
}

body#cymru,
body#alba,
body#scotland,
body#wales,
body#northernireland {
    background-position: 0 -200px;
}