ï»¿@charset "utf-8";
/*reset and override
--------------------*/
img{
border:none;
padding:0;
}
form{margin:0px; padding:0px;}
/*link & type
--------------------*/
body, div{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}
div{margin:0 auto;}
p {margin: 0px;}
ul, dl, ol,dd{margin:0;padding:0;list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:14px;margin:0;padding:0;font-family: "Times New Roman",Times, serif;font-weight:normal;}
h2{font-size:20px;}
h3{font-size:17px;}
.font28{font-size:28px;}
.floatlft{float:left;}
.floatrgt{float:right;}
.inline{display:inline;}
.bold, .bold a{font-weight:bold;}
.overauto{overflow:auto;}
a{color: #014073;text-decoration: none;}
a:hover{color: #1a96cf;}
.center{float:left;width:100%;text-align:center;}
.blank10{float:left;width:100%;height:10px;overflow:hidden;text-indent:-9999px;}
.pl10{padding-left:10px;}
.corwhite{color:#fff;}
.font14,.font14 a{font-size:14px;}
.ellips,.ellips li a{float:left;width:100%;white-space:nowrap;overflow:hidden-o-text-overflow: ellipsis;/* for Opera */text-overflow:ellipsis;/* for IE */}
.hid {overflow: hidden;}
.mr15 {margin-right: 15px;}
.mr10 {margin-right: 10px;}
.mb1 {
	margin-bottom: 1px;
}

.mb10 {margin-bottom: 10px;}
.mb12 {margin-bottom: 12px;}
.mb15 {margin-bottom: 15px;}
.mb20 {margin-bottom: 20px;}
.ml10 {margin-left: 10px;}
.mt5 {margin-top: 5px;}
.mt8 {margin-top: 8px;}
.pt3 {padding-top: 3px;}
.pb8 {padding-bottom: 8px;}
.mr4 {margin-right: 4px;}
.mb7 {margin-bottom: 7px;}
.mb3 {
	margin-bottom: 3px;
}

.pb10 {padding-bottom: 10px;}
.ptb19 {padding-top: 19px;padding-bottom: 19px;}
.txtCen {text-align: center;}
.txtLft {text-align: left;}
.block {display: block;}
body {background-color: #FFF;}
/*2013/10/10*/
.pt5 {padding-top: 5px;}
.pt10 {padding-top: 10px;}
.pt15 {padding-top: 10px;}
.pt18 {padding-top: 18px;}
.pt20 {padding-top: 20px;}
.pb5{padding-bottom:5px;}
.pb20 {padding-bottom: 20px;}
.pr10 {
	padding-right: 10px;
}
.pt30 {
	padding-top: 30px;
}
.clear {clear: both;}
.comBox {display: block;overflow: hidden;}
.comBox a {float: left;margin-left: 10px;margin-right: 15px;}
.comm-ico {
	background: url(../img/ico_com.png) no-repeat left center;
	display: block;
	padding-left: 17px;
}
.share-ico {
	display: block;
	padding-left: 12px;
	background-image: url(../img/ico_share.png);
	background-repeat: no-repeat;
	background-position: left 4px;
}
.comm-ico {background-image: url(http://www.chinadaily.com.cn/image_e/2013/ico_com.png);	background-repeat: no-repeat;display: block;background-position: left 5px;padding-left: 17px;}
.share-ico {background-image: url(http://www.chinadaily.com.cn/image_e/2013/ico_share.png);background-repeat: no-repeat;display: block;background-position: left 4px;padding-left: 12px;}
.print-ico {background-image: url(http://www.chinadaily.com.cn/image_e/2013/ico_print.png);background-repeat: no-repeat;display: block;background-position: left 2px;padding-left: 16px;}
.mail-ico {background-image: url(http://www.chinadaily.com.cn/image_e/2013/ico_mail.png);background-repeat: no-repeat;display: block;background-position: left 5px;padding-left: 16px;}
.large-ico {background-image: url(http://www.chinadaily.com.cn/image_e/2013/ico_fdj.png);background-repeat: no-repeat;display: block;background-position: left 5px;padding-left: 22px;float:left;}
.Txt18 {font-size: 18px;}
#Content{color:#666;display: block;font-family: Arial, Helvetica, sans-serif; text-align:left;margin:0px; padding:0px 10px; font-size:16px; line-height:140%;}
#Contentp{color:#666;display: block;font-family: Arial, Helvetica, sans-serif; text-align:left;margin:0px; padding:0px 10px; font-size:16px; line-height:140%;}
#Content p{margin-bottom:15px;}
#Contentp p{margin-bottom:15px;}
#div_currpage{border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #e3e3e3; text-align:center;padding-bottom: 20px;overflow: hidden;}
#div_currpage span{float: left;display: block; height:25px;line-height: 25px;margin-right: 4px;border: 1px solid #ebebeb;color: #003366;font-weight: bold;background-color: #ebebeb;padding:0px 8px;}
#div_currpage a{float: left;display: block;line-height: 25px; height:25px;margin-right: 4px;border: 1px solid #ebebeb;color: #003366;font-weight: bold;padding:0px 8px;}
#div_currpage a:hover{	text-decoration: none;	background-color: #003366;	color: #FFF;}
.w450 {
	width: 450px;
}
.w190 {
	width: 190px;
}
.w275 {
	width: 275px;
}

.mr53 {
	margin-right: 53px;
}
.pt6 {
	padding-top: 6px;
}
.pt8 {
	padding-top: 8px;
}
.pl100 {
	padding-left: 100px;
}
