body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button{font-family: arial, stheiti, simsun, sans-serif;font-size:14px}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none; color:#00c;blr:expression(this.onFocus=this.blur()); outline:none}
a:hover,a:active,a:focus{text-decoration:underline;}
.clear{clear:both;height:0;line-height:0;font-size:0;visibility:hidden;overflow:hidden}
html{*overflow-y:auto;}
html, body{ height:100%;_overflow-y:auto;}
body{ background:#fff;_position:relative;zoom:1;}
#wrap{min-height:100%;position: relative;_position:static;min-width: 1000px;}
.sp-top{ position:absolute;right:0; line-height:32px; top:0;font-size:13px; width:100%}
.sp-top .h-pos{ display: none; position:absolute; right:87px;width:68px; line-height:29px; background:#fff; border:1px solid #ebebeb;box-shadow: 1px 1px 2px rgba(0,0,0,.15);-moz-box-shadow: 1px 1px 2px rgba(0,0,0,.15);-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.15); top:38px}
.sp-top .h-pos li{ overflow:hidden; height:29px; font-size:0}
.sp-top .h-pos a{ display:block; padding-left:8px; color:#333; text-decoration:none; font-size:13px}
.sp-top .h-pos a:hover{ background:#f4f8ff}
.sp-top .h-pos span{ background:url(/images/index/spy_h.png) -48px 0 no-repeat;_background:url(/images/index/spy_h.gif) -48px 0 no-repeat; width:8px; height:5px; overflow:hidden; top:-5px; left:45px; position:absolute; display:block}
.sp-top .u_sp{ *zoom:1; margin-top:6px; float:right;_width:65px}
.sp-top .u_sp a{ float:left; margin-right:15px; padding-left:19px; }
.sp-top .u_sp .separate{ float:left; height:12px; width:1px; background:#e4e4e4; overflow:hidden; margin:9px 15px 0 0}
.sp-top .u_sp .s-skin{ background:url(/images/index/spy_h.png) -68px 8px no-repeat; _background:url(/images/index/spy_h.gif) -68px 8px no-repeat}
.sp-top .u_sp .s_usersetting{background:url(/images/index/spy_h.png) -127px 8px no-repeat;_background:url(/images/index/spy_h.gif) -127px 8px no-repeat}
.sp-top .u_sp .s-logion{background:url(/images/index/spy_h.png) -201px 8px no-repeat;_background:url(/images/index/spy_h.gif) -201px 8px no-repeat}
.logo-box{ text-align:center; padding-top:58px;padding-right: 40px;}
.s-word-top,.s-form{ width:651px; margin:0 auto}
.s-form{ margin-top:9px; font-size:0; position:relative; z-index:22;zoom:1}
.s-form:after{display:block;visibility:hidden;clear:both;height:0;content:'.'}
.s-word-top{ overflow:hidden; line-height:0px; font-size:0; height:16px; padding-left:60px; padding-top:17px; font-family:arial, stheiti, simsun, sans-serif;;*zoom:1; position:relative; *z-index:1000}
.s-word-top a,.s-word-top strong{ text-decoration:underline; margin-right:22px; font-size:14px;line-height:16px;}
.s-word-top strong{ text-decoration:none; color:#333}
.s-input-box,.s-btn-enter{ display:inline-block; font-size:14px; vertical-align:top; position:relative; z-index:30; float:left}
.s-input-box input{width:535px;height:20px;padding:6px 7px;font:16px arial;border:1px solid #979797;border-bottom:1px solid #a0a0a0; border-right:0;vertical-align:top;outline:none; color:#333;-webkit-border-top-left-radius:2px;
    -webkit-border-top-right-radius:0;
    -webkit-border-bottom-right-radius:0;
    -webkit-border-bottom-left-radius:2px;
    -moz-border-radius-topleft:2px;
    -moz-border-radius-topright:0;
    -moz-border-radius-bottomright:0;
    -moz-border-radius-bottomleft:2px;
    border-top-left-radius:2px;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border-bottom-left-radius:2px}
.s-btn-enter{*margin-top:1px; height:34px;}
.s-form-v1 .s-btn-enter{ height:42px}
.s-input-box .w_now{ border:1px solid #89bef2;-webkit-box-shadow:inset 0 0 2px #b1d1f1; -moz-box-shadow:inset 0 0 2px #b1d1f1; box-shadow:inset 0 0 2px #b1d1f1;border-right:0; }
.s-btn-enter input{cursor:pointer;width:100px;height:34px;padding:0;border:0; background:url(/images/index/spy_h.png) -45px -83px no-repeat; overflow:hidden; outline:none; color:#333}
.s-btn-enter .search-btn-hover{background: url(/images/index/spy_h.png) -45px -117px no-repeat; color:#000;}
.s-btn-enter .search-btn-active{background: url(/images/index/spy_h.png) -45px -228px no-repeat;color:#000;}
.s-tools{ text-align:center; margin-top:24px;padding-right: 40px; position:relative; z-index:10}
.s-tools a{ text-decoration:underline; margin:0 8px; line-height:24px}
#ft{ font-size:12px; color:#666; line-height:22px; text-align:center; width:100%; position: absolute; bottom:0; padding-bottom:5px;font-family: arial;}
#ft a{ text-decoration:underline; margin:0 4px 0 5px}
#ft .g{ color:#666; text-decoration:none; margin:0}
#ft .g:hover,#ft2 .g:hover{ text-decoration:underline}
#ft .ba{ padding-right:25px; background:url(/images/index/spy_h.png) 73px -63px no-repeat;_background:url(/images/index/spy_h.gif) 73px -63px no-repeat; display:inline-block}
#ft2 .ba{ padding-right:25px; background:url(/images/index/spy_h.png) 73px -63px no-repeat;_background:url(/images/index/spy_h.gif) 73px -63px no-repeat; display:inline-block}
#ft2 .g{ color:#fff}
#ft3 .ba{ padding-right:25px; background:url(/images/index/spy_h.png) 73px -63px no-repeat;_background:url(/images/index/spy_h.gif) 73px -63px no-repeat; display:inline-block}
#ft3 .g{ color:#999}
#ft2{font-family:Microsoft YaHei;color:#fff;line-height:21px;bottom:0;padding-bottom:5px;line-height:22px;position:absolute;left:0;width:100%;text-shadow:0 1px 2px rgba(0,0,0,.5); font-size:12px; text-align:center}
#ft3{font-family:Microsoft YaHei; font-size:12px; color:#999; line-height:22px; text-align:center; width:100%; position: absolute; bottom:0; padding-bottom:5px}

/* logo */
.logo-box span{ width:400px; height:150px; display:inline-block; vertical-align:top; background:url(/images/logo/new/search400x150.png) 0 0 no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/logo/new/search400x150.png",sizingMethod=crop)}
/*=========== start ç¹è²é¦é¡µ =========*/
/* å¯¼èª å·¥å·æ  ç­åå¤ææ¬é¢è² */
.white .s-word-top a{color:#fff}
.white .s-tools a{color:#fff}
.white #ft{color:#fff}
.white .sp-top .u_sp a{color:#fff}

/* start banner AD*/
.ad-box{ width:650px; margin:25px auto 0; padding-bottom:110px;  position:relative; height:120px;  }
.ad-box a{ display:block}
.ad-box .close{ background: url(/images/index/spy_h.png) 4px -94px no-repeat; _background: url(/images/index/spy_h.gif) 4px -94px no-repeat; width:25px; height:25px; position:absolute;right:0;  top:0;}
.ad-box .close:hover{background: url(/images/index/spy_h.png) -19px -94px no-repeat; _background: url(/images/index/spy_h.gif) -19px -94px no-repeat;}
/* end banner AD*/

/* start ç¹è²èæ¯æ ·å¼*/
.pos-bg{text-align:center;position:absolute;top:0;width:100%;height:100%;zoom:1;left:0;z-index: -1; overflow:hidden}
.bg_zhuti{ display:block; z-index:21; line-height:34px; padding:0 10px 0 17px; color:#666; font-size:14px; background:url(/images/index/spy_h.png) -202px -109px no-repeat;_background:url(/images/index/spy_h.gif) -202px -109px no-repeat; position: absolute;_position: absolute;right:0; bottom:0}
.s-fx-pos{ width:36px; right:15px; bottom:38px; position:  absolute;_position: absolute; z-index:20}
.s-fx-pos .s1,.s-fx-pos .s2,.s-fx-pos .s3{ display:block; position:relative}
.s-fx-pos .s1 a{ line-height:22px; font-size:13px; color:#fff; padding-top:24px; position:relative; z-index:10; display:block; text-align:center; background: url(/images/index/spy_h.png) 9px -143px no-repeat;_background:url(/images/index/spy_h.gif) 9px -143px no-repeat;}
.s-fx-pos .s1.on a{ cursor:default;  background: url(/images/index/spy_h.png) -31px -167px no-repeat !important;_background:url(/images/index/spy_h.gif) -31px -167px no-repeat !important;}
.s-fx-pos .s1 a:hover,.s-fx-pos .s1 a{ text-decoration:none}
.s-fx-pos .s2{ width:auto; margin-top:5px;position: absolute; right:0;}
.s-fx-pos .s3{ margin-top:46px}
.s-fx-pos .s2 .fx{ height:36px; width:36px; display:block; z-index:20; background: url(/images/index/spy_h.png) 9px -193px no-repeat;_background:url(/images/index/spy_h.gif) 9px -193px no-repeat; position:absolute; right:0;top:0}
.s-fx-pos .s2.on2{height:36px; padding-right:36px}
.s-fx-pos .s2 p{padding-right:10px;  font-size:0; line-height:0;white-space:nowrap; margin-top:6px; border-right:1px solid #ccc}
.s-fx-pos .s2 p a{ display:inline-block; width:24px; height:24px; margin:0px 0 0 8px;*zoom:1; overflow:hidden}
.s-fx-pos .s2 p .a1{ background:url(/images/index/spy_h.png) 0 0 no-repeat;_background:url(/images/index/spy_h.gif) 0 0 no-repeat}
.s-fx-pos .s2 p .a2{background:url(/images/index/spy_h.png) -24px 0 no-repeat;_background:url(/images/index/spy_h.gif) -24px 0 no-repeat}
.s-fx-pos .s2 p .a3{background:url(/images/index/spy_h.png) 0 -24px no-repeat;_background:url(/images/index/spy_h.gif) 0 -24px no-repeat}
.s-fx-pos .s2 p .a4{background:url(/images/index/spy_h.png) -24px -24px no-repeat;_background:url(/images/index/spy_h.gif) -24px -24px no-repeat}
.s-fx-pos .s3 a{height:36px; width:36px; display:block; background: url(/images/index/spy_h.png) 8px -234px no-repeat;_background:url(/images/index/spy_h.gif) 8px -234px no-repeat;}
.s-fx-pos .bg-b{-moz-border-radius:2px;  display:block; -webkit-border-radius:2px; border-radius:2px; width:100%; height:36px; background:#000;opacity:0.4;-moz-opacity:0.4;filter:alpha(opacity=40); position:absolute; left:0; top:0; z-index:-1}
.s-fx-pos .s2 .bg-b{_padding-right:36px; left:0; right:auto}
.s-fx-pos .s1 .bg-b{ *top:-5px;_left:-5px; height:46px}
/* end ç¹è²èæ¯æ ·å¼*/

/* ç½è²ç */
.white .s-word-top a,.white .s-word-top strong,.white .s-tools a,.white .sp-top .u_sp a,.white #ft a,.white #ft .g,.white #ft{ color:#fff}
.white .sp-top .u_sp .s-skin{ background:url(/images/index/spy_h.png) -68px -33px no-repeat; _background:url(/images/index/spy_h.gif) -68px -33px no-repeat}
.white .sp-top .u_sp .s_usersetting{background:url(/images/index/spy_h.png) -127px -33px no-repeat;_background:url(/images/index/spy_h.gif) -127px -33px no-repeat}
.white .sp-top .u_sp .s-logion{background:url(/images/index/spy_h.png) -201px -33px no-repeat;_background:url(/images/index/spy_h.gif) -201px -33px no-repeat}
.white .bg_zhuti{background:url(/images/index/spy_h.png) -202px -73px no-repeat;_background:url(/images/index/spy_h.gif) -202px -73px no-repeat; color:#fff}
.white .sp-top .u_sp .separate{ background:#fff}

/*logo*/
.white .logo-box span{ width:400px; height:150px; display:inline-block;
    background:url(/images/logo/new/search_white400x150.png) 0 0 no-repeat;_background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/logo/new/search_white400x150.png",sizingMethod=crop)}
/*=========== end ç¹è²é¦é¡µ =========*/
.s-fx-pos .s3:hover .bg-b,.s-fx-pos .s1:hover .bg-b,.s-fx-pos .s2:hover .bg-b{opacity:0.7;-moz-opacity:0.7;filter:alpha(opacity=70);}

/* click */
.click-qy{ width:650px; position:absolute;top:340px; margin-left:-325px; left:50%; height:360px; z-index:20}
.click-box{ font-size:0; position:absolute; top:0px; left:0px; z-index:30;width:400px; *margin-top:5px;}
.click-box-d{ position:relative;background:url(/images/index/icot3.png) 2px 2px no-repeat\9;background:url(/images/index/icot3.png) 2px 2px no-repeat\9\0;_background:url(/images/index/icot3.gif) 2px 2px no-repeat; height:24px; width:24px; display:inline-block; position:relative; top:8px;*top:5px; margin-right:-5px; *float:left;zoom:1}
.click-box-d:after{background: rgba(0,0,0,.4);-webkit-animation: ic_expand 2600ms infinite ease-out;
-moz-animation: ic_expand 2600ms infinite ease-out;
-ms-animation: ic_expand 2600ms infinite ease-out;
-o-animation: ic_expand 2600ms infinite ease-out;
animation: ic_expand 2600ms infinite ease-out; content:""; width:24px; height:24px; position:absolute; left:0; top:0;-moz-border-radius:12px; -webkit-border-radius:12px; border-radius:12px;}
.click-box-d:before{ width:8px; height:8px; display:block; position:absolute; left:8px; top:8px; content:"";background-size: 8px 8px;
-webkit-animation: ic_breathe 2600ms infinite ease-out;
-moz-animation: ic_breathe 2600ms infinite ease-out;
-ms-animation: ic_breathe 2600ms infinite ease-out;
-o-animation: ic_breathe 2600ms infinite ease-out;
animation: ic_breathe 2600ms infinite ease-out; background:#fff;background:#fff\9;background:none\9\0;-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; z-index:10}
.click-box-d2{ display:inline-block;*float:left;zoom:1}
.click-box-d2 a{font-size:13px; color:#333;line-height:30px; display:inline-block; position:relative; text-decoration:underline}
.click-box-d2 a span{ margin-right:25px;background:url(/images/index/icot.png) 0 0 no-repeat;_background:url(/images/index/icot.gif) 0 0 no-repeat; display:inline-block;zoom:1;white-space:nowrap;word-wrap:normal; padding-left:15px; text-decoration:underline; vertical-align:top}
.click-box-d2 a i{ background:url(/images/index/icot2.png) 100% 0 no-repeat;_background:url(/images/index/icot2.gif) 100% 0 no-repeat; width:25px; height:30px; right:0; position:absolute; display:block; top:0}
@-webkit-keyframes ic_breathe {
0% {
-webkit-transform:scale(1);
transform:scale(1)
}
40% {
-webkit-transform:scale(1);
transform:scale(1)
}
45% {
-webkit-transform:scale(0.9);
transform:scale(0.9)
}
55% {
-webkit-transform:scale(1.4);
transform:scale(1.4)
}
60% {
-webkit-transform:scale(1);
transform:scale(1)
}
100% {
-webkit-transform:scale(1);
transform:scale(1)
}
}
@-moz-keyframes ic_breathe {
0% {
-moz-transform:scale(1);
transform:scale(1)
}
40% {
-moz-transform:scale(1);
transform:scale(1)
}
45% {
-moz-transform:scale(0.9);
transform:scale(0.9)
}
55% {
-moz-transform:scale(1.4);
transform:scale(1.4)
}
60% {
-moz-transform:scale(1);
transform:scale(1)
}
100% {
-moz-transform:scale(1);
transform:scale(1)
}
}
@-ms-keyframes ic_breathe {
0% {
-ms-transform:scale(1);
transform:scale(1)
}
40% {
-ms-transform:scale(1);
transform:scale(1)
}
45% {
-ms-transform:scale(0.9);
transform:scale(0.9)
}
55% {
-ms-transform:scale(1.4);
transform:scale(1.4)
}
60% {
-ms-transform:scale(1);
transform:scale(1)
}
100% {
-ms-transform:scale(1);
transform:scale(1)
}
}
@-o-keyframes ic_breathe {
0% {
-o-transform:scale(1);
transform:scale(1)
}
40% {
-o-transform:scale(1);
transform:scale(1)
}
45% {
-o-transform:scale(0.9);
transform:scale(0.9)
}
55% {
-o-transform:scale(1.4);
transform:scale(1.4)
}
60% {
-o-transform:scale(1);
transform:scale(1)
}
100% {
-o-transform:scale(1);
transform:scale(1)
}
}
@keyframes ic_breathe {
0% {
-webkit-transform:scale(1);
-moz-transform:scale(1);
-ms-transform:scale(1);
-o-transform:scale(1);
transform:scale(1)
}
40% {
-webkit-transform:scale(1);
-moz-transform:scale(1);
-ms-transform:scale(1);
-o-transform:scale(1);
transform:scale(1)
}
45% {
-webkit-transform:scale(0.9);
-moz-transform:scale(0.9);
-ms-transform:scale(0.9);
-o-transform:scale(0.9);
transform:scale(0.9)
}
55% {
-webkit-transform:scale(1.4);
-moz-transform:scale(1.4);
-ms-transform:scale(1.4);
-o-transform:scale(1.4);
transform:scale(1.4)
}
60% {
-webkit-transform:scale(1);
-moz-transform:scale(1);
-ms-transform:scale(1);
-o-transform:scale(1);
transform:scale(1)
}
100% {
-webkit-transform:scale(1);
-moz-transform:scale(1);
-ms-transform:scale(1);
-o-transform:scale(1);
transform:scale(1)
}
}
@-webkit-keyframes ic_expand {
0% {
background:#000;
-webkit-transform:scale(0);
transform:scale(0)
}
59% {
background:#000;
-webkit-transform:scale(0);
transform:scale(0)
}
60% {
-webkit-transform:scale(0);
transform:scale(0)
}
79% {
background:rgba(0, 0, 0, 0);
-webkit-transform:scale(1);
transform:scale(1)
}
80% {
background:#000;
-webkit-transform:scale(0);
transform:scale(0)
}
98% {
background:rgba(0, 0, 0, 0);
-webkit-transform:scale(1);
transform:scale(1)
}
100% {
background:rgba(0, 0, 0, 0);
-webkit-transform:scale(1);
transform:scale(1)
}
}
@-moz-keyframes ic_expand {
0% {
background:rgba(0, 0, 0, .7);
-moz-transform:scale(0);
transform:scale(0)
}
59% {
background:rgba(0, 0, 0, .7);
-moz-transform:scale(0);
transform:scale(0)
}
60% {
-moz-transform:scale(0);
transform:scale(0)
}
79% {
background:rgba(0, 0, 0, 0);
-moz-transform:scale(1);
transform:scale(1)
}
80% {
background:rgba(0, 0, 0, .7);
-moz-transform:scale(0);
transform:scale(0)
}
98% {
background:rgba(0, 0, 0, 0);
-moz-transform:scale(1);
transform:scale(1)
}
100% {
background:rgba(0, 0, 0, 0);
-moz-transform:scale(1);
transform:scale(1)
}
}

@keyframes ic_expand {
0% {
background:rgba(0, 0, 0, .7);
-webkit-transform:scale(0);
-moz-transform:scale(0);
-ms-transform:scale(0);
-o-transform:scale(0);
transform:scale(0)
}
59% {
background:rgba(0, 0, 0, .7);
-webkit-transform:scale(0);
-moz-transform:scale(0);
-ms-transform:scale(0);
-o-transform:scale(0);
transform:scale(0)
}
60% {
-webkit-transform:scale(0);
-moz-transform:scale(0);
-ms-transform:scale(0);
-o-transform:scale(0);
transform:scale(0)
}
79% {
background:rgba(0, 0, 0, 0);
-webkit-transform:scale(1);
-moz-transform:scale(1);
-ms-transform:scale(1);
-o-transform:scale(1);
transform:scale(1)
}
80% {
background:rgba(0, 0, 0, .7);
-webkit-transform:scale(0);
-moz-transform:scale(0);
-ms-transform:scale(0);
-o-transform:scale(0);
transform:scale(0)
}
98% {
background:rgba(0, 0, 0, 0);
-webkit-transform:scale(1);
-moz-transform:scale(1);
-ms-transform:scale(1);
-o-transform:scale(1);
transform:scale(1)
}
100% {
background:rgba(0, 0, 0, 0);
-webkit-transform:scale(1);
-moz-transform:scale(1);
-ms-transform:scale(1);
-o-transform:scale(1);
transform:scale(1)
}
}

/*  åæ§½ */
.tucao-hre{ background:url(/images/tucao/ico_tucao.png) 0 0 no-repeat; width:64px; height:89px; position:absolute; right:0; bottom:40px; display:block; color:#fff; text-indent:5px; line-height:22px; font-size:13px; z-index:100}
.tucao-hre:hover{ text-decoration:none}
.tucao-box img{ vertical-align:top}
.tucao-box{ width:298px; height:340px; position:absolute; right:20px; bottom:145px; background:#fff; border:1px solid #ebebeb; z-index:100}
.tucao-box .p-tjon{ text-align:center; font-size:38px; color:#9bbb56; line-height:40px; font-family:"å¾®è½¯éé»"; padding-top:39px}
.tucao-box .p-tjon2{text-align:center; font-size:16px; color:#9bbb56; line-height:20px; font-family:"å¾®è½¯éé»"; padding-top:9px}
.tucao-box form{ padding:0 20px}
.tc-list{ overflow:hidden; zoom:1;}
.tc-list li{ width:50%; float:left; color:#333; font-size:13px; line-height:20px; height:20px; overflow:hidden; padding-top:5px;}
.tc-list li input{ vertical-align:top; margin:3px 5px 0 0;*margin:-2px 2px 0 0; position:relative; _top:-2px;}
.tucao-box form textarea{ width:238px; height:40px; color:#333; line-height:20px; padding:5px 10px; border:1px solid #ddd;resize: none; margin-top:4px; font-size:13px; overflow:auto}
.tucao-box form p{ line-height:20px; color:#333; font-size:13px; padding:14px 0 5px}
.tucao-box form p em{ color:#fe7a41}
.tucao-box form .info-email{ width:238px; border:1px solid #ddd; height:29px; vertical-align:bottom; padding:0 10px; color:#333; font-size:13px; font-weight:normal;line-height:29px}
.tucao-box form .tc{ text-align:center; padding-top:12px;}
.tucao-box form .tc a{ width:90px; hanging-punctuation:30px;-moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; line-height:30px; text-align:center; color:#fff; font-size:13px; background:#f06b31; display:inline-block}
.tishi{ line-height:26px;  position:absolute; text-align:center; width:100%; top:50%; margin-top:-14px}
.tishi span{ color:#323232; font-size:13px; background:#fffbeb; border:1px solid #dbd7bb; display:inline-block;padding:0 12px;}
.woed-hui{ color:#999 !important}
.logo-box img{ vertical-align:top}
.tucao-box-pos{ position:absolute; margin-left:115px; left:50%; top:300px; z-index:10; width:211px; height:156px; background:url(/images/tese/doodle.png) 0 0 no-repeat}
.tucao-box-pos a{ display:block; position:absolute; width:18px; height:18px; bottom:4px; right:2px; z-index:10000; cursor:pointer}