html body{padding:0;}
.g-bd{width:auto}
.m-cnt .m-unlogin .u-regbtn,.m-header{display:none}
.m-cnt .m-nerror{margin-left: 35px;}.m-cnt .m-container .m-nerror .ferrorhead{width:170px;}
.m-cnt{padding:0}
.m-container{margin-top:10px}
.m-cnt .inputbox{margin-left:35px;height:28px;line-height:28px;width:187px;border-color:#ddd;position:relative}
.m-cnt .u-logo{display:none}
.m-cnt .u-input input{width:154px;height:28px;line-height:28px;font-size:12px;font-weight:400;font-family:"\u5b8b\u4f53";display:block}
.m-cnt .u-label{font-size:12px;font-family:"\u5b8b\u4f53";color:#aaa}
.m-cnt #login-form .u-label{width:170px}
.m-cnt .u-success{margin-top:4px}
.u-tip{padding:0 5px}
.m-cnt .u-tip{padding:0 5px 0 0}
.m-cnt #login-form .m-sug{width:187px;left:-1px;top:28px}
.m-cnt #login-form .m-sug .itm{padding-left:10px;line-height:20px;height:20px;font-family:"\u5b8b\u4f53"}
.fur-change-email{height:10px;line-height:10px;font-size:10px}
.u-loginbtn{float:left;width:189px;height:30px;font-size:14px;font-weight:700;cursor:pointer;border:1px solid #239438;color:#fff;background-color:#5eba6d;background-image:-webkit-gradient(linear,left top,left bottom,from(#5eba6d),to(#3ca051));background-image:-webkit-linear-gradient(top,#5eba6d,#3ca051);background-image:-moz-linear-gradient(top,#5eba6d,#3ca051);background-image:-o-linear-gradient(top,#5eba6d,#3ca051);background-image:-ms-linear-gradient(top,#5eba6d,#3ca051);background-image:linear-gradient(top,#5eba6d,#3ca051);line-height:30px;font-family:"ËÎÌå"}
.loginbox{margin-left:34px}
.m-cnt .m-unlogin{margin:0 0 0 34px;width:190px;font-family:"\u5b8b\u4f53"}
.m-cnt .m-unlogin .b-unlogn{border-right:none;float:left}
.m-cnt .m-unlogin .forgetpwd{float:right;color:#252525}
.m-cnt .m-unlogin .b-unlogn label{color:#252525}
.m-footer{display:none}
.m-cnt .m-unlogin .b-unlogn .u-checkbox{background:0 0;border:none}
.m-cnt .un-login{opacity:1}
.m-cnt #login-form .m-ckcnt{margin-top: 10px;}.m-cnt .m-ckcnt .ckin{width: 100px;height: 28px;}.m-cnt .m-ckcnt .ckin .u-label{display: block;line-height: 28px;}.m-cnt #login-form .m-ckcnt .u-input input.cktext{height: 28px;width: 92px;}.m-cnt .ckimgbox {height: 28px;line-height: 28px;width: auto;margin: 0px 36px 0 0;border-left: none;}.m-cnt .ckimgbox img{height: 28px;width: auto;}.m-cnt #login-form .m-ckcnt  .u-tip{position: absolute;left: 78px;top: 0;}