@charset "utf-8";
/* CSS Document */

body {margin: 0px;padding: 0px;font-family: Arial;font-size: 12px;}
img{border:0px;}
ul,li,p,h1{ margin:0; padding:0;}
li {list-style-type: none;}
h2,h3,h4,h5{padding: 0px;margin: 0px;}
a{color: #014076;text-decoration: none;}
a:visited {text-decoration: none;color: #014076;}
a:hover{color: #1A96CF;}
.floatlft {float: left;}
.floatrgt {float: right;}
/*header*/
.topBanner {height: 120px;width: 1180px;margin-right: auto;margin-left: auto;}
.logoBox{width:1180px; margin:0 auto; padding-top:22px; overflow:hidden; margin-bottom:15px;}
.lgLft{width:width:530px; float:left;}
.lgRgt{float:right;width:430px;height:80px;}
.channel{
	overflow: hidden;
	padding-top: 10px;
	padding-left: 160px;
}
.channel a {
	font-weight: bold;
	color: #7c7e7d;
	padding-right: 6px;
	padding-left: 6px;
	background: url(http://europe.chinadaily.com.cn/image/2015/line1.gif) no-repeat right center;
	display: block;
	float: left;
	text-decoration: none;
	text-align: center;
}
.channel a:hover {text-decoration: underline;}
.channel a:vistsed{text-decoration: none;}
.channel .time {
	float: left;
	color: #024073;
	font-weight: bold;
	margin-left: 5px;
	width: 120px;
}
.logo {overflow: hidden;}
.logo span{
	float: left;
	margin-right: 13px;
}
.logo .line1 {border-right: 1px solid #929292;}
.nav{height:30px; background:#014073; width:1180px; margin:0px auto;}
.nav li{float:left; list-style-type:none; line-height:30px; font-size:16px; font-weight:bold;border-right: 1px solid #fff;}
.nav a{color: #FFF;text-decoration: none;padding-left: 25px;padding-right: 25px;display: block;}
.home a:hover {background: #046a9b;}
.china a:hover {background: #077da5;}
.world a:hover {background: #00b690;}
.business a:hover {background: #1fad00;}
.culture a:hover {background: #e90552;}
.sports a:hover {background:#8eaf00;}
.opinion a:hover {background:#8b868b;}
.forum a:hover {background:#929292;}
.video a:hover {background:#006599;}
/*header-end*/
.search input{
	width: 165px;
	height: 24px;
	float: left;
}
.topMain{
	width: 1180px;
	padding-top: 25px;
	overflow: hidden;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.l240{float:left;width:240px;}
.l650{float:left;width:650px; margin:0px 21px; }
.r248{float:right;width:248px;}
.l240T {background: url(http://europe.chinadaily.com.cn/image/2015/ico01.gif) no-repeat 2px; display: block; height: 14px;line-height: 14px;padding-left: 15px;color: #ff0000;}
.l240 h1{font-size:36px; color:#000; line-height:36px; padding-top:15px; padding-bottom:20px;}
.l240 h1 a {color: #000;}
.l240 h1 a:hover {text-decoration: underline;}
.l240 p{font-size:14px; color:#666; font-weight:normal; line-height:20px;}

/*cenMain*/
.cenMain {
	width: 1180px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 27px;
	overflow: hidden;
}
.w380 {
	float: left;
	width: 380px;
	margin-right: 20px;
}
.twBox{
	margin-bottom: 10px;
	width: 100%;
	overflow: hidden;
}
.twBox .bt01 {
	line-height: 36px;
	height: 40px;
	background: url(http://europe.chinadaily.com.cn/image/2015/bt01.gif) repeat-x left 2px;
	overflow: hidden;
	margin-bottom: 10px;
}
.twBox h2 {
	border-top: 5px solid #003769;
	float: left;
	font-size: 16px;
	color: #003769;
	padding-right: 8px;
	margin-bottom: 15px;
}
.twBox h3 {
	padding-top: 15px;
	font-size: 24px;
	line-height: 30px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #014073;
	margin-bottom: 10px;
}
.twBox p {color: #666666;font-size: 14px;line-height: 18px;padding-bottom: 10px;}
.twBox h4{
	background: url(http://europe.chinadaily.com.cn/image/2015/p4x4.gif) no-repeat left 5px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.ad {
	margin-bottom: 15px;
	overflow: hidden;
	width: 100%;
}
.liBox {margin-bottom: 10px;}
.liBox li {
	list-style-type: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #cccccc;
	line-height: 16px;
	font-size: 14px;
	color: #505050;
	padding-top: 12px;
	padding-bottom: 12px;
	font-weight: bold;
}
.liBox li:hover {
	background-color: #f9f9f9;
}

.liBox li a {
	color: #3b3b3b;
}
.liBox li a:hover {
	color: #666;
}
.liBox li a:vistsed {
	color: #3b3b3b;
}

.w172 {
	width: 172px;
	float: left;
	margin-right: 35px;
}
.w172 h3 {
	font-size: 24px;
	line-height: 28px;
	padding: 0px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.w172 img {
	border: 1px solid #999999;
}

.w172 h5 {
	font-size: 14px;
	color: #666666;
	padding-top: 5px;
	padding-bottom: 5px;
}


.w180 {
	float: left;
	width: 180px;
	margin-right: 20px;
}

.mr20 {
	margin-right: 20px;
}

/*mostpopule*/	
.mb10{margin-bottom:10px;}
.mb20 {
	margin-bottom: 20px;
}

.title1 {
	line-height: 30px;
	background: #F6F6F6;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ccc;
}
.title1 b {
	color: #666;
	padding-left: 10px;
	font-size: 14px;
}
.busLis6 li {
	background-repeat: no-repeat;
	background-position: left 15px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #d4d4d4;
}
.busLis6 li a{
	display: block;
	font-size: 14px;
	line-height: 14px;
	background-color: #f9f9f9;
	font-weight: 700;
	padding: 10px;
}
.busLis6 li a:hover{
	background-color: #FFFFFF;

}
.busLis5 li {
	background-image: url(http://europe.chinadaily.com.cn/image/2015/num.gif);
	background-repeat: no-repeat;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #d4d4d4;
}.busLis5 li a{
	display: block;
	font-size: 14px;
	line-height: 18px;
	background-color: #f9f9f9;
	font-weight: 700;
	padding: 10px;
}
.busLis5 li a:hover{
	background-color: #FFFFFF;

}
/*mostpopule-end*/	
/*map*/
.box_all{
	overflow: hidden;
	width: 1180px;
	font-family: "å¾®è½¯éé»";
	font-size: 14px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 0;
	padding-right: 0;
	padding-left: 0;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #c2c2c2;
	display: block;
}
.boxk {
	background-color: #F5F5F5;
}

.box {
	padding-left: 45px;
}
.box li{
	margin-right: 30px;
	width: 120px;
	text-align: left;
	float: left;
	list-style-type: none;
}

.boxdown{
	cursor: pointer;
	height: 35px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	float: right;
      
}
.up{
    cursor:pointer;
	margin:0 auto; 
}
.mapbt {
	line-height: 35px;
	height: 35px;
	background-color: #e7e7e7;
	margin-bottom: 10px;
}

.mapbt h2 {
	font-weight: normal;
	color: #676767;
	padding-left: 13px;
	float: left;
	font-size: 16px;
	margin: 0px;
}
.links {
	background-color: #F5F5F5;
}

.links ul{
	padding-right: 15px;
	padding-left: 15px;
	float: left;
	width: 190px;


}
.links b{
	font-size: 18px;
	font-weight: normal;
	display: 0;
}
.links a{
	color: #717171;
	line-height: 18px;
	font-size: 12px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}
.links a:hover {
	color: #000;
}
/*map-end*/
/*footer css start*/
.footer-zx{background:#ebebeb;overflow:auto;padding-bottom:15px; margin:10px auto 0px auto;}
.footer-zx dl{float:left;display:inline;margin:10px 0 0 35px;width:125px;font-family: Verdana, Arial, Helvetica, sans-serif;height:225px;}
.infobox,.footer-zx dl,.partnersbox{
	font-size: 10px;
}
.infobox a,.footer-zx dl dt{font-weight:bold;}
.footer-zx dl dt{line-height:18px;}
.footer-zx dl dd{line-height:18px;}
.partnersbox{
	width: 1140px;
	padding: 20px;
	color: #004678;
	line-height: 16px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.partnersbox a{padding:0px 5px;}
.foot-info{
	font-weight: normal;
	color: #666;
}

.footer-zx2{
	overflow: auto;
	padding-bottom: 15px;
	margin: 10px auto 0px auto;
	font-size: 12px;
}
.center{
	text-align: center;
}
/*footer css end*/
.twBox .bt01 a:hover {
	text-decoration: underline;
}
.logoBox .lgCen {
	width: 750px;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}
.twBox .pic {
	text-align: center;
}
.search a {
	padding: 0px;
	width: 60px;
	float: left;
}
/*epaper*/
.epaper {
	border-top: 1px solid #004678;
	border-right: 1px solid #004678;
	border-bottom: 1px solid #004678;
	border-left: 1px solid #004678;
	width: 180px;

}
.epaper h1{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	margin-bottom: 10px;
	line-height: 20px;
	background-color: #004678;
	text-align: center;
}
.epaper h6{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #CCCCCC;
	margin-bottom: 10px;
	padding-top: 10px;
	margin-right: 5px;
	background-image:  url(http://usa.chinadaily.com.cn/2011img/icon-point.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 10px;
}

.epaper h5{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #CCCCCC;
	margin-bottom: 2px;
	padding-top: 2px;
	margin-right: 10px;
	background-position: left;
	padding-left: 2px;
	margin-top: 5px;
	margin-left: 10px;
}

.epaper h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #CCCCCC;
	margin-bottom: 2px;
	padding-top: 2px;
	margin-right: 10px;
	background-position: left;
	padding-left: 2px;
	margin-top: 5px;
	margin-left: 10px;
}
.epaper h4{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #CCCCCC;
	margin-bottom: 2px;
	padding-top: 2px;
	margin-right: 10px;
	background-position: left;
	padding-left: 2px;
	margin-top: 5px;
	margin-left: 10px;
}
.epaper h4 a:link {
	color: #666666;
	text-decoration: none;
}
.epaper h4 a:visited {
	color: #666666;
	text-decoration: none;
}
.epaper h4 a:hover {
	color: #34B3EF;
	text-decoration: underline;
}
/*è½®æ­å¾*/
.cont-roll{
	padding: 0px;
	width: 980px;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
}

.focus2{
	width: 980px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}  
.focus2 img{ width: 748px; height: 440px; margin:0px 0px 0px 0px;} 
.focus2 .shadow .title{ margin:0px; padding:0px;}
.focus2 .shadow .title a{ text-decoration:none; color:#000; font-size:14px; font-weight:bolder; overflow:hidden; }
.focus2 .btn{ bottom:34px; left:510px; overflow:hidden; zoom:1;} 
.focus2 .btn a{position:relative; display:inline; width:13px; height:13px; border-radius:7px; margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53"; text-decoration:none; text-align:center; outline:0; float:left; background:#D9D9D9; }  
.focus2 .btn a:hover,.focus .btn a.current{  cursor:pointer;background:#fc114a;}  
.focus2 .fPic{
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	width: 980px;
}  
.focus2 .D1fBt{ overflow:hidden; zoom:1;  height:16px; z-index:10;  }  
.focus2 .shadow{
	width: 950px;
	bottom: 0;
	left: 0px;
	z-index: 10;
	display: block;
	text-align: center;
}  
.focus2 .shadow h3{
	margin: 10px 0px 5px 0px;
	padding: 0px;
	font-size: 60px;
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height: 60px;
}
.focus2 .shadow h3 a:link,.focus .shadow h3 a:visited{
	text-decoration: none;
	color: #004377;
}
.focus2 .shadow h3 a:hover{ color:#004377;}

.focus2 .shadow h4{ margin:10px 0px 0px 0px; padding:0px; font-size:14px; font-family:Arial, Helvetica, sans-serif; line-height:20px; font-weight:normal;}
.focus2 .shadow h4 a:link,.focus .shadow h4 a:visited{ text-decoration:none; color:#000;}
.focus2 .shadow h4 a:hover{ text-decoration:underline;}


.focus2 .fcon{ width:950px; float:left;  display:none;margin:0px; padding:0px; }  
.focus2 .fcon img{ display:block; }  
.focus2 .fbg{}  
.focus2 .fbg div{margin:4px auto 0;overflow:hidden;zoom:1;height:14px}    
.focus2 .D1fBt a{position:relative; display:inline; width:12px; height:12px; border-radius:7px; margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53"; text-decoration:none; text-align:center; outline:0; float:left; }    
.focus2 .D1fBt img{display:none}    
.focus2 .D1fBt i{display:none; font-style:normal; }  
.focus2 .prev,.focus2 .next{position:absolute;width:40px;height:74px;background: url(http://europe.chinadaily.com.cn/image/2015/focus_btn.png) no-repeat;}
.focus2 .prev{background-position:0 -74px; cursor:pointer; margin:180px 0px 0px 110px;    *margin:-380px 0px 0px 110px; }  
.focus2 .next{background-position: -40px -74px;cursor: pointer;margin-top: 180px;margin-right: 0px;margin-bottom: 0px;margin-left: 817px;*margin:-380px 0px 0px 818px;}  
.focus2 .prev:hover{  background-position:0 0; }  
.focus2 .next:hover{  background-position:-40px 0;}  
.gj{
	margin: 0px auto;
	padding: 0px;
	width: 748px;
	position: absolute;
	z-index: 33;
	}
/*è½®æ­å¾end*/	
.tw01 {
	float: left;
	width: 192px;
	margin-right: 15px;
}
h5 {
	font-size: 14px;
	color: #666;
	padding-top: 10px;
}
h5 a{	font-size: 14px;
	color: #666;
}
