@font-face {
    font-family: sfrblack;
    src: url(../fonts/sfr-1.0-black-webfont.woff);
    
}

@font-face {
    font-family: sfrbold;
    src: url(../fonts/sfr-bold-webfont.woff);
    
}

/*--------formating------------*/
#container{
	width: 728px;
	height: 90px;
	overflow: hidden;
	/*border: solid black 1px;*/
	position: relative;
	background-image: url("../images/imgBG.jpg");
    cursor: pointer;
}

body{
	margin: 0px;
}

/*--------CONTENT---------*/

#logo{
	position: absolute;
	left: 20px;
	top: 20px;
	width: 50px;
	height: 50px;
	z-index: 60;
}

#tvHDimg{
	position: absolute;
	left: 106px;
	top: 8px;
	
}

#text_1{
	position: absolute;	
	top: 0px;
	width: 728px;
	height: 90px;
}

#offrez{
	position: absolute;
	top: 113px;
	left: 220px;	
}

#toute{
	position: absolute;
    /*width: 970px;*/
	top: 139px;
	left: 178px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.7px;
	line-height: 1;
	font-family: sfrbold;
    color: #fff;
    font-size: 18px;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.7), 0 0 7px rgba(255, 255, 255, 0.7);

    animation-name: glow;
    animation-duration: 0.4s;
    animation-delay: 3.6s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

    -webkit-animation-name: glow;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-delay: 3.6s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: glow;
    -moz-animation-duration: 0.4s;
    -moz-animation-delay: 3.6s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -moz-animation-fill-mode: forwards;
}

#text_2{
	position: absolute;	
	top: 90px;
    width: 728px;
    height: 90px;
}

#rapid{
	position: absolute;
	top: 28px;
	left: 148px;	
}

#RapidSFR{
    position:absolute;
    top: 28px;
    left: 461px;
}

#x_30{
	position: absolute;
	top: 17px;
	left: 337px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: -0.8px;
	line-height: 1;
	font-family: sfrblack;
    color: #fff;
    font-size: 55px;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.7), 0 0 7px rgba(255, 255, 255, 0.7);

    animation-name: glow;
    animation-duration: 0.4s;
    animation-delay: 6.9s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

    -webkit-animation-name: glow;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-delay: 6.9s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: glow;
    -moz-animation-duration: 0.4s;
    -moz-animation-delay: 6.9s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -moz-animation-fill-mode: forwards;
}

#text_3{
	position: absolute;	
	top: 90px;
    width: 728px;
    height: 90px;
}

#spectaculaire{
	position: absolute;
	top: 56px;
	left: 278px;	
}

#tvHD{
	position: absolute;
	top: 16px;
	left: 311px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1;
	font-family: sfrbold;
    color: #fff;
    font-size: 37px;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.7), 0 0 7px rgba(255, 255, 255, 0.7);

    animation-name: glow;
    animation-duration: 0.4s;
    animation-delay: 9.9s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

    -webkit-animation-name: glow;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-delay: 9.9s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: glow;
    -moz-animation-duration: 0.4s;
    -moz-animation-delay: 9.9s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -moz-animation-fill-mode: forwards;
}

#text_4{
	position: absolute;	
	top: 90px;
    width: 728px;
    height: 90px;
}

#pendant{
	position: absolute;
	top: 42px;
	left: 190px;	
}

#change{
	position: absolute;
	top: 39px;
	left: 310px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.3px;
	line-height: 1.25;
	font-family: sfrbold;
    color: #fff;
    font-size: 18px;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.7), 0 0 7px rgba(255, 255, 255, 0.7);

    animation-name: glow;
    animation-duration: 0.4s;
    animation-delay: 12.9s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

    -webkit-animation-name: glow;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-delay: 12.9s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: glow;
    -moz-animation-duration: 0.4s;
    -moz-animation-delay: 12.9s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -moz-animation-fill-mode: forwards;
}


#text_5{
	position: absolute;	
	top: 90px;
    width: 728px;
    height: 90px;
}

#fibreMois{
	position: absolute;
	top: 28px;
	left: 131px;	
}

#Mois{

    position: absolute;
    top: 26px;
    left: 433px;
}

#box{
	position: absolute;
	top: 25px;
	left: 269px;	
}

#offert{
	position: absolute;
	top: 43px;
	left: 412px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1.6px;
	line-height: 1;
	font-family: sfrbold;
    color: #fff;
    font-size: 25px;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.7), 0 0 7px rgba(255, 255, 255, 0.7);

    animation-name: glow;
    animation-duration: 0.4s;
    animation-delay: 15.9s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

    -webkit-animation-name: glow;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-delay: 15.9s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: glow;
    -moz-animation-duration: 0.4s;
    -moz-animation-delay: 15.9s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -moz-animation-fill-mode: forwards;
}

/*Mention Legal*/
#ml
{
    z-index: 51;
    position: relative;
    /*bottom:-20px;*/
    top: 68px;
    left: 0px;
    opacity: 0;
    animation: mlanim 0.3s linear 7s forwards;

    -webkit-animation-name: mlanim;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-delay: 7s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;

}

#ml .VoirConditions {
    width:77px;
    height: 15px; 
    padding-left: 601px;
}
#ml img
{
    /*margin: 10px auto;*/
    display: block;
    cursor: pointer;
}

#ml:hover > #mention
{
    bottom:-7px;
}

#mention
{
    position: absolute;
    bottom: -98px;
    /*width: 300px;*/
    /*height: 40px;*/
    z-index: 1;

}

.mention-anim
{
    bottom: -40px;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;

}

.mention-anim2-out
{
    bottom: -40px

}

@keyframes mention {

    0%{
        bottom:-40px;
    }

    100%{
        bottom:0px;
    }
}

@keyframes mention2 {

    0%{
        bottom:0px;
    }

    100%{
        bottom:-40px;
    }
}

@keyframes mlanim {

    0%{
        bottom:-20px;
    }

    100%{
        bottom:0px;

    }
}


#CTA{
	position: absolute;
	/*width: 205px;*/
	/*height: 39px;*/
	left: 566px;
	top: 35px;
	/*opacity: 0;*/
}



/**** ANIM GLOW ****/
@keyframes glow {
    0% {
        text-shadow: 0 0 2px rgba(255, 255, 255, 0.7), 
        0 0 7px rgba(255, 255, 255, 0.7)
    }
    50% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.7),
        0 0 10px rgba(255, 255, 255, 0.7),
        0 0 15px rgba(255, 255, 255, 0.7),
        0 0 20px rgba(255, 255, 255, 0.7),
        0 0 25px rgba(255, 255, 255, 0.7)

    }
    100% {
        text-shadow: 0 0 2px rgba(255, 255, 255, 0.7), 
        0 0 7px rgba(255, 255, 255, 0.7)
    }
}


@-webkit-keyframes glow {
    0% {
        text-shadow: 0 0 2px rgba(255, 255, 255, 0.7), 
        0 0 7px rgba(255, 255, 255, 0.7)
    }
    50% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.7),
        0 0 10px rgba(255, 255, 255, 0.7),
        0 0 15px rgba(255, 255, 255, 0.7),
        0 0 20px rgba(255, 255, 255, 0.7),
        0 0 25px rgba(255, 255, 255, 0.7)

    }
    100% {
        text-shadow: 0 0 2px rgba(255, 255, 255, 0.7), 
        0 0 7px rgba(255, 255, 255, 0.7)
    }
}


@-moz-keyframes glow {
    0% {
        text-shadow: 0 0 2px rgba(255, 255, 255, 0.7), 
        0 0 7px rgba(255, 255, 255, 0.7)
    }
    50% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.7),
        0 0 10px rgba(255, 255, 255, 0.7),
        0 0 15px rgba(255, 255, 255, 0.7),
        0 0 20px rgba(255, 255, 255, 0.7),
        0 0 25px rgba(255, 255, 255, 0.7)

    }
    100% {
        text-shadow: 0 0 2px rgba(255, 255, 255, 0.7), 
        0 0 7px rgba(255, 255, 255, 0.7)
    }
}
