/**  -------------------------------
 content: Terms & Deactive CSS of Offer Dynamics
 author: Juan Vargas <jvargas@aedgency.com>
 ---------------------------------------- **/


 /*** DEACTIVE ****/

.od-deactive-text-black {
	font-size: 21px;
	font-family: Abel-Regular;
	color: #333333;
}

.od-deactive-text-grey {
	font-size: 21px;
	font-family: Abel-Regular;
	color: #666666;
}

.od-deactive-text-red {
	font-size: 21px;
	font-family: Abel-Regular;
	color: #FF0000;
}

.od-deactive-text-deactive {
	display: none;
	clear: both;
	padding-top: 30px;
}


.od-deactive-zone {
	float: left;
	padding-left: 20px;
    padding-top: 32px;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.od-deactive-state {
	float: left;
	position: relative;
	padding-top: 35px;
}

.id-deactive-text-button {
	font-family: Arial;
	font-size: 16px;
	color: #FFFFFF;
	text-transform:capitalize;
	font-weight:normal;
}

.od-deactive-container * {
    font-family: Abel-Regular;
}
.od-deactive-container {
    height: auto;
    margin: 0 auto;
    padding: 15px 0 30px;
    width: 950px;
}

.od-img-deactive {
	padding: 25px;
}

.od-deactive-button {
	background-repeat: no-repeat;
    cursor: pointer;
    height: 38px;
    position: relative;
    text-align: center;
    width: 142px;
    padding-top: 7px;

}
.od-deactive-button-active {
	display: none;
	background-image: url("/images/button_activate.png");
    padding-left: 8px;
}

.od-deactive-button-deactive {
	display: none;
	background-image: url("/images/button_deactive.png");
}


/*** TERMS ***/
body.od-terms{
	background-color: #ffffff;
}


.od-privacity-container {
    padding: 20px 35px;
    margin: auto;
  	width: auto;
  	min-height: 1100px;
}

.od-terms-container {
    padding: 20px 35px;
    margin: auto;
  	width: auto;
  	min-height: 1700px;
}
.od-terms-text {
	height: auto;
	/*margin-top: 20px;
    margin-left: 325px;
    margin-bottom: 45px;*/
    padding: 15px 0 30px;
	margin: 0 auto;
    width: 950px;
}
	
.od-terms-text-title {
	color: #000000;
	font-size: 18px;
	text-transform: uppercase;
	font-family: Abel-Regular;
	margin-bottom: 20px;
}

.od-terms-text-subtitle {
	color: #000000;
	font-size: 16px;
	text-transform: uppercase;
	font-family: Abel-Regular;
	margin-bottom: 10px;
	margin-top: 10px;
}

.od-terms-text-subtitle-freecase {
	color: #000000;
	font-size: 16px;
	font-family: Abel-Regular;
	margin-bottom: 10px;
	margin-top: 10px;
}

.od-terms-text-text {
	font-family: Arial;
	color: #999999;
	font-size: 12px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.od-terms-text-text a{
	color: #1E0FBE;
    text-decoration: none;
}

/*font-family: 'Open Sans', Arial; text-transform: uppercase; font-weight: 100;  font-size: 24px; color: #666666; line-height: 28px;*/

.instructions-deactivate {
    font-size: 14px;
    margin-bottom: 40px;
    float: left;
}
.instructions-deactivate p {
    margin: 10px 0px;
}
.second-title {
    font-size: 18px;
}
.col2 {
    width: 465px;
    float: left;
    margin-right: 20px;
}
.col2.last {
    margin-right: 0px;
}