html, body
{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 970px;
	height: 250px;
}
#ad-container_dc{
	position: absolute;
	width: 970px;
	height: 250px;
	/*top: 0px;
	left: 0px;
	width: 968px;
	height: 248px;
	position: absolute;*/
	/*background-image: url("background.jpg"); */
	/*background-color: #999;
	border: 1px solid #333 ;*/

}

#ytClose_dc {
	z-index: 1000;
}

#ytClose
{
	position: fixed;
	cursor:pointer;
	top:0px;
	left:820px;
	width:150px;
	height:	25px;
	background: #000000;
	background:url('closeAd.png');
	z-index:600;
	opacity:1;
}

#closeAd_hotspots{
	position: absolute;
	cursor:pointer;
	left:872px;
	width:100px;
	height:	25px;
	background-color: transparent;
	z-index:600;
	opacity:0;
	top: 0;
}


#bgExit_dc{
	top: 0px;
	left: 0px;
	width: 970px;
	height: 250px;
	background-color: transparent;
	cursor: pointer;
	position: absolute;
	z-index: 800;
	display: none;
}






