#global {
  position: absolute;
  width: 298px;
  height:248px;
  left:0px;
  top: 0px;
  border: 1px solid black;
  background-color: #ec2357;
  overflow: hidden;
  visibility: hidden;  
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-rendering:  geometricPrecision;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}
#pix {
  position: absolute;
  width: 100%;
  height:250%;
  top: 0%;
  left:0%;
  background-image: url('pix.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-color: white;
}
#txt_1 {
  position: absolute;
  width:100%;
  height:70%;
  left:  0%;
  top:0%;
  background-image: url('txt_1.png');
  background-position: center center;
  background-repeat: no-repeat;
}
#logo {
  position: absolute;
  width: 100%;
  height:100%;
  left:  0%;
  bottom:0%;
  background-image: url('logo.png');
  background-position: center bottom;
  background-repeat: no-repeat;
}
#prix {
  position: absolute;
  width: 100%;
  height: 37%;
  top: 0%;
  left:0%;
  background-image: url('prix.jpg');
  background-position: center center;
  background-repeat: no-repeat;
}
#boitier {
  position: absolute;
  width:100%;
  height:90%;
  top: 0%;
  left:0%;
  background-image: url('boitier.jpg');
  background-position: center center;
  background-repeat: no-repeat;
}
#tv {
  position: absolute;
  width: 100%;
  top:40%;
  left:0%;
  color: #284da8;
  font-size: 18px;
}
#mois {
  position: absolute;
  width:100%;
  top:17%;
  left:0%;
  font-size: 12.3pt;
  padding-top: 37px;
  color: #0057a3;
  line-height: 110%;
  background-image: url('mois.jpg');
  background-position: center top;
  background-repeat: no-repeat;
}
#mois b {
  font-size: 14px;
}
#cta{
  position: absolute;
  width: 100%;
  height: 80%;
  left:0%;
  bottom: 0%;
  background-image: url('cta.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}
#reflet{
  position: absolute;
  width: 200%;
  height:100%;
  left:-100%;
  top:    0%;
  background: -moz-linear-gradient(-45deg,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 15%, rgba(255,255,255,0.63) 21%, rgba(255,255,255,0) 24%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 15%,rgba(255,255,255,0.63) 21%,rgba(255,255,255,0) 24%,rgba(255,255,255,0) 100%);
  background: linear-gradient(135deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 15%,rgba(255,255,255,0.63) 21%,rgba(255,255,255,0) 24%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
}
#conditions {
  position: absolute;
  width:100%;
  right: 0%;
  bottom:0%;
  color: #0057a3;
  font-size: 7px;
}
#txt_end {
  position: absolute;
  width:100%;
  height:73%;
  top: 0%;
  left:0%;
  background-image: url('txt_end.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 49% auto;
}
#baseline {
  position: absolute;
  width: 100%;
  bottom:0%;
  left:  0%;
  color: #aaaaaa;
  font-size: 9px;
}