@charset "utf-8";
body {
	font-family: Arial, "å®ä½";
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}
div {margin-right: auto;margin-left: auto;}
img {margin: 0px;padding: 0px;border-width: 0px;}
ul, dl, ol{margin:0;padding:0;list-style:none;}
.floatlft {float: left;}
.floatrgt {float: right;}
.en_header {
	width: 980px;
	padding-top: 15px;
}
.gary a,.gary a:visited {color: #7d7d7d;}
.gary a:hover {text-decoration: underline;}
.lineBg a {background:url(http://www.chinadaily.com.cn/image_e/2013/line1.gif) no-repeat right center;float: left;padding-right: 7px;padding-left: 7px;text-decoration: none;}
.head_top {overflow: hidden;}
.head_cen {
	overflow: hidden;
	padding-top: 6px;
	padding-bottom: 10px;
	width: 100%;
}
.logo {
	float: left;
	height: 59px;
	width: 467px;
}
.ad {
	float: left;
	height: 60px;
	width: 230px;
	margin-left: 20px;
}


.head_bot {line-height: 23px;height: 23px;border-top:1px solid #cbcbcb;border-bottom:1px solid #cbcbcb;}
.s_btn_Box {
	width: 213px;
	float: left;
	margin-left: 50px;
	padding-top: 14px;
}
.searchBox {
	height: 23px;
	display: block;
	float: left;
	margin-bottom: 9px;
	width: 100%;
}
.btnBox {float: left;padding-left: 65px;}
.btnBox a,.btnBox a:visited {
	background-color: #b6b6b6;
	display: block;
	height: 14px;
	padding-right: 8px;
	padding-left: 8px;
	float: left;
	color: #FFF;
	text-decoration: none;
	line-height: 14px;
	margin-left: 5px;
}
.btnBox a:hover {background-color: #999;}
.sh1 {
	height: 21px;
	width: 172px;
	border: 1px solid #cbcbcb;
	line-height: 21px;
	color: #999;
	font-family: Arial;
	padding-left: 5px;
	float: left;
	margin-right: 2px;
}
.nav {width: 980px;margin-bottom: 10px;}
.t_btn_Box {
	float: right;
	width: 180px;
}
.t_btn_Box .btnBox {padding-left: 0px;margin-top: 2px;margin-left: 3px;width: 161px;}
.time {
	float: left;
	color: #024073;
	font-weight: bold;
	margin-left: 5px;
}
.pick1 {
	width: 200px;
	float: right;
}
.pick1 a,.pick1 a:visited {
	color: #024073;
}
.pick1 a:hover {
	color: #1a96cf;
}


.lineBg a {
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/line1.gif);
	background-repeat: no-repeat;
	background-position: right center;
	float: left;
	padding-right: 7px;
	padding-left: 7px;
}
/*å¯¼èªèå*/
.dropdown{
	position: relative;
	background-color: #014073;
	height: 25px;
	font-size: 12px;
}
.dropdown li{
	float: left;
	zoom: 1;
	height: 25px;
	border-right: 1px solid #FFF;
	text-align: left;
}
.dropdown li span a{
	display: block;
	color: #FFF;
	height: 25px;
	font-size: 14px;
	float: left;
	text-decoration: none;
	font-weight: bold;
	line-height: 25px;
	padding-right: 8px;
	padding-left: 7px;
}
.dropdown li span a:hover{;color: #FFF;}
.dropdown a:active{ color: #ffa500; }
.dropdown li:last-child a{ border-right: none; } 
.dropdown li:hover {color: #FFF;position: relative;background-color: #006599;}
.dropdown ul{
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: -39px;
	width: 150px;
}
.dropdown ul li{font-weight: normal;float: left;background-color: #014073;height: 25px;color: #FFF;border-width: 0px;filter: Alpha(Opacity=85, Style=0);opacity: 0.85;}
.dropdown ul li a{
	display: block;
	height: 25px;
	text-decoration: none;
	color: #FFF;
	line-height: 25px;
	width: 150px;
} 
.dropdown ul li a:hover{
	background-color: #006599;
}
.dropdown ul ul{left: 100%;top: 0;}
.dropdown li:hover > ul{ visibility: visible; }
.dropdown li .sub_menu {
	background-color: #014073;
	filter: Alpha(Opacity=85, Style=0);
	opacity: 0.85;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.sub_menu li a:hover{background-color: #0C0;}
.mobile {background: url(http://www.chinadaily.com.cn/image_e/2013/arr_bot.gif) no-repeat 70px center;width: 85px;}
.newspaper {width: 115px;background: url(http://www.chinadaily.com.cn/image_e/2013/arr_bot.gif) no-repeat 102px center;}

.home a:hover {background-color: #046a9b;}
.china a:hover {background-color: #077da5;}
.regional a:hover {background-color:#0290a8;}
.world a:hover {background-color: #00b690;}
.business a:hover {background-color: #1fad00;}
.sports a:hover {background-color:#8eaf00;}
.travel a:hover {background-color:#00a0e9;}
.life a:hover {background-color: #ee2000;}
.culture a:hover {background-color: #e90552;}
.photo a:hover {background-color:#d44574;}
.video a:hover {background-color:#807b80;}
.opinion a:hover {background-color:#8b868b;}
.forum a:hover {background-color:#929292;}
.cartoon a:hover {background-color:#b79b4e;}
.language a:hover {background-color:#e0bb37;}
/*å¯¼èªèå-end*/
/*headæ»å¨å­-begin*/
.pick2{
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 14px;
	width: 550px;
	float: left;
	overflow: hidden;
}
.pick2 a {
	padding-left: 12px;
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/ico2.gif);
	background-repeat: no-repeat;
	background-position: 4px 9px;
	display: block;
	float: left;
}
.pick2 b {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	display: block;
	width: 50px;
	float: left;
	color: #024073;
}
#Scroll {
	FONT-SIZE: 12px;
	LINE-HEIGHT: 23px;
	HEIGHT: 23px;
	TEXT-ALIGN: left;
	margin: 0px;
	float: left;
}

#Scroll A {
	PADDING-LEFT: 13px;
	COLOR: #024073;
	TEXT-DECORATION: none;
	font-family: Arial;
}
#ScrollMe a i {
	padding-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
}

#Scroll A.s_end {
PADDING-RIGHT: 0px; MARGIN-LEFT: 8px
}
/*æ»å¨å­-end*/
.Txt14 {
	font-size: 14px;
}
