ï»¿@import url('b.css');
body { width: 100%; }
td {  float: left; margin-top: 5px; }
.container #b { display: none; }
.container #a { width:100%; line-height:2em; text-align:center; height: 26px; overflow: hidden; padding-top:1px;}
.container.b #b { display: block; }
.container.b #a { display: none; }
/*åå¸ï¼æç´¢å®é®*/
#city { }
#city-name {display: inline-block; margin-left: 1%; text-align: right; vertical-align:top; *margin-right:4px; _margin-top:2px;}
#city-name .en, #city-btn { display: none; }
/*é¢æ¥*/
#fc-s1 { display: inline-block;text-align: center; margin-top:2px; }
#fc-temp {font-size:12px; font-family:'Arial'; margin-right: 2%; display: inline-block; vertical-align:top;  *margin-left:4px; line-height: 25px;  _font-family:'å¾®è½¯éé»';}
#city {}
#fc-l1{letter-spacing:-1px; margin-right: 1px;}
#fc-h1{letter-spacing:-1px; margin-left: 3px;}
#fc-temp em{_position:relative; _top:-1px;_margin:0 3px 0 1px;}
/*å­å¹*/
#slider,#slider1 { height: 24px; padding: 0 5px; }
#slider a,#slider1 a { color: #6699FF; }
