.exp-growth_web_google_register--polish {
  /*
       general page polish
       if variants GOOGLE2, GOOGLE3, or MULTISTEP win of the exp-growth_web_google_register
       experiment, then everything nested in here should be merged back in;
       otherwise cleaned-up
    */
}

.exp-growth_web_google_register--polish .sign-up-form-v1 {
  /*
           general form polish
           if variants GOOGLE2, GOOGLE3, or MULTISTEP win of the exp-growth_web_google_register
           experiment, then everything nested in here should be merged back in;
           otherwise cleaned-up
        */
}

.exp-growth_web_google_register--polish .sign-up-form-v1 .form-container .login-button.button-primary {
  padding-top: 5px;
  padding-bottom: 4px;
}

.exp-growth_web_google_register--polish .sign-up-form-v1 .form-container .hr-label {
  padding: 0;
  margin: 5px 0;
}

.exp-growth_web_google_register--polish .sign-up-form-v1 .form-container .hr-label__text {
  font-size: 13px;
  line-height: 24px;
  padding: 0 8px;
  vertical-align: top;
}

.exp-growth_web_google_register--polish .sign-up-form-v1 .form-container .hr-label::before {
  border-top-color: #d0d4d9;
}

.exp-growth_web_google_register--polish .sign-up-form-v1 .form-container .auth-google.button-primary {
  padding-top: 5px;
  padding-bottom: 5px;
}

.exp-growth_web_google_register--polish .sign-up-form-v1 .form-container .password-input-meter {
  right: 2px;
}

.exp-growth_web_google_register--polish .sign-up-form-v1 .form-container .text-input .text-input-input {
  height: 36px;
}

.exp-growth_web_google_register--polish .sign-up-form-v1.new-exp-form-image .form-container .checkbox {
  padding: 6px 0;
  padding-right: 25px;
}

.exp-growth_web_google_register--polish .sign-up-form-v1.new-exp-form-image .form-container .checkbox input {
  margin-top: 2px;
}

.exp-growth_web_google_register--polish .sign-up-form-v1.new-exp-form-image .form-container .login-button.button-primary {
  font-weight: 600;
  background: #007ee5;
  margin-bottom: 0;
}

.exp-growth_web_google_register--polish .sign-up-form-v1 .register-form--error-list .register-form__errors {
  height: 0;
  margin-top: 0;
}

.exp-growth_web_google_register--polish .sign-up-form-v1 .register-form--error-list .register-form__error {
  line-height: 20px;
}

.exp-growth_web_google_register--polish .sign-up-form-v1 .register-form--error-alert .text-input--error:before {
  right: 10px;
  top: 11px;
  z-index: 1;
  left: auto;
}

.exp-growth_web_google_register--polish .sign-up-form-v1 .register-form--error-alert .text-input--error.input-password:before {
  right: 16px;
}

.exp-growth_web_google_register--polish .sign-up-form-v1 .register-form--error-alert .checkbox-inline--error:before {
  right: 0;
  top: 11px;
  left: auto;
}

.exp-growth_web_google_register--polish .sign-up-form-v1 .register-form .checkbox-inline {
  margin-right: 25px;
}

.exp-growth_web_google_register--polish .sign-up-form-v1 .register-form__multistep {
  height: 280px;
}

.exp-growth_web_google_register--polish.exp-growth_web_google_register {
  /*
           specific polish for each variant GOOGLE2, GOOGLE3, MULTISTEP
           of growth_web_google_register; if any variant wins, then the
           styles for that experiment should be merged in;
           and all others cleaned up
        */
}

.exp-growth_web_google_register--polish.exp-growth_web_google_register__GOOGLE2 .form-container .auth-google, .exp-growth_web_google_register--polish.exp-growth_web_google_register__GOOGLE2 .form-container .login-button, .exp-growth_web_google_register--polish.exp-growth_web_google_register__GOOGLE3 .form-container .auth-google, .exp-growth_web_google_register--polish.exp-growth_web_google_register__GOOGLE3 .form-container .login-button, .exp-growth_web_google_register--polish.exp-growth_web_google_register__MULTISTEP .form-container .auth-google, .exp-growth_web_google_register--polish.exp-growth_web_google_register__MULTISTEP .form-container .login-button {
  font-size: 14px !important;
}

.exp-growth_web_google_register--polish.exp-growth_web_google_register__GOOGLE2 .register-form, .exp-growth_web_google_register--polish.exp-growth_web_google_register__GOOGLE3 .register-form {
  margin-bottom: 13px;
}

.exp-growth_web_google_register--polish.exp-growth_web_google_register__GOOGLE2 .register-form__errors, .exp-growth_web_google_register--polish.exp-growth_web_google_register__GOOGLE3 .register-form__errors {
  padding: 0;
}

.exp-growth_web_google_register--polish.exp-growth_web_google_register__GOOGLE2 .form-container .auth-google, .exp-growth_web_google_register--polish.exp-growth_web_google_register__MULTISTEP .form-container .auth-google {
  font-weight: 600;
}

.exp-growth_web_google_register--polish.exp-growth_web_google_register__GOOGLE3 {
  background-position: 9px 9px;
}

.exp-growth_web_google_register--polish.exp-growth_web_google_register__GOOGLE3:before {
  left: 34px;
}

.exp-growth_web_google_register--polish.exp-growth_web_google_register__MULTISTEP .hr-label {
  margin: 6px 0;
}

.exp-growth_web_google_register--polish.exp-growth_web_google_register__MULTISTEP .hero__content {
  padding-bottom: 0;
}

.exp-growth_web_google_register--polish.exp-growth_web_google_register__GOOGLE2 .sign-up-form-v1-hero, .exp-growth_web_google_register--polish.exp-growth_web_google_register__GOOGLE3 .sign-up-form-v1-hero {
  padding-bottom: 37px;
}

.exp-growth_web_google_register--polish.exp-growth_web_google_register__GOOGLE2 .hero, .exp-growth_web_google_register--polish.exp-growth_web_google_register__GOOGLE3 .hero, .exp-growth_web_google_register--polish.exp-growth_web_google_register__MULTISTEP .hero {
  padding-top: 105px;
  overflow: visible;
}

.exp-growth_web_google_register--polish.exp-growth_web_google_register__GOOGLE2 .hero__register, .exp-growth_web_google_register--polish.exp-growth_web_google_register__GOOGLE3 .hero__register, .exp-growth_web_google_register--polish.exp-growth_web_google_register__MULTISTEP .hero__register {
  margin-top: 4px;
}

.exp-growth_web_google_register--polish.exp-growth_web_google_register__GOOGLE2 .hero__banner, .exp-growth_web_google_register--polish.exp-growth_web_google_register__GOOGLE3 .hero__banner, .exp-growth_web_google_register--polish.exp-growth_web_google_register__MULTISTEP .hero__banner {
  margin-bottom: 33px !important;
}

.exp-growth_web_google_register--polish.exp-growth_web_google_register__GOOGLE2 .hero__copy, .exp-growth_web_google_register--polish.exp-growth_web_google_register__GOOGLE3 .hero__copy, .exp-growth_web_google_register--polish.exp-growth_web_google_register__MULTISTEP .hero__copy {
  width: 395px;
}

.exp-growth_web_google_register--polish.exp-growth_web_google_register__GOOGLE2 .hero__copy .medium-title, .exp-growth_web_google_register--polish.exp-growth_web_google_register__GOOGLE3 .hero__copy .medium-title, .exp-growth_web_google_register--polish.exp-growth_web_google_register__MULTISTEP .hero__copy .medium-title {
  margin-top: 23px;
  font-size: 21px;
  line-height: 36px;
}

.exp-growth_web_google_register--polish.exp-growth_web_google_register__GOOGLE2 .hero__copy .large-title, .exp-growth_web_google_register--polish.exp-growth_web_google_register__GOOGLE3 .hero__copy .large-title, .exp-growth_web_google_register--polish.exp-growth_web_google_register__MULTISTEP .hero__copy .large-title {
  line-height: 47px;
}

.exp-growth_web_google_register--polish.exp-growth_web_google_register__GOOGLE2 .hero__copy .large-title .lb--desktop-mobile, .exp-growth_web_google_register--polish.exp-growth_web_google_register__GOOGLE3 .hero__copy .large-title .lb--desktop-mobile, .exp-growth_web_google_register--polish.exp-growth_web_google_register__MULTISTEP .hero__copy .large-title .lb--desktop-mobile {
  display: inline;
}

.exp-growth_web_google_register--polish.exp-growth_web_google_register__GOOGLE2 .hero__copy .large-title .lb--desktop-mobile::before, .exp-growth_web_google_register--polish.exp-growth_web_google_register__GOOGLE3 .hero__copy .large-title .lb--desktop-mobile::before, .exp-growth_web_google_register--polish.exp-growth_web_google_register__MULTISTEP .hero__copy .large-title .lb--desktop-mobile::before {
  content: '';
  display: inline-block;
  visibility: hidden;
  width: .25em;
}
