body {
  margin: 0;
}

a {
  cursor: pointer;
  position: absolute;
}

.ml-txt
{
  color:#000;
}

.wrapper {
  width: 728px;
  height: 90px;
  overflow: hidden;
  background: #FFF;
  border: 1px solid #000;
  position: relative;
  box-sizing: border-box;
 
}
.wrapper #banner {
  position:absolute;
  width: 100%;
  height: 100%;
  /*background: url("../images/bg.jpg") no-repeat center center;*/
}


/*SLIDE 1*/

.text_tv
{
  opacity: 0;
  position: absolute;
  top: 16px;
  left: 460px;
}

.bg1{
  position: absolute;
  top: 0px;
  left: 0px;
  
}

.bg2{
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  
}

.logo{
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 15px;
  z-index:100;
}

.txt-degel
{
  /* opacity: 0; */
  position: absolute;
  width: 100%;
  height:100%;
  z-index:50;
  top:0;
}

.txt-degel img
{
  display: block;
  padding: 13px 187px;
}

.box-wrap{
  position: absolute;
  width: 100%;
  height: 90px;
  opacity: 0;
  /*left:90px;*/
}

.box-fibre{
  position: absolute;
  /* top:25px; */
  left: 340px;
  /*width: 100%;
  height:100%;*/
}


.txt-fibre{
  position: absolute;
  top:80px;
  left:90px;
 /* width: 100%;
  height:100%;*/
}



.txt-jusqua{
  position: absolute;
  /* width: 100%; */
  /* height: 90px; */
  opacity: 0;
  top: -69px;
  left: 408px;
}

.txt-jusqua img{
  display: block;
    padding: 72px 91px;

}

.box-sfr{
  position: absolute;
  width: 100%;
  height:100%;
  left: -306px;
}

.box-sfr img{
    padding: 11px 130px;
}

.txt-fin
{
  position: absolute;
  width: 100%;
  height:100%;
  opacity: 0;
}

.txt-fin img{
    padding: 18px 91px;
}


.exclu{
    position: absolute;
  width: 100%;
  height:100%;
  opacity:0;
}

.exclu img{
    padding: 16px 330px;
}

.fin-wrap
{
  position: absolute;
  width: 100%;
  height: 100%;
}

.glace-nuage
{
  position: absolute;
  width: 100%;
  height:100%;
  opacity: 0;
}

.glace-nuage-2
{
    position: absolute;
  width: 100%;
  height:100%;
  opacity: 0;
}

.cta{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0px;

    opacity: 0;
}

.GlaceAnim{
  
  position:absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}
.Glace1{
  position:absolute;
  top: -2px;
  left: -1px;
}

.Glace2{
  width: 100%;
  position:absolute;
  top: -2px;
  left: 186px;
  height: 100%;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.Glace3{
  position:absolute;
  width: 100%;
  height: 100%;
}

.Glace3 img{
  position: absolute;
  right: 0;
  bottom: 0;
}


.Glace_fake{
  position:absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}
.Glace_01{
  position:absolute;
  top: -2px;
  left: -2px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}


.Glace_02{
  position:absolute;
  /* width: 100%;
  height: 100%;*/
  top: -2px;
  left: 472px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

/*.Glace_02 img{
  position: absolute;
 
}*/

.PrixGlow2{
  position: absolute;
  top: 34px;
  left: 82px;
  opacity: 0;

}

.PrixGlow{
  position: absolute;
  top: 28px;
  left: 337px;
  opacity: 0;
}


.text_200mb_glow{
  position: absolute;
  top: 23px;
  left: 496px;
  opacity: 0;
}

.txt-fin_2eme{
  position: relative;
  top: 10px;
  left: 260px;
  opacity: 0;
}





.cta-img{
    padding: 31px 525px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.txt-ml
{
  position: absolute;
    top:215px;
    left:14px;
}
.txt-condition{
  position:absolute;
  top:229px;
  left:212px;
}


.box-wrap img{
  display: block;
  position: relative;
  margin: 7px -41px;
}



.VoirConditions {
  position: absolute;
  top: 75px;
  opacity: 0;
  width:100%;
  height:100%;
}

.VoirConditions img
{
    display: block;
    position: absolute;
    padding: 0px 629px;
}


.ml_btn
{
  display: block;
  position: absolute;
  margin: auto;
  left:0;
  right:0;
  z-index: 100;
}

.ml-txt
{
    position: absolute;
    width: 107%;
    height: auto;
    top: 30px;
    background: #ffffff;
    font-family: arial;
    font-size: 10px;
    text-align: center;
    padding: 11px 10px;
    box-sizing: border-box;

     transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;

}

.ml_btn:hover > .ml-txt
{
  top:-20px;

}

@-moz-document url-prefix() { 
 .ml_btn:hover > .ml-txt
{
  top:-25px;

}
}






@keyframes scaleAnimD {
  
    0%{transform:scale(1);}
  
/*    20%{transform:scale(1.15)}

    40%{transform:scale(1);}

    75%{transform:scale(1);}*/

    100%{transform:scale(0.76);}
  
    
}


@-webkit-keyframes scaleAnimD {
  
    0%{-webkit-transform:scale(1);}
  
    20%{-webkit-transform:scale(1.15)}

    40%{-webkit-transform:scale(1);}

    75%{-webkit-transform:scale(1);}

    100%{-webkit-transform:scale(0.76);}
  
    
}


@-moz-keyframes scaleAnimD {
  
    0%{-moz-transform:scale(1);}
  
    20%{-moz-transform:scale(1.15)}

    40%{-moz-transform:scale(1);}

    75%{-moz-transform:scale(1);}

    100%{-moz-transform:scale(0.76);}
  
    
}


@-ms-keyframes scaleAnimD {
  
    0%{transform:scale(1);}
  
    20%{transform:scale(1.15)}

    40%{transform:scale(1);}

    75%{transform:scale(1);}

    100%{transform:scale(0.76);}
    
}


/**** SCALE TXT 2 ***/

@keyframes scaleAnimTxt2 {
  
    0%{transform:scale(1);}
  
    50%{transform:scale(1.1)}

    100%{transform:scale(1); 
}


@-webkit-keyframes scaleAnimTxt2 {
  
    0%{-webkit-transform:scale(1);}
  
    50%{-webkit-transform:scale(1.1)}

    100%{-webkit-transform:scale(1); 
  
    
}


@-moz-keyframes scaleAnimTxt2 {
  
    0%{-moz-transform:scale(1);}
  
    50%{-moz-transform:scale(1.1)}

    100%{-moz-transform:scale(1); 
  
    
}


@-ms-keyframes scaleAnimTxt2 {
  
    0%{transform:scale(1);}
  
    50%{transform:scale(1.1)}

    100%{transform:scale(1); 
    
}