

.cadun-flow-container a {
    color: #0669de;
}

.cadun-flow-container header, .cadun-flow-container .header-container {
    background-color: #0669de;
    border-bottom: 3px solid #0552ac;
}

.cadun-flow-container header .product-extra-link {
    color: #ffffff;
}

.cadun-flow-container button, .cadun-flow-container .button {
    background-color: #0669de;
}

.cadun-flow-container button:hover, .cadun-flow-container .button:hover {
    background: #0664d4;
}

.cadun-flow-container button:active, .cadun-flow-container .button:active {
    background: #0560ca;
}

.cadun-flow-container .button-agree {
    background-color: #0669de;
}

.cadun-flow-container .button-disagree {
    background-color: #e7e7e7;
}

.cadun-flow-container .service-product-logo {
    display: inline-block;
    height: inherit;
    min-width: 178px;
    background-image: url(//flow.cadun.globo.com/assets/images/logos-globocom-header.png);
    background-repeat: no-repeat;
    background-position: center center;
}

@media (max-width: 800px) {
    .cadun-flow-container header .product-extra-link {
        background-color: #0552ac;
    }

    .cadun-flow-container .service-product-logo {
        background-size: auto 32px;
    }
}