.soccer-teams .oeste {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -840px;}
.soccer-teams .paysandu {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -930px;}
.soccer-teams .sampaio-correia {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -990px;}
.soccer-teams .america-mg {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -30px;}
.soccer-teams .sport {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -1110px;}
.soccer-teams .avai {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -150px;}
.soccer-teams .internacional {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -660px;}
.soccer-teams .ponte-preta {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -960px;}
.soccer-teams .botafogo {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -240px;}
.soccer-teams .vitoria {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -1170px;}
.soccer-teams .palmeiras {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -870px;}
.soccer-teams .goias {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -600px;}
.soccer-teams .atletico-pr {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -120px;}
.soccer-teams .santos {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -1050px;}
.soccer-teams .crb {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -420px;}
.soccer-teams .cruzeiro {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -480px;}
.soccer-teams .luverdense {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -720px;}
.soccer-teams .chapecoense {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -330px;}
.soccer-teams .boa {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -210px;}
.soccer-teams .joinville {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -690px;}
.soccer-teams .macae {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -750px;}
.soccer-teams .flamengo {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -540px;}
.soccer-teams .fluminense {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -570px;}
.soccer-teams .nautico {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -810px;}
.soccer-teams .mogi-mirim {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -780px;}
.soccer-teams .corinthians {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -360px;}
.soccer-teams .figueirense {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -510px;}
.soccer-teams .bragantino {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -270px;}
.soccer-teams .sao-paulo {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -1080px;}
.soccer-teams .santa-cruz {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -1020px;}
.soccer-teams .atletico-go {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -60px;}
.soccer-teams .parana {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -900px;}
.soccer-teams .bahia {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -180px;}
.soccer-teams .atletico-mg {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -90px;}
.soccer-teams .gremio {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -630px;}
.soccer-teams .vasco {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -1140px;}
.soccer-teams .ceara {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -300px;}
.soccer-teams .coritiba {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -390px;}
.soccer-teams .criciuma {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px -450px;}
.soccer-teams .abc {background:  url(http://c.api.globo.com/soccer_teams/teams_ab.png?) no-repeat 0px 0px;}
