@font-face {
	font-family: 'MyliusModern-Regular';
	src: url('myliusmodern-regular-webfont.eot');
    src: url('myliusmodern-regular-webfont.eot') format('embedded-opentype'),
         url('myliusmodern-regular-webfont.woff') format('woff'),
         url('myliusmodern-regular-webfont.ttf') format('truetype');
}
body{
	background-color:#fff;
	margin:0;
	font-family: 'MyliusModern-Regular', Arial, sans-serif;
	font-size:21px;
	color:#2E5C99;
}
p {
	margin:0;	
}
#content_dc {
	display:block;
}
#logo {
	opacity:0;
	position: absolute;
	top:20px;
	right:12px;
	width: 225px;
	height: 19px;
	background: url(logo.png) no-repeat;
}
#line {
	opacity:0;
	position: absolute;
	top:22px;
	left:0px;
	width:59px;
	height:1px;
	background-color:#CE210F;
}
#oneworld {
	opacity:0;
	position: absolute;
	bottom:12px;
	right:12px;
	width: 133px;
	height: 101px;
	background: url(gb.png) no-repeat;
}
#terms {
	opacity:0;
	position: absolute;
	bottom:15px;
	right:34px;
	font-size:9px;
}
#cta {
	position: absolute;
	top:85px;
	left:0px;
	opacity:0;
	font-size:14px;
	color:#fff;
	padding:5px 10px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	background: -webkit-linear-gradient(#FF3E3E, #CE210F); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#FF3E3E, #CE210F); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FF3E3E, #CE210F); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#FF3E3E, #CE210F);
}
#plane {
	position: absolute;
	top:80px;
	left:-55px;
	width: 244px;
	height: 160px;
	background: url(planesml.png) no-repeat;
	background-size: 244px 160px;
/*	background-size: 2418px 1584px;*/
	opacity:0;
}
#planeb {
	position: absolute;
	top:0px;
	left:0px;
	width: 300px;
	height: 250px;
	background: url(planebig.png) no-repeat;
	background-size: 300px 250px;
/*	background-size: 2418px 1584px;*/
	opacity:0;
}
#finalframe {
	opacity:0;
}
.txt {
	position: absolute;
	top:30px;
	left:25px;
	width:100%;
	font-size:18px;
}
#txt3 {
	position: absolute;
	top:30px;
	left:0px;
	opacity:0;
}
#txt2 {
	position: absolute;
	top:25px;
	left:0px;
	opacity:0;
}
#bg-exit {
	background-color: rgba(255,255,255,0);
	cursor: pointer;
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
}
#replay {
	display:none;
	cursor: pointer;
	position: absolute;
	bottom:10px;
	left:10px;
	width: 17px;
	height: 16px;
	background: url(replay.png) no-repeat;
	background-position: 0 0;
}