@charset "UTF-8";
/* 30,79,17 2016-03-29 15:23:27 */

*{margin: 0;padding: 0}

.slide01_w{position:relative;width:240px;}
.slide01{position:relative;width:240px;height:350px;overflow:hidden;zoom:1;}
.slide01_dots{text-align:center;font-size:0;line-height:0;padding-top:10px;     position: relative; bottom: 60px;}
.slide01_dots span{margin:0 5px;width:5px;height:5px;display:inline-block;cursor:pointer;background: #ccc;}
.slide01_dots .dotItemOn{background: #ff8400;}
.slide01_items{width:240px;height:350px;position:relative;float:left;_display:inline;}
.slide01_items p{position:absolute;left:0;bottom:0;padding:0 10px;width:220px;height:36px;font-size:14px;line-height:36px;text-align:center;background:rgba(255,255,255,0.8);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99ffffff',endColorstr='#99ffffff')\9;}
.slide01_items a{color:#333; text-decoration:none;}
.slide01_items a:hover{color:#cc6600;}
.slide01_items img{width: 240px;height: 350px; border:none;}
.slide01_prev{position:absolute;left:-5px;top:314px;width:24px;height:36px;background:url(http://i1.sinaimg.cn/blog/deco/2014/0312/imgs/a01.png) no-repeat 0 0;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="http://i2.sinaimg.cn/blog/deco/2014/0312/imgs/a01_ie.png");_background:none;}
.slide01_next{position:absolute;right:-5px;top:314px;;width:24px;height:36px;background:url(http://i2.sinaimg.cn/blog/deco/2014/0312/imgs/a02.png) no-repeat 0 0;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="http://i3.sinaimg.cn/blog/deco/2014/0312/imgs/a02_ie.png");_background:none;}