@charset "utf-8";

body {
    position: relative;
    background:#fcfcfc;
}
.wrapper {
    min-width: 1070px;
    overflow: hidden;
}
header {
    position: relative;
}
header .header-jack-link {
    position: relative;
    margin: 0 auto;
    width: 1920px;
}
header .header-jack-link img {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
header #common-header {
    background: rgba(255,255,255,0.6);
    border-top: 3px solid #000000;
}
header #common-header ul li ,
header #common-header ul li span ,
header #common-header ul li a ,
header #common-header ul li.menu_open a:hover {
    color: #000000;
}
header #common-header ul li a:hover {
    background: rgba(255,255,255,0.5);
}
/*
header #common-header #slide-box .btn_close {
    border-bottom: solid 1px #999999;
}
header #common-header #slide-box .btn_close ,
header #common-header #slide-box ul {
    background: #999999;
}
header #common-header #slide-box ul li a:hover {
    background: #666666;
}
*/
header #main-header {
    position: relative;
    padding: 38px 44px 197px 0px;
    width: 477px;
    height: 43px;
}
header #main-header h1 ,
header #main-header h1 a {
    width: 138px;
    height: 41px;
    background: none;
}
header #main-header form {
    background: rgba(0,0,0,0);
    height: 41px;
    width: 330px;
}
header #main-header form input#q {
    padding: 11px 16px;
    width: 258px;
    height: 19px;
    line-height: 19px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    background: transparent;
}
header #main-header form input#q::-ms-clear {
    display: none;
}
header #main-header form button {
    position: absolute;
    top: 0;
    right: 0;
    height: 41px;
    width: 43px;
    background: transparent;
    cursor: pointer;
}
header #main-header form button:hover {
    background: none;
}
#main-column .news-topics {
    background: #ffffff;
}
#main-column .ad-box {
    padding: 30px;
}
#main-column #blog-ranking {
    position: relative;
    z-index: 20;
    padding-bottom: 100px;
}
footer {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 10;
    margin-top: -220px;
}
footer .footer-jack-link {
    position: relative;
    margin: 0 auto;
    width: 1920px;
}
footer .footer-jack-link img {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 21;
}
footer .footer-inner {
    padding-top: 470px;
    margin-top: 0;
    border: none;
}
footer .common-footer {
    border-top: solid 1px rgba(255,255,255,0.3);
}
footer dl dt ,
footer ul li a ,
footer ul li a:hover ,
footer ul li a:visited ,
footer .site-categories p a ,
footer .site-categories p a:hover ,
footer .site-categories p a:visited ,
footer .common-footer p {
    color: #ffffff;
}
/* ã¸ã£ãã¯ããä¸ã«è¡¨ç¤ºãããè¦ç´  */
header #common-header ,
header #main-header h1 ,
#side-bar ,
#main-column .news-topics ,
footer .footer-inner dl ,
footer .footer-inner .common-footer {
    position: relative;
    z-index: 100;
}
header #main-header form {
    position: relative;
    z-index: 10;
}
header .header-jack-link img {
    display: none;
}