body {
  background-color: #fff;

}
#global {
  position: absolute;
  width:726px;
  height:88px;
  left:0px;
  top: 0px;
  border: 1px solid black;
  background-color: #ec2357;
  overflow: hidden;
  visibility: hidden;  
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}
#pix {
  position: absolute;
  width: 100%;
  height:250%;
  top: 25%;
  left: 0%;
  background-image: url('pix.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-color: white;
}
.shining {
  position: absolute;
  width: 10px;
  height:10px;
  border-radius: 5px;
  background-color: white;
  opacity: 0.8;
  -webkit-filter: blur(1px);
     -moz-filter: blur(1px);
      -ms-filter: blur(1px);
       -o-filter: blur(1px);
          filter: blur(1px);
}
#shine_1 {
  top: 40%;
  left:28%;
}
#shine_2 {
  top: 13%;
  left:74%;
}
#shine_3 {
  top: 15%;
  left:57%;
}
#shine_4 {
  top: 46%;
  left:47%;
}
#shine_5 {
  top: 27%;
  left:71%;
}
#shine_6 {
  top:13%;
  left:0%;
}
#shine_7 {
  top:27%;
  left:1%;
}
#shine_8 {
  top: 17%;
  left:43%;
}
#txt_1 {
  position: absolute;
  width: 91%;
  height:100%;
  right:0%;
  top:  0%;
  background-image: url('txt_1.png');
  background-position: center center;
  background-repeat: no-repeat;
}
#logo {
  position: absolute;
  width: 100%;
  height:100%;
  right:  0%;
  bottom:0%;
  background-image: url('logo.png');
  background-position: right top;
  background-repeat: no-repeat;
}
#txt_2 {
  position: absolute;
  width: 58%;
  height:64%;
  top: 0%;
  left:0%;
  background-image: url('txt_2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
}
#txt_3 {
  position: absolute;
  width: 58%;
  height:135%;
  top: 0%;
  left:0%;
  background-image: url('txt_3.jpg');
  background-position: center center;
  background-repeat: no-repeat;
}
#txt_5 {
  position: absolute;
  width:  58%;
  height:100%;
  top: 0%;
  left:0%;
  background-image: url('txt_5.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 57% auto;
}
#cta{
  position: absolute;
  width: 68%;
  height:105%;
  right:0%;
  bottom: 0%;
  background-image: url('cta.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}
#reflet{
  position: absolute;
  width: 200%;
  height:100%;
  left:-100%;
  top:    0%;
  background: -moz-linear-gradient(-45deg,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 15%, rgba(255,255,255,0.63) 21%, rgba(255,255,255,0) 24%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 15%,rgba(255,255,255,0.63) 21%,rgba(255,255,255,0) 24%,rgba(255,255,255,0) 100%);
  background: linear-gradient(135deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 15%,rgba(255,255,255,0.63) 21%,rgba(255,255,255,0) 24%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
}
#gradient_white {
  position: absolute;
  width: 100%;
  height:50%;
  left: 0%;
  top:100%;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 36%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 36%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 36%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}
#conditions {
  position: absolute;
  width: 68%;
  right: 0%;
  bottom:0%;
  text-align: center;
  color: #cbcbcb;
  font-size: 10px;
}