html, body, div, img, a, span {margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline;text-decoration: none;}

#banniere{
	position: relative;
	background-color: #fff;
	font-family: 'Lato', sans-serif;
	line-height: 1;
   	width: 300px;
	height: 600px;
	overflow: hidden;
}


#contours{
  border-width: 1px;
  border-color: rgb( 0, 0, 0 );
  border-style: solid;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 298px;
  height: 598px;
  z-index: 100;
}

.blocTransition{
	position: absolute;
	width: 300px;
	height: 600px;
	left: 0px;
	top: 0px;
}

.bandeCouleur{
	position : absolute;
	width:75px;
	height: 12px;
	bottom:0px;
}


#txtall{
 z-index: 100;
 opacity: 1;
 position: absolute;
 font-size: 12px;color:#000;left: 0px;top: 5px;text-transform: uppercase;width:300px;
 text-align: center;
}


#layerintro1{
 z-index: 99;
 opacity: 1;
}


.step{
	position: absolute;
	text-align: center;
	display: table;
}
.step p{
	position: relative;
	display: table-cell;
	vertical-align: middle;
}

#logoIBM{
	position: absolute;
	left:108px;
	top:65px;
}
#logoIBM2{
	position: absolute;
	right:108px;
	top:65px;
}
#logoLemonde{
	position: absolute;
	left:86px;
	top:275px;
}
#logoLobs{
	position: absolute;
	left:109px;
	top:340px;
}
#logoChallenges{
	position: absolute;
	left:80px;
	top:410px;
}

#logoHuffington{
	position: absolute;
	left:12px;
	top:475px;
}
#fleche1{
	left:38px;
	top:390px;
}

#fleche2{
	left:38px;
	top:450px;
}

#bouton1{
	z-index: 150;
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	left:0px;
	top:0px;
	width:300px;
	height:600px;
}
#bouton2{
	z-index: 151;
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	left:0px;
	top:440px;
	width:300px;
	height:100px;
}
.fleche{
	position: absolute;
	width:22px;
	height :17;
}


#bandeCouleur1{
	left:0px;
	 z-index: 50;
}
#bandeCouleur2{
	left:75px;
	z-index: 51;
}
#bandeCouleur3{
	left:150px;
	z-index: 52;
}
#bandeCouleur4{
	left:225px;
	z-index: 53;
}

#step1{
	background-color: #FFF;
   	left: 0px;
	top: 0px;
	width: 300px;
	height: 600px;
}
#boutons,
#step3,
#step2{
   	left: 0px;
	top: 0px;
	width: 300px;
	height: 600px;
}


#txt0{position: absolute;font-size: 20px;color:#000;left: 0px;top:105px;width:300px;}
#txt1{position: absolute;font-family: 'Roboto Slab', serif;font-size: 38px;color:#356581;left: 0px;top: 140px;text-transform: uppercase;width:300px;}
#txt2{position: absolute;font-size: 20px;color:#000;left: 0px;top: 226px;width:300px;}

#txt3{position: absolute;font-size: 23px;color:#fff;left: 50px;top: 85px;}
#txt4{position: absolute;font-size: 23px;color:#fff;left: 14px;top: 107px;}
#txt5{position: absolute;left: 65px;top: 113px;}
#txt6{position: absolute;font-size: 23px;color:#fff;left: 145px;top: 207px;}
#txt7{position: absolute;font-size: 30px;color:#fff;left: 107px;top: 237px;font-weight: bold;}

#txt8{position: absolute;font-size: 23px;color:#fff;left: 45px;top: 325px;}
#txt9{position: absolute;left: 84px;top: 305px;}
#txt10{position: absolute;font-size: 23px;color:#fff;left: 145px;top: 325px;width:80px;text-align: left; line-height:26px; }
#txt11{position: absolute;font-size: 30px;color:#fff;left: 63px;top: 430px; font-weight: bold;}
#txt12{position: absolute;font-size: 30px;color:#fff;left: 92px;top: 460px; font-weight: bold;}

#txt13{position: absolute;font-size: 23px;color:#fff;left: 0px;top: 145px;width:300px;}
#txt14{position: absolute;font-size: 32px;color:#fff;left: 10px;top: 200px; font-weight: bold;width:280px;}
#txt15{position: absolute;font-size: 24px;color:#fff;left: 70px;top: 385px; font-weight: bold;text-align: left;}
#txt16{position: absolute;font-size: 24px;color:#fff;left: 70px;top: 445px; font-weight: bold;text-align: left;width:220px;}


.alignleft{
	text-align: left;
}
.alignright{
	text-align: right;
}
.blanc{
background-color: #fff;
}
.bleu{
background-color: #356581;
}
.vert{
background-color: #42a62a;
}
.bleuclair{
background-color: #009de0;
}
.orange{
background-color: #eb6645;
}
.noir{
background-color: #000;
}