body {
	margin: 0px;
	padding: 0px;
	background-color: #E3E4E4;
	-webkit-text-size-adjust: none;

}
.top {
	width: 970px;
	margin-right: auto;
	margin-left: auto;
}

.date {
	height: 33px;
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #004679;
	line-height: 33px;
	text-indent: 10px;
	float: left;
	padding-top: 2px;
}
.logo {
	background-image:  url(http://europe.chinadaily.com.cn/2011img/logo-bg.jpg);
	background-repeat: repeat-x;
	height: 80px;
}
/*menu_over*/
.edition{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	text-transform: uppercase;
	height: 16px;
	line-height: 16px;
white-space:nowrap;}
.edition a{
	font-weight: bold;
	margin-right: 5px;
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #EBEBEB;
	padding-right: 10px;
}
.edition a:link {
	color: #FFFFFF;
}
.edition a:visited {
	color: #FFFFFF;
}
.edition a:hover {
	color: #004D81;
	text-decoration: none;
}
.edition img{

}
a:link {
	color: #004678;
	text-decoration: none;
}
a:visited {
	color: #004678;
	text-decoration: none;
}
a:hover {
	color: #34B3EF;
	text-decoration: underline;
}

a.white:link {
	color:#ffffff;
	text-decoration: none;
}
a.white:visited {
	color: #ffffff;
	text-decoration: none;
}
a.white:hover {
	color: #34B3EF;
	text-decoration: none;
}
.select {
	height: 28px;
	width: 100px;
	float: left;
	line-height: 28px;
	border: 1px solid #7F9DB9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #E6F3F9;
	color: #0E4D78;
	margin-right: 2px;
}
.top9 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #134665;
}
.ad-top {
	padding-left: 110px;
	margin-top: 20px;
	margin-bottom: 20px;
}
A.butn:link {
	BORDER-RIGHT: #999999 1px solid;
	PADDING-RIGHT: 4px;
	BORDER-TOP: #ffffff 1px solid;
	MARGIN-TOP: 1px;
	PADDING-LEFT: 4px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	FLOAT: left;
	PADDING-BOTTOM: 2px;
	BORDER-LEFT: #ffffff 1px solid;
	COLOR: #666666;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #999999 1px solid;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	background-color: #F6F6F6;
	margin-right: 5px;
	margin-left: 5px;
}
A.butn:visited {
	BORDER-RIGHT: #999999 1px solid;
	PADDING-RIGHT: 4px;
	BORDER-TOP: #ffffff 1px solid;
	MARGIN-TOP: 1px;
	PADDING-LEFT: 4px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	FLOAT: left;
	PADDING-BOTTOM: 2px;
	BORDER-LEFT: #ffffff 1px solid;
	COLOR: #666666;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #999999 1px solid;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	background-color: #EBEBEB;
	margin-right: 5px;
	margin-left: 5px;
}
A.butn:hover {
	BORDER-RIGHT: #ffffff 1px solid;
	PADDING-RIGHT: 4px;
	BORDER-TOP: #999999 1px solid;
	MARGIN-TOP: 1px;
	PADDING-LEFT: 4px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	FLOAT: left;
	PADDING-BOTTOM: 2px;
	BORDER-LEFT: #999999 1px solid;
	COLOR: #333333;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #ffffff 1px solid;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #cccccc;
	TEXT-DECORATION: none;
	margin-right: 5px;
	margin-left: 5px;
}
.but {
	height: 12px;
	border: 1px solid #CCCCCC;
	margin-top: 2px;
}
