/* 
======= DEFAULT CSS =======
*/ 
html, body, div, button{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
.container {
    position: relative;
    overflow: hidden;
}
.container,
.border,
.controls,
#background_exit_dc {
    width: 970px;
    height: 250px;
    box-sizing: border-box;
}

.container div,
.container img,
.container video {
    position: absolute;
} 

/* 
======= Youtube close btn =======
*/
#ytClose_dc div,
#ytClose_dc img,
#ytClose_dc video {
    position: relative;
} 

/* 
======= CUSRTOM CSS =======
*/
#background_exit_dc {
    display: block;
    left: 0;    
    top: 0;
    opacity: 0;
    cursor: pointer;
    background: white;
}
.border {
    /*opacity: 0.1;   */
    /*border: 1px solid #e5e9ea;*/
    /*border: 1px solid #999;*/
    border: 1px solid #000;
}

.sound-btn, .sound-off, .sound-on{
    width: 38px;
    height: 38px;
}
.sound-btn{
    left: -3px;
    top: -5px;
    opacity: 0.6;
    cursor: pointer;
}

/*---        */
.logo{
    left: 411px;
    top: 83px;
}
.jadore{
    left: 383px;
    top: 6px;
}
.glitter1{
    top: 121px;
}
.glitter2{
    left: 845px;
    top: 157px;
}
.video1{
    right: 0;
    top: 1px;
}
.cta{
    left: 865px;
    top: 214px;
}
.cta_over{
    left: 738px;
    top: 214px;
}
.replayBtn{
    top: 7px;
    left: 8px;
    width: 12px;
    height: 14px;
    background: url(img/replay.svg);
    cursor: pointer;
    opacity: 0.5;
}