@charset "utf-8";
.w980 {
	width: 980px;
}

.header {
	padding-bottom: 0px;


}
.logo {
	padding-top: 40px;
	padding-right: 30px;
}
.logo h1{text-indent:-9999px; width:250px; height:34px; background-image:url(http://www.chinadaily.com.cn/image_e/2013/logo_e.gif); }
.ensh_box {
	width: 470px;
	margin-top: 16px;
}
.dropdown{
	position: relative;
	height: 24px;
	width: 210px;
	float: left;
	margin-right: 10px;
	z-index: 3;
}
.dropdown li{
	float: left;
	zoom: 1;
	line-height: 16px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.dropdown li span a{
	display: block;
	color: #024073;
	font-size: 12px;
	float: left;
	text-decoration: none;
}
.dropdown li span a:hover{
	color: #024073;
}
.dropdown a:active{
	color: #1a96cf;
}
.dropdown li:last-child a{ border-right: none; } /* Doesn't work in IE */
.dropdown li.hover ,
.dropdown li:hover {
	color: #FFF;
	position: relative;
}
.dropdown li.hover a {
	color: #FFF;
}


/* 
	LEVEL TWO
*/
.dropdown ul{
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	width: 165px;
}
.dropdown ul li{
	font-weight: normal;
	float: left;
	background-color: #FFFFFF;
	width: 100%;
}
									  
                                    /* IE 6 & 7 Needs Inline Block */
.dropdown ul li a{
	display: block;
	padding-top: 0px;
	padding-right: 10px;
	padding-left: 10px;
	text-decoration: none;
	filter: Alpha(Opacity=85);
} 
.dropdown li:hover > ul{ 
	visibility: visible; 
}
.sub_menu {
	border: 1px solid #024073;
	position: absolute;
	z-index: 3;
	font-weight: normal;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #FFF;
}
.enter {
	line-height: 26px;
	overflow: hidden;
	padding-left: 75px;
}
.lineBg a {
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/line1.gif);
	background-repeat: no-repeat;
	background-position: right center;
	float: left;
	padding-right: 7px;
	padding-left: 7px;
}
.nav {
	line-height: 25px;
	height: 25px;
	background-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	font-size: 14px;
	margin-bottom: 9px;
	clear: both;
	padding-top: 13px;
}
.nav ul {
	background-color: #024073;
	overflow: hidden;
}


.nav li {
	float: left;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFF;
}
.nav li a {
	color: #FFF;
	padding-right: 12px;
	padding-left: 11px;
	display: block;
	height: 25px;
}
.nav li a:hover {
	background-color: #D5032A;
}
.nav .home a:hover {background-color: #046a9b;}
.nav .china a:hover {background-color: #077da5;}
.nav .regional a:hover {background-color:#0290a8;}
.nav .world a:hover {background-color: #00b690;}
.nav .business a:hover {background-color: #1fad00;}
.nav .sports a:hover {background-color:#8eaf00;}
.nav .life a:hover {background-color: #ee2000;}
.nav .culture a:hover {background-color: #e90552;}
.nav .photo a:hover {background-color:#d44574;}
.nav .video a:hover {background-color:#807b80;}
.nav .opinion a:hover {background-color:#8b868b;}
.nav .forum a:hover {background-color:#929292;}
.nav .cartoon a:hover {background-color:#b79b4e;}
.nav .language a:hover {background-color:#e0bb37;}

.ad {margin-top: 15px;}
.ad1 {padding-top: 15px;padding-bottom: 15px;}
.ad2 {margin-bottom: 20px;}

.logo_c_img {float: left;padding-top: 5px;}


.fun_box{
	padding-top: 8px;
	overflow: hidden;
}
.fun_box span {
	float: left;
}

.mobBg a {
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/mobile_ico.gif);
	background-repeat: no-repeat;
	float: left;
	height: 15px;
	width: 50px;
	font-weight: bold;
	padding-left: 16px;
	padding-top: 2px;
	background-position: left 2px;
}
.newBg a {
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/newspaper_ico.gif);
	height: 15px;
	width: 77px;
	float: left;
	font-weight: bold;
	padding-left: 16px;
	background-position: left 2px;
	padding-top: 2px;
	background-repeat: no-repeat;
}
.search {
/*	background-image: url(http://www.chinadaily.com.cn/image_e/2013/fdj_ico.gif);
	background-repeat: no-repeat;
	background-position: right top;		*/
	width: 188px;
	height: 18px;
	display: block;
	float: left;
	margin-right: 5px;
}
.sh1 {
	height: 19px;
	width: 150px;
	border: 1px solid #cbcbcb;
	line-height: 19px;
}
.pick_box {
	line-height: 23px;
	height: 23px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #cbcbcb;
	border-bottom-color: #cbcbcb;
	
}
.pick_box b {
	color: #014171;
}

.gary a {
	color: #808080;
}
.gary a:hover {
	text-decoration: underline;
}
.pick1 {
	padding-right: 10px;
	width: 490px;
	float: left;
}
.pick2{
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 14px;
	width: 450px;
	float: left;
	padding-left:20px;
}
.pick2 a {
	padding-left: 12px;
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/ico2.gif);
	background-repeat: no-repeat;
	background-position: 4px 9px;
	display: block;
	float: left;
}
.pick2 b {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	display: block;
	width: 50px;
	float: left;
}
.main {
	padding-top: 17px;
	overflow: hidden;
}

.l480 {
	float: left;
	width: 480px;
}
.w106 {
	width: 106px;
}

.w128 {
	width: 128px;
}

.w132 {
	width: 132px;
}
.w144 {
}
.w158 {
	width: 158px;
}

.w165 {
	width: 165px;
}



.w230 {
	width: 230px;
}
.w300 {
	width: 300px;
}


.w480 {
	width: 480px;
}
.tw_box1 {
	overflow: hidden;
}
.w_box1 {
	overflow: hidden;
}
.w_box2 {
	position: relative;
}
.w_box2 span {
	height: 30px;
	position: absolute;
	display: block;
	line-height: 30px;
	background-color: #000;
	width: 290px;
	padding-left: 10px;
	left: 0px;
	top: 164px;
	filter: Alpha(Opacity=60, Style=0);
	opacity: 0.60;
}
.tyz_txt {
	height: 30px;
	position: absolute;
	display: block;
	line-height: 30px;
	background-color: #000;
	width: 290px;
	padding-left: 10px;
	left: 0px;
	filter: Alpha(Opacity=60, Style=0);
	opacity: 0.60;
	bottom: 0px;
}
.w_box2 span a {color: #FFF;}
.tw_bt1 {
	line-height: 26px;
	height: 26px;
	background-color: #eaeaea;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	margin-bottom: 10px;
}
.tw_bt1 h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
	color: #004272;
	float: left;
}
.more1 {
	float: right;
	padding-right: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.more1 a {
	color: #666666;
}
.w_cont1 {
	float: left;
}
.w76 {
	width: 76px;
}
.w83 {
	width: 83px;
}


.w90 {
	width: 90px;
}
.w100 {
	width: 98px;
}
.w143 {
	width: 143px;
}
.w155 {
	width: 155px;
}





.w145 {
	width: 145px;
}
.w155 {
	width: 155px;
}
.w160 {
	width: 160px;
}

.w182 {
	width: 182px;
}

.w220 {
	width: 220px;
}


.w138 {
	width: 138px;
}

.w960 {
	width: 960px;
}



.w_cont1 span{
	padding-left: 5px;
	float: left;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 5px;
}
.w_cont1 .v_ico{background: url(http://www.chinadaily.com.cn/image_e/2013/ico1.gif) no-repeat left 7px;}
.v_ico a {
	font-family: Verdana, Geneva, sans-serif;
	padding-left: 10px;
}

.tw_bt2 {
	line-height: 35px;
	height: 35px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #ee2000;
	border-bottom-color: #ee2000;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #ee2000;
	margin-bottom: 10px;
}
.tw_bt2 a{color: #ee2000;}
.tw_bt2_2 {
	line-height: 35px;
	height: 35px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #e90552;
	border-bottom-color: #e90552;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #e90552;
	margin-bottom: 10px;
}
.tw_bt2_2 a{#e90552;}
.tw_bt4 {
	line-height: 35px;
	height: 35px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #8eaf00;
	border-bottom-color: #8eaf00;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #8eaf00;
	margin-bottom: 10px;
}
.tw_bt4 a{color: #8eaf00;}
.tw_bt5 {
	line-height: 35px;
	height: 35px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #dfdfdf;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #a3a3a3;
}
.tw_bt5 a{color: #a3a3a3;}
.tw_bt6 {
	line-height: 35px;
	height: 35px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #077da5;
	border-bottom-color: #077da5;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #077da5;
	margin-bottom: 10px;
}
.tw_bt6 a{color: #077da5;}
.tw_bt7 {
	line-height: 35px;
	height: 35px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #1fad00;
	border-bottom-color: #1fad00;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #1fad00;
	margin-bottom: 10px;
}
.tw_bt7 a{color: #1fad00;}
.tw_bt8 {
	line-height: 35px;
	height: 35px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #0290a8;
	border-bottom-color: #0290a8;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #0290a8;
	margin-bottom: 10px;
}
.tw_bt8 a{color: #0290a8;}
.tw_bt9 {
	line-height: 35px;
	height: 35px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #00b690;
	border-bottom-color: #00b690;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #00b690;
	margin-bottom: 10px;
}
.tw_bt9 a{color: #00b690;}




.tw_txt_bt h2 {
	float: left;
	padding-left: 2px;
	font-size: 26px;
}
.lis_box1 {
	margin-top: 10px;
}
.lis_box1_2 {
	margin-top: 0;
}

.lis_box1 h2,.lis_box1_2 h2 {
	font-size: 18px;
	padding-top: 11px;
	padding-bottom: 11px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #cbcbcb;
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/ico3.gif);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 10px;
	display: inline-block;
	width: 290px;
}
.lineBg2 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CBCBCB;
}
.tw_box3 {
	border: 1px solid #cbcbcb;
}
.tw_box2 {
	overflow: hidden;
}

.tw_bt3 {
	line-height: 26px;
	background-color: #eaeaea;
	height: 26px;
	padding-left: 12px;
	color: #fb0919;
	font-weight: bold;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}


.tw_cont3 {
	padding: 12px;
}

.pic_box1 {
	background-color: #e3e3e3;
	overflow: hidden;
	padding-right: 5px;
}


.pic_box1 h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding-top: 5px;
	font-weight: bold;
}
.pic_box2 {
	background-color: #e3e3e3;
	overflow: hidden;
}

.pic_box1 p {
	margin: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.tw_cont3 {
	overflow: hidden;
}
.lis_box2 {
	padding-top: 10px;
	overflow: hidden;
}


.lis_box2 span a {
	float: left;
	width: 110px;
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/ico2.gif);
	background-repeat: no-repeat;
	background-position: left 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
	margin-bottom: 2px;
}
.booking {
	padding-bottom: 20px;
	text-align: center;
}
.tw_box4 {
	margin-bottom: 5px;
}
.r160 {
	float: right;
	width: 160px;
}
.bord1 {
	border: 1px solid #cbcbcb;
}
.pic_box2 h3 {
	padding-bottom: 10px;
	padding-left: 10px;
	display: block;
	padding-top: 5px;
	padding-right: 10px;
}
.pic_box2 h3 a {
	font-size: 14px;
	line-height: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}
/*fcous-begin*/
.focus-out{
	width: 480px;
	overflow: hidden;
}
.focus-menu{
	overflow: hidden;
	display: block;
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/f_navBg.gif);
	background-repeat: no-repeat;
}
.focus-menu li{
	cursor: pointer;
	float: left;
	width: 80px;
	height: 22px;
	line-height: 17px;
	text-align: center;
}
.focus-menu li.current{
	color: #fff;
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/f_navCurr.gif);
	background-repeat: repeat-x;
	background-position: center center;
}
.focus-main{
	position: relative;
	width: 480px;
	height: 279px;
	overflow: hidden;
	z-index: 2;
}
.focus-ins{
	width: 480px;
	margin-top: 3px;
}
.focus-main dt span{position:absolute;top:50%;z-index:99999;cursor:pointer;margin-top:-11px;}
.arr-lft{left:10px;}
.arr-rgt{right:10px;}
.focus-main dd{
	position: relative;
	height: 280px;
	overflow: hidden;
	margin: 0px;
}
.focus-main dd img{
	width: 480px;
	height: 280px;
}
.focus-main dd span{
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: left;
	width: 100%;
	filter: Alpha(Opacity=70, Style=0);
            opacity: 0.70;
	background: #000;
	color: #fff;
	height: 35px;
	line-height: 35px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.focus-main dd span em{
	position: relative;
	font-style: normal;
	padding-left: 10px;
}
.blue_box1 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #004578;
	border-right-color: #004578;
	border-bottom-color: #004578;
}
.blue_box2 {
	border: 1px solid #004578;
}

.blue_box1 h3 {
	text-align: center;
	font-size: 12px;
	color: #FFF;
	background-color: #004578;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.blue_cont {
	padding-top: 10px;
	padding-right: 8px;
	padding-bottom: 10px;
	padding-left: 7px;
}
.blue_cont2 {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 14px;
	padding-left: 14px;
}

.ques_box b {
	font-size: 14px;
	color: #004578;
}
.ques_box .ques_pic {
	padding-top: 8px;
	padding-bottom: 5px;
}

.ques_box .ques_pic .q_pic1 img {
	margin-right: 10px;
	margin-left: 18px;
}
.ques_box .ques_pic .q_pic2 {
	height: 9px;
	margin-top: 11px;
	margin-bottom: 11px;
	display: block;
}

.q_redBg {
	background-color: #da5242;
}
.q_blueBg {
	background-color: #43a3dd;
}

.ques_box .q_btnBox a {
	margin-right: 10px;
	margin-left: 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	text-align: center;
}
.btn1 {
	background-color: #f2f2f2;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #999894;
	border-bottom-color: #999894;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #f2f2f2;
	border-left-color: #f2f2f2;
	padding: 2px;
}
.btn1:hover {
	color: #FFF;
	background-color: #B7B6B3;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #797979;
	border-left-color: #797979;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #b7b6b3;
	border-bottom-color: #b7b6b3;
}
.tw_box5 {
	overflow: hidden;
	color: #024677;
	line-height: 20px;
	font-weight: bold;
}
.tw_box5 .pic5 {
	border: 1px solid #cbcbcb;
	float: left;
	margin-right: 10px;
}
.colu_box {
	padding-bottom: 10px;
}



.colu_box p {
	padding: 3px;
	background-color: #e9e9e9;
	display: block;
	color: #004576;
	margin-top: 8px;
}
.line1 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #cbcbcb;
}
.line2 {
	border: 1px solid #919191;
}
.line3 {
	border: 1px solid #004578;
}


.more2 {
	text-align: right;
	font-family: Verdana, Geneva, sans-serif;
	width: 100%;
	overflow: hidden;
	font-size: 10px;
	display: inline-block;
}
.blue_cont2 ul a {
	color: #666666;
}
.blue_cont2 ul a:hover {
	color: #333;
}

.blue_cont2 li {
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/ico4.gif);
	background-repeat: no-repeat;
	background-position: left 3px;
	padding-left: 18px;
	margin-bottom: 10px;
}
.ques_pic input {
}
.wsBt {
	font-weight: normal;
	color: #004477;
}


.wsBtn {
	overflow: hidden;
}

.wsBtn span {
	width: 100%;
	float: left;
	font-size: 10px;
	font-family: Verdana, Geneva, sans-serif;
	margin-top: 5px;
}
.wsBtn span a {
	display: block;
	float: left;
}
.tw_box6 {
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: hidden;
}
.tw_box6 h2 {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20px;
	margin-bottom: 7px;
	font-size: 20px;
}


.newsTop h1{
	font-size: 28px;
	line-height: 28px;
	color: #234e7b;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 8px;
}
.newsTop {
	padding-top: 0px;
}

.tw_box6 .comBox {
	display: block;
	overflow: hidden;
}
.tw_box6 .comBox a {
	float: left;
	margin-left: 2px;
	margin-right: 15px;
}

.tw_box6 ul {
	padding-top: 4px;
	overflow: hidden;
}

.tw_box6 ul li {
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/ico6.gif);
	background-repeat: no-repeat;
	background-position: left 5px;
	padding-left: 7px;
	float: left;
	display: inline-block;
	margin-right: 2px;
	min-width:280px;
}
.buzzword{
	width: 420px;
	float: left;

}
.buzzword .w_bt{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #004172;
	margin-bottom: 1px;
	background-color: #eaeaea;
	text-align: center;
	display: block;
	width: 100%;
	line-height: 21px;
	height: 21px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #004172;
}
.buzzword h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 37px;
	font-weight: normal;
	background-color: #eaeaea;
	display: block;
	height: 37px;
	text-align: center;
	float: left;
	margin-right: 1px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	width: 104px;
}
.buzzword h2 a:link {
	text-decoration: none;
	color: #004172;
	display: block;
}
/*.buzzword h2 a:visited {
	text-decoration: none;
	color: #FFFFFF;
	display: block;
}*/
.buzzword h2 a:hover {
	text-decoration: none;
	color: #FFFFFF;
	display: block;
	background-color: #004172;
}
.shareBox {
	margin-left: 4px;
	float: right;
	width: 56px;
}
.shareBox a {
	float: left;
}
.notMiss{
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/line2.gif);
	background-repeat: repeat-x;
	background-position: left center;
	text-align: center;
}
.notMiss b {
	font-size: 14px;
	display: block;
	background-color: #FFF;
	width: 90px;
	margin-right: auto;
	margin-left: auto;
	color: #003466;
	margin-bottom: 14px;
}
.lis_box3 {
	background-color: #e0f2fc;
	padding: 7px;
}
.lis_box3 li {
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #999;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 14px;
}
.tw_box7 span {
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
}
.tw_box7 {
	margin-bottom: 3px;
}
.lis_box4 {
	float: left;
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
}

.lis_box4 li {
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/ico6.gif);
	background-repeat: no-repeat;
	background-position: left 5px;
	padding-left: 7px;
	margin-right: 6px;
	margin-bottom: 5px;
	float:left;
}
/*Tab*/
#item4{
	font-size: 12px;
	width: 300px;
	padding-top: 8px;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #CCC;
	margin-top: 10px;
}

#item4 ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#item4 #tabBar4{
	padding-left: 10px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	margin-right: 0px;
	height: 28px;
}

.tabTyz a {
    display: block;
}
#tabBar4 li{
	float: left;
	height: 27px;
	line-height: 27px;
	margin-right: 5px;
}
#item4 div{
	clear: both;
	display: none;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#item4 .show{
	display: block;
}
#tabBar4 a{
	background-repeat: no-repeat;
	height: 27px;
	display: block;
	padding-right: 5px;
	color: #004678;
	text-decoration: none;
	position: relative;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
#tabBar4 a span{
	padding-left: 5px;
	display: block;
}
#item4 div li{
	background-image: url(http://www.chinadaily.com.cn/2011images/icon-point1.gif);
	background-repeat: no-repeat;
	padding-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	background-position: left top;
	margin-bottom: 3px;
}
#item4 .box310-list li{
	font-size: 18px;
	border-top-width: 1px;
	border-top-style: double;
	border-top-color: #CCC;
	font-family: "Times New Roman", Times, serif;
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/ico3.gif);
	background-repeat: no-repeat;
	background-position: right;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 290px;
}
#item4 .box310-list {
	width: 300px;
}

#tabBar4 a.current{
	background-color: #E1F4FD;
	padding-right: 5px;
}
#tabBar4 a.current span{
	padding-left: 5px;
}


.cont_style {
	display: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	padding: 2px;
	margin: 0px 10px 0px 0px;
}

#world_4{
	padding-left: 18px;
	padding-top: 10px;
}
#world_3{
	padding-top: 10px;
}

.m-photo{
	float: left;
	padding: 0px 10px 0px 0px;
	margin: 0px;
	width: 130px;
}

#world_4  h3 {
	margin: 5px 0px 0px;
	padding: 0px;
	font-weight: normal;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	width: 130px;
 }
 /*tab-end*/
.tyz_box {
	position: relative;
	height: 192px;
	width: 300px;

}
.tyz_txt a {
	color: #FFF;
}

a.tyz_txt:link {
	color: #FFF;
	font-size: 12px;
}
a.tyz_txt:visited {
	color: #FFF;
	text-decoration: none;
}
a.tyz_txt:hover {
	color: #FFF;
	text-decoration: underline;
}
.pBox {
	overflow: hidden;
	margin-bottom: 10px;
}

.pBox li {
	float: left;
	width: 140px;
	padding-right: 11px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
	padding-left: 11px;
}
.pBox li b {
	padding-top: 4px;
	padding-bottom: 4px;
	display: block;
}
.links {
	background-color: #ebebeb;
	overflow: hidden;
}

.links ul{
	padding-top: 20px;
	padding-right: 15px;
	padding-left: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #fff;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFF;
}
.links b {
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 10px;
	display: block;
}
.links a{
	color: #5d5d5d;
	line-height: 15px;
}
.links a:hover {
	color: #000;
}

.h206 {
	height: 206px;
}
.h168 {
	height: 180px;
}

.partner {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #004678;
	line-height: 18px;
	border-top-width: 1px;
	border-bottom-width: 5px;
	border-top-style: dashed;
	border-bottom-style: solid;
	border-top-color: #E3E4E4;
	border-bottom-color: #E3E4E4;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 15px;
	background-color: #f8f8f8;
}
.info {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-align: center;
	line-height: 16px;
}
.info h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	color: #004678;
	margin: 0px;
	padding: 10px 0px 0px;
}
.info h2{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-align: center;
	color: #999999;
	line-height: 12px;
	margin: 0px;
	padding: 10px 25px 0px;
}
.info h3{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-align: center;
	color: #999999;
	line-height: 40px;
	margin: 0px;
	background-position: center;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 20px;
	height: 37px;
	overflow:hidden;
}
.info a{font-weight: bold;}
.map {
	width: 970px;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #E3E4E4;
	padding-bottom: 10px;
	overflow:hidden;
}
.map h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 3px;
}
.map h2{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	margin-top: 5px;
	margin-bottom: 5px;
}
.select_box ul li {cursor:pointer;}
.son_ul {
	border: 1px solid #036;
	width: 108px;
	background-color: #FFF;
	left: 0px;
	top: 24px;
	position: absolute;
	height: 120px;

}
.son_ul li {
	display: block;
	line-height: 20px;
	padding-left: 10px;
	width: 99px;
}
.son_ul li:hover {
	color: #F0F;
}
.select_box {
	float: left;
	width: 110px;
	position: relative;
	z-index: 2;
}
.select_box span {
	width: 100%;
}
.sh2 {
	height: 25px;
	width: 120px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #DFDFDF;
	border-bottom-color: #DFDFDF;
	border-left-color: #DFDFDF;
	line-height: 25px;
	color: #91908e;
}
.BUpdate {
	color: #004175;
	overflow: hidden;
}
.btn2 {
	margin-top: 0px;
	display: block;
}

.btn2 a {
	height: 26px;
	line-height: 26px;
	background-color: #014073;
	color: #FFF;
	text-align: center;
	display: block;
	padding-right: 5px;
	padding-left: 5px;
	margin-right: auto;
	margin-left: auto;
}
.singnBtn {
	width: 62px;
	display: block;
	text-align: center;
	background-color: #b6b6b6;
	margin-left: 10px;
	margin-top: 5px;
	line-height: 15px;
	padding-top: 1px;
	padding-bottom: 1px;
	color: #fff;
}
.singnBtn:hover {
	background-color:#e6e6e6;
	color:#666666;
}
.BingBtn {
	width: 39px;
	display: block;
	text-align: center;
	background-color: #b6b6b6;
	margin-left: 5px;
	margin-top: 2px;
	line-height: 15px;
	padding-top: 1px;
	padding-bottom: 1px;
	color: #fff;
}
.BingBtn:hover {
	background-color:#e6e6e6;
	color:#666666;
}
.comm-ico {
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/ico_com.png);
	background-repeat: no-repeat;
	display: block;
	background-position: left 2px;
	padding-left: 17px;
}
.comm-2013cpc-ico {
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/ico_2013cpc_com.gif);
	background-repeat: no-repeat;
	display: block;
	background-position: left 2px;
	padding-left: 17px;
}
.share-ico {
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/ico_share.png);
	background-repeat: no-repeat;
	display: block;
	background-position: left center;
	padding-left: 14px;
}
.photo-ico {
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/ico8.gif);
	background-repeat: no-repeat;
	display: block;
	background-position: left 2px;
	padding-left: 16px;
}
.video-ico {
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/ico9.gif);
	background-repeat: no-repeat;
	display: block;
	background-position: left 2px;
	padding-left: 16px;
}
.special-ico {
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/special-icon.gif);
	background-repeat: no-repeat;
	display: block;
	background-position: left 2px;
	padding-left: 19px;
}
.special-2013cpc-ico {
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/ico_2013cpc.gif);
	background-repeat: no-repeat;
	display: block;
	background-position: left 2px;
	padding-left: 15px;
}
#Scroll {
	FONT-SIZE: 12px;
	WIDTH: 420px;
	COLOR: #c2130e;
	LINE-HEIGHT: 23px;
	HEIGHT: 23px;
	TEXT-ALIGN: left;
	margin: 0px;
	float: left;
}
#Scroll A {
	PADDING-LEFT: 13px;
	COLOR: #024073;
	TEXT-DECORATION: none
}
#ScrollMe a i {
	padding-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
}

#Scroll A.s_end {
PADDING-RIGHT: 0px; MARGIN-LEFT: 8px
}
/*æ°å¢*/
.bt0 {
	line-height: 23px;
	height: 23px;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #d0cccd;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d0cccd;
	padding-left: 10px;
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	color: #014073;
	font-weight: bold;
}
.list0 ul {
	padding: 9px 9px 0px 9px;
}
.list0 ul li {
	line-height: 16px;
	margin-bottom: 3px;
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/numJh.gif);
	background-repeat: no-repeat;
	padding-left: 19px;
	background-position: left 3px;
}
.list0 ul .num2 {
	background-position: left -37px;
}
.list0 ul .num3 {
	background-position: left -78px;
}
.list0 ul .num4 {
	background-position: left -118px;
}
.list0 ul .num5 {
	background-position: left -159px;
}
.redTxt2,.redTxt2 a {
	color: #ee2000;
}
.redTxt2 a:hover {
	text-decoration: underline;
}.titleTxt26 {
	font-size: 26px;
}
.lineBg4 {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #cccccc;
}
.lis_bt1 {
	line-height: 23px;
	height: 23px;
	font-size: 14px;
	padding-left: 2px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #cbcbcb;
	border-bottom-color: #cbcbcb;
}
.lis_bt1 b {
	font-size: 16px;
	color: #024073;
}
.tw_box8 {
	padding-bottom: 10px;
	overflow: hidden;
	padding-top: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #cbcbcb;
}
.tw_box8 h3 {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	color: #024073;
}
.tw_box8 h4 {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	color: #024073;
}
.tw_box8 p {
	font-size: 14px;
	line-height: 20px;
}
.lis-ico {
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/ico6.gif);
	background-repeat: no-repeat;
	background-position: left 5px;
	display: block;
	padding-left: 10px;
}

.l690 {
	float: left;
	width: 690px;
}
.r280 {
	float: right;
	width: 280px;
}
.bi-ico {
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/bi.png);
	background-repeat: no-repeat;
	padding-left: 22px;
}
.bi2-ico {
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/bi2.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 22px;
}
.tw_box09 {
	overflow: hidden;
}
.tw_box09 .time {
	line-height: 22px;
	font-weight: bold;
	color: #024073;
	padding-left: 5px;
	background-color: #e8e8e8;
}

.tw_p09 {
	float: left;
	width: 138px;
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/lispicBg.jpg);
	height: 90px;
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 1px;
	padding-left: 1px;
}
.tw_t09 b {
	color: #014073;
	margin-bottom: 5px;
	display: block;
	margin-top: 5px;
}

.tw_t09 {
	padding-right: 5px;
}
.greyBg {
	background-color: #e8e8e8;
}
.more3 {
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/ico3.gif);
	background-repeat: no-repeat;
	padding-left: 10px;
	background-position: left center;
}
.r190 {
	float: right;
	width: 190px;
}
.index_title1 {line-height: 27px;background: #eaeaea;border-top: 1px solid #004677;}
.index_title2 {
	line-height: 27px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #4e4e4e;
	border-bottom-color: #4e4e4e;
}
.index_title3 {
	line-height: 27px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #4d4d4d;
	border-bottom-color: #4d4d4d;
}


.index_title1 b {
	color: #004677;
	padding-left: 10px;
	font-size: 14px;
}.index_title2 b {
	color: #004677;
	padding-left: 10px;
	font-size: 14px;
}
.index_title3 b {
	color: #CCCCCC;
	padding-left: 10px;
	font-size: 14px;
	font-weight: normal;
}

.index_timesTxt {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #a5a5a5;
}
.index_timesTxt h3 {
	font-family: "Arial Unicode MS";
	font-size: 12px;
}
.lisSty h3 {
	overflow: hidden;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #666;
	font-family: "Arial Unicode MS";
	font-size: 12px;
}
.pr20 {
	padding-right: 20px;
}
.linkSty a {
	padding-right: 5px;
	padding-left: 5px;
}
.line4 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #3c3c3c;
}

.greyTxt9_2,.greyTxt9_2 a{
	color: #999;
}

.page2 a {
	float: left;
	display: block;
	height: 30px;
	width: 30px;
	line-height: 30px;
	margin-right: 4px;
	border: 1px solid #ebebeb;
	color: #989898;
	font-weight: bold;

}
.page2 a:hover {
	text-decoration: none;
	background-color: #003366;
	color: #FFF;
}
.page3 a {
	float: left;
	display: block;
	height: 30px;
	width: 30px;
	line-height: 30px;
	margin-right: 4px;
	border: 1px solid #676767;
	color: #989898;
	font-weight: bold;

}
.page3 a:hover {
	text-decoration: none;
	background-color: #003366;
	color: #FFF;
}
.links_2 {
	background-color: #ebebeb;
	overflow: hidden;
}

.links_2 a{
	color: #5d5d5d;
	line-height: 15px;
}
.links_2 a:hover {
	color: #333;
}
.links_3 {
	background-color: #fff;
	overflow: hidden;
}
.links_2 ul {
	padding-top: 20px;
	padding-right: 15px;
	padding-left: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #000;
}
.links_3 ul {
	padding-top: 20px;
	padding-right: 15px;
	padding-left: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #fff;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #fff;
}
.links_2 b,.links_3 b {
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 10px;
	display: block;
}
.links_3 a {
	color: #5d5d5d;
	line-height: 15px;
}
.links_3 a:hover {
	color: #000;
}
.greyBg_eb2 {
	background-color: #363636;
}
.comm-ico2 {
	background: url(http://www.chinadaily.com.cn/image_e/2013/ico_com_black.png) no-repeat left center;
	display: block;
	padding-left: 17px;
}
.share-ico2 {
	display: block;
	padding-left: 12px;
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/ico_share_black.png);
	background-repeat: no-repeat;
	background-position: left 4px;
}
.full-ico2 {
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/ico_full_black.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px;
}
.full-ico {
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/ico_full.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px;
}
.greyTxtC,.greyTxtC a {
	color: #ccc;
}

.white, .white a {
	color: #FFF;
}
.white a:hover {
	color: #999;
}
/*æ°å¢10.16*/

.line5 {
   	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #cbcbcb;
}
.pl20 {
	padding-left: 20px;
}
.w460 {
	width: 460px;
}

.hotWords span, .index_hotWords span {
    background-color: #004679;
    float: left;
    line-height: 30px;
    margin-bottom: 1px;
    margin-right: 1px;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
}
.hotWords span a, .index_hotWords span a {
    color: #FFFFFF;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

/*opinion blogpeople*/
.blogpeople{width: 100px;margin: 5px 0px;padding: 0px;float: left;text-align: center;border-top: 0px;}

/*footer css start*/
.footer-zx{background:#ebebeb;overflow:auto;padding-bottom:15px;}
.footer-zx dl{float:left;display:inline;margin:10px 0 0 35px;width:125px;font-family: Verdana, Arial, Helvetica, sans-serif;height:225px;}
.infobox,.footer-zx dl,.partnersbox{font-size:10px;}
.infobox a,.footer-zx dl dt{font-weight:bold;}
.footer-zx dl dt{line-height:18px;}
.footer-zx dl dd{line-height:18px;}
.partnersbox{width:940px;padding:20px;color:#004678;line-height:16px;font-weight:bold;font-family: Verdana, Arial, Helvetica, sans-serif;}
.partnersbox a{padding:0px 5px;}
.foot-info{font-weight:normal;color:#999;}

/*footer css end*/

/*forum css start*/
.forum_tw1 {
	float: left;
	width: 114px;
	margin-right: 7px;
}
.forumBox {
	width: 275px;
}
.forum_twBox {
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 5px;
	overflow: hidden;
}
.forumBox h2 {
	height: 27px;
	background-color: #eaeaea;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #004677;
	padding-left: 10px;
}
.forum_list1 {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 7px;
	padding-left: 7px;
}
.forum_list1 li {
	background-image: url(http://www.chinadaily.com.cn/image_e/2013/f_ico1.jpg);
	background-repeat: no-repeat;
	background-position: left 5px;
	padding-left: 10px;
	margin-bottom: 10px;
	line-height: 16px;
	font-size: 14px;
}
.forum_tw1 {
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 14px;
}
.forum_tw1 span {
	float: left;
	width: 100%;
}
/*forum css end*/

