/**
 * @author éç
 * @description å±ç¨ less
 */
.channel2-header {
  margin-bottom: 12px;
  height: 20px;
  color: #6c6c6c;
  position: relative;
}
.channel2-header:hover em {
  color: #ff4400;
}
.channel2-header:hover h3 {
  color: #3c3c3c;
}
.channel2-header h3 {
  font-size: 16px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.channel2-header .qr-box {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  display: -moz-inline-stack;
  color: #9c9c9c;
  height: 20px;
  overflow: hidden;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  margin-left: 3px;
  z-index: 100;
  top: -4px;
}
.channel2-header .qr-box:hover {
  overflow: visible;
}
.channel2-header .qr-box:hover .qrcode {
  top: 0;
  color: #6c6c6c;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.channel2-header .qr-box .qr-icon {
  font-family: "iconfont" !important;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px !important;
}
.channel2-header .qr-box .qrcode {
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 34px;
  left: 0;
  margin-left: 0;
  width: 100px;
  height: 124px;
  padding: 15px 20px;
  background: #FFF;
  text-align: center;
  line-height: 24px;
  color: #6c6c6c !important;
  font-size: 12px !important;
  border: 1px solid #eeeeee;
  overflow: hidden;
}
.channel2-header .qr-box .qrcode img {
  width: 100px;
  height: 100px;
  padding-bottom: 5px;
}
.channel2 .channel-main {
  background-color: #FFF;
}
.channel2-bd .channel2-bigpic {
  text-align: center;
  display: block;
  vertical-align: top;
}
.channel2-bd .channel2-bigpic img {
  height: 72px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 4px;
}
.channel2-bd .channel2-bigpic:hover img {
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
}
.channel2-bd .thumbs {
  margin-top: 12px;
}
.channel2-bd .thumbs a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 92px;
  overflow: hidden;
  width: 80px;
  text-align: center;
  white-space: normal;
}
.channel2-bd .thumbs a img {
  margin-bottom: 5px;
  width: 80px;
  height: 70px;
  display: block;
}
.channel2-bd .thumbs a:hover img {
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
}
.channel2-bd .thumbs .thumbs-1 {
  margin-left: 5px;
  *margin-left: 0;
}
.channel-edu .thumbs {
  margin-right: -5px;
}
.channel-edu .thumbs a {
  margin-bottom: 15px;
  margin-right: 5px;
  *margin-right: 0;
}
