/* PASSER LE MAIN EN NONE, LE BLOCK EST APPELE A LA FIN DE LA VIDEO */
.main.animation {
    display: none;
    width: 300px;
    height: 600px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    background-color: #FFFFFF;
}

.main.animation div {
    position: absolute;
    background-repeat: no-repeat;
    -webkit-transform-origin: 0 0;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 1.7s;
    -webkit-animation-fill-mode: forwards;
    -moz-transform-origin: 0 0;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -moz-animation-duration: 1.7s;
    -moz-animation-fill-mode: forwards;
    -ms-transform-origin: 0 0;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: linear;
    -ms-animation-duration: 1.7s;
    -ms-animation-fill-mode: forwards;
    -o-transform-origin: 0 0;
    -o-animation-iteration-count: 1;
    -o-animation-timing-function: linear;
    -o-animation-duration: 1.7s;
    -o-animation-fill-mode: forwards;
    transform-origin: 0 0;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 1.7s;
    animation-fill-mode: forwards;
}


.main .t_episodes {
    -webkit-animation-name : t_episodes;
    -moz-animation-name : t_episodes;
    -ms-animation-name : t_episodes;
    -o-animation-name : t_episodes;
    animation-name : t_episodes;
}

.main .t_episodes .c {
    margin-left:-116px;
    margin-top:-21.5px;
    width: 232px;
    height: 43px;
    background-image: url('../img/t_episodes.png');
}

.main .coke_a {
    -webkit-animation-name : coke_a;
    -moz-animation-name : coke_a;
    -ms-animation-name : coke_a;
    -o-animation-name : coke_a;
    animation-name : coke_a;
}

.main .coke_a .c {
    margin-left:-233.55px;
    margin-top:-250px;
    width: 467px;
    height: 500px;
    background-image: url('../img/coke_1.png');
}

.main .coke_b {
    -webkit-animation-name : coke_b;
    -moz-animation-name : coke_b;
    -ms-animation-name : coke_b;
    -o-animation-name : coke_b;
    animation-name : coke_b;
}

.main .coke_b .c {
    margin-left:-233.55px;
    margin-top:-250px;
    width: 467px;
    height: 500px;
    background-image: url('../img/coke_1.png');
}

.main .fade {
    -webkit-animation-name : fade;
    -moz-animation-name : fade;
    -ms-animation-name : fade;
    -o-animation-name : fade;
    animation-name : fade;
}

.main .fade .c {
    margin-left:-150px;
    margin-top:-300px;
    width: 300px;
    height: 600px;
    background-image: url('../img/fade.png');
}

.main .coke_c {
    -webkit-animation-name : coke_c;
    -moz-animation-name : coke_c;
    -ms-animation-name : coke_c;
    -o-animation-name : coke_c;
    animation-name : coke_c;
}

.main .coke_c .c {
    margin-left:-233.55px;
    margin-top:-250px;
    width: 467px;
    height: 500px;
    background-image: url('../img/coke_1.png');
}

.main .coke_d {
    -webkit-animation-name : coke_d;
    -moz-animation-name : coke_d;
    -ms-animation-name : coke_d;
    -o-animation-name : coke_d;
    animation-name : coke_d;
}

.main .coke_d .c {
    margin-left:-233.5px;
    margin-top:-250.1px;
    width: 467px;
    height: 500px;
    background-image: url('../img/coke_1.png');
}

.main .coke_e {
    -webkit-animation-name : coke_e;
    -moz-animation-name : coke_e;
    -ms-animation-name : coke_e;
    -o-animation-name : coke_e;
    animation-name : coke_e;
}

.main .coke_e .c {
    margin-left:-233.5px;
    margin-top:-250px;
    width: 467px;
    height: 500px;
    background-image: url('../img/coke_1.png');
}

.main .bg {
    -webkit-animation-name : bg;
    -moz-animation-name : bg;
    -ms-animation-name : bg;
    -o-animation-name : bg;
    animation-name : bg;
}

.main .bg .c {
    margin-left:-170px;
    margin-top:-300px;
    width: 340px;
    height: 600px;
    background-image: url('../img/bg_perso.jpg');
}


@-webkit-keyframes t_episodes
{
    0%, 43.4% { opacity: 0; -webkit-transform: translate(144px, 515px) rotate(0deg) scale(1, 1); -webkit-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    43.6% { opacity: 0; -webkit-transform: translate(144px, 515px) rotate(0deg) scale(1, 1); -webkit-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    89.7%, 100% { opacity: 1; -webkit-transform: translate(174px, 515px) rotate(0deg) scale(1, 1); }
}
@-moz-keyframes t_episodes
{
    0%, 43.4% { opacity: 0; -moz-transform: translate(144px, 515px) rotate(0deg) scale(1, 1); -moz-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    43.6% { opacity: 0; -moz-transform: translate(144px, 515px) rotate(0deg) scale(1, 1); -moz-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    89.7%, 100% { opacity: 1; -moz-transform: translate(174px, 515px) rotate(0deg) scale(1, 1); }
}
@-ms-keyframes t_episodes
{
    0%, 43.4% { opacity: 0; -ms-transform: translate(144px, 515px) rotate(0deg) scale(1, 1); -ms-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    43.6% { opacity: 0; -ms-transform: translate(144px, 515px) rotate(0deg) scale(1, 1); -ms-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    89.7%, 100% { opacity: 1; -ms-transform: translate(174px, 515px) rotate(0deg) scale(1, 1); }
}
@-o-keyframes t_episodes
{
    0%, 43.4% { opacity: 0; -o-transform: translate(144px, 515px) rotate(0deg) scale(1, 1); -o-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    43.6% { opacity: 0; -o-transform: translate(144px, 515px) rotate(0deg) scale(1, 1); -o-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    89.7%, 100% { opacity: 1; -o-transform: translate(174px, 515px) rotate(0deg) scale(1, 1); }
}
@keyframes t_episodes
{
    0%, 43.4% { opacity: 0; transform: translate(144px, 515px) rotate(0deg) scale(1, 1); animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    43.6% { opacity: 0; transform: translate(144px, 515px) rotate(0deg) scale(1, 1); animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    89.7%, 100% { opacity: 1; transform: translate(170px, 515px) rotate(0deg) scale(1, 1); }
}
@-webkit-keyframes coke_a
{
    0% { opacity: 1; -webkit-transform: translate(-238px, 391px) rotate(42.9deg) scale(1.37, 1.37); -webkit-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    74.4%, 100% { opacity: 0; -webkit-transform: translate(252px, 550px) rotate(42.9deg) scale(1.37, 1.37); }
}
@-moz-keyframes coke_a
{
    0% { opacity: 1; -moz-transform: translate(-238px, 391px) rotate(42.9deg) scale(1.37, 1.37); -moz-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    74.4%, 100% { opacity: 0; -moz-transform: translate(252px, 550px) rotate(42.9deg) scale(1.37, 1.37); }
}
@-ms-keyframes coke_a
{
    0% { opacity: 1; -ms-transform: translate(-238px, 391px) rotate(42.9deg) scale(1.37, 1.37); -ms-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    74.4%, 100% { opacity: 0; -ms-transform: translate(252px, 550px) rotate(42.9deg) scale(1.37, 1.37); }
}
@-o-keyframes coke_a
{
    0% { opacity: 1; -o-transform: translate(-238px, 391px) rotate(42.9deg) scale(1.37, 1.37); -o-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    74.4%, 100% { opacity: 0; -o-transform: translate(252px, 550px) rotate(42.9deg) scale(1.37, 1.37); }
}
@keyframes coke_a
{
    0% { opacity: 1; transform: translate(-238px, 391px) rotate(42.9deg) scale(1.37, 1.37); animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    74.4%, 100% { opacity: 0; transform: translate(252px, 550px) rotate(42.9deg) scale(1.37, 1.37); }
}
@-webkit-keyframes coke_b
{
    0% { opacity: 1; -webkit-transform: translate(-238px, 391px) rotate(42.9deg) scale(1.37, 1.37); -webkit-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    74.4%, 100% { opacity: 1; -webkit-transform: translate(305px, 745px) rotate(42.9deg) scale(1.37, 1.37); }
}
@-moz-keyframes coke_b
{
    0% { opacity: 1; -moz-transform: translate(-238px, 391px) rotate(42.9deg) scale(1.37, 1.37); -moz-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    74.4%, 100% { opacity: 1; -moz-transform: translate(305px, 745px) rotate(42.9deg) scale(1.37, 1.37); }
}
@-ms-keyframes coke_b
{
    0% { opacity: 1; -ms-transform: translate(-238px, 391px) rotate(42.9deg) scale(1.37, 1.37); -ms-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    74.4%, 100% { opacity: 1; -ms-transform: translate(305px, 745px) rotate(42.9deg) scale(1.37, 1.37); }
}
@-o-keyframes coke_b
{
    0% { opacity: 1; -o-transform: translate(-238px, 391px) rotate(42.9deg) scale(1.37, 1.37); -o-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    74.4%, 100% { opacity: 1; -o-transform: translate(305px, 745px) rotate(42.9deg) scale(1.37, 1.37); }
}
@keyframes coke_b
{
    0% { opacity: 1; transform: translate(-238px, 391px) rotate(42.9deg) scale(1.37, 1.37); animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    74.4%, 100% { opacity: 1; transform: translate(305px, 745px) rotate(42.9deg) scale(1.37, 1.37); }
}
@-webkit-keyframes fade
{
    0% { opacity: 0.7; -webkit-transform: translate(150px, 300px) rotate(0deg) scale(1, 1); -webkit-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    30.8% { opacity: 0; -webkit-transform: translate(150px, 300px) rotate(0deg) scale(1, 1); }
    33.3%, 100% { opacity: 0; }
}
@-moz-keyframes fade
{
    0% { opacity: 0.7; -moz-transform: translate(150px, 300px) rotate(0deg) scale(1, 1); -moz-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    30.8% { opacity: 0; -moz-transform: translate(150px, 300px) rotate(0deg) scale(1, 1); }
    33.3%, 100% { opacity: 0; }
}
@-ms-keyframes fade
{
    0% { opacity: 0.7; -ms-transform: translate(150px, 300px) rotate(0deg) scale(1, 1); -ms-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    30.8% { opacity: 0; -ms-transform: translate(150px, 300px) rotate(0deg) scale(1, 1); }
    33.3%, 100% { opacity: 0; }
}
@-o-keyframes fade
{
    0% { opacity: 0.7; -o-transform: translate(150px, 300px) rotate(0deg) scale(1, 1); -o-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    30.8% { opacity: 0; -o-transform: translate(150px, 300px) rotate(0deg) scale(1, 1); }
    33.3%, 100% { opacity: 0; }
}
@keyframes fade
{
    0% { opacity: 0.7; transform: translate(150px, 300px) rotate(0deg) scale(1, 1); animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    30.8% { opacity: 0; transform: translate(150px, 300px) rotate(0deg) scale(1, 1); }
    33.3%, 100% { opacity: 0; }
}
@-webkit-keyframes coke_c
{
    0% { opacity: 1; -webkit-transform: matrix(-1, -0.93, -0.93, 1, -140, 199); -webkit-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    74.4%, 100% { opacity: 1; -webkit-transform: matrix(-1, -0.93, -0.93, 1, 542, 446); }
}
@-moz-keyframes coke_c
{
    0% { opacity: 1; -moz-transform: matrix(-1, -0.93, -0.93, 1, -140, 199); -moz-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    74.4%, 100% { opacity: 1; -moz-transform: matrix(-1, -0.93, -0.93, 1, 542, 446); }
}
@-ms-keyframes coke_c
{
    0% { opacity: 1; -ms-transform: matrix(-1, -0.93, -0.93, 1, -140, 199); -ms-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    74.4%, 100% { opacity: 1; -ms-transform: matrix(-1, -0.93, -0.93, 1, 542, 446); }
}
@-o-keyframes coke_c
{
    0% { opacity: 1; -o-transform: matrix(-1, -0.93, -0.93, 1, -140, 199); -o-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    74.4%, 100% { opacity: 1; -o-transform: matrix(-1, -0.93, -0.93, 1, 542, 446); }
}
@keyframes coke_c
{
    0% { opacity: 1; transform: matrix(-1, -0.93, -0.93, 1, -140, 199); animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    74.4%, 100% { opacity: 1; transform: matrix(-1, -0.93, -0.93, 1, 542, 446); }
}
@-webkit-keyframes coke_d
{
    0% { opacity: 1; -webkit-transform: translate(-74px, 341px) rotate(0deg) scale(0.63, 0.63); -webkit-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    74.4%, 100% { opacity: 1; -webkit-transform: translate(-4px, 321px) rotate(0deg) scale(0.67, 0.67); }
}
@-moz-keyframes coke_d
{
    0% { opacity: 1; -moz-transform: translate(-74px, 341px) rotate(0deg) scale(0.63, 0.63); -moz-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    74.4%, 100% { opacity: 1; -moz-transform: translate(-4px, 321px) rotate(0deg) scale(0.67, 0.67); }
}
@-ms-keyframes coke_d
{
    0% { opacity: 1; -ms-transform: translate(-74px, 341px) rotate(0deg) scale(0.63, 0.63); -ms-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    74.4%, 100% { opacity: 1; -ms-transform: translate(-4px, 321px) rotate(0deg) scale(0.67, 0.67); }
}
@-o-keyframes coke_d
{
    0% { opacity: 1; -o-transform: translate(-74px, 341px) rotate(0deg) scale(0.63, 0.63); -o-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    74.4%, 100% { opacity: 1; -o-transform: translate(-4px, 321px) rotate(0deg) scale(0.67, 0.67); }
}
@keyframes coke_d
{
    0% { opacity: 1; transform: translate(-74px, 341px) rotate(0deg) scale(0.63, 0.63); animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    74.4%, 100% { opacity: 1; transform: translate(-4px, 321px) rotate(0deg) scale(0.67, 0.67); }
}
@-webkit-keyframes coke_e
{
    0% { opacity: 1; -webkit-transform: translate(193px, 355px) rotate(0deg) scale(0.63, 0.63); -webkit-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    74.4%, 100% { opacity: 1; -webkit-transform: translate(273px, 355px) rotate(0deg) scale(0.74, 0.74); }
}
@-moz-keyframes coke_e
{
    0% { opacity: 1; -moz-transform: translate(193px, 355px) rotate(0deg) scale(0.63, 0.63); -moz-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    74.4%, 100% { opacity: 1; -moz-transform: translate(273px, 355px) rotate(0deg) scale(0.74, 0.74); }
}
@-ms-keyframes coke_e
{
    0% { opacity: 1; -ms-transform: translate(193px, 355px) rotate(0deg) scale(0.63, 0.63); -ms-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    74.4%, 100% { opacity: 1; -ms-transform: translate(273px, 355px) rotate(0deg) scale(0.74, 0.74); }
}
@-o-keyframes coke_e
{
    0% { opacity: 1; -o-transform: translate(193px, 355px) rotate(0deg) scale(0.63, 0.63); -o-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    74.4%, 100% { opacity: 1; -o-transform: translate(273px, 355px) rotate(0deg) scale(0.74, 0.74); }
}
@keyframes coke_e
{
    0% { opacity: 1; transform: translate(193px, 355px) rotate(0deg) scale(0.63, 0.63); animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    74.4%, 100% { opacity: 1; transform: translate(273px, 355px) rotate(0deg) scale(0.74, 0.74); }
}
@-webkit-keyframes bg
{
    0% { opacity: 1; -webkit-transform: translate(132px, 300px) rotate(0deg) scale(1, 1); -webkit-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    74.4%, 100% { opacity: 1; -webkit-transform: translate(170px, 300px) rotate(0deg) scale(1, 1); }
}
@-moz-keyframes bg
{
    0% { opacity: 1; -moz-transform: translate(132px, 300px) rotate(0deg) scale(1, 1); -moz-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    74.4%, 100% { opacity: 1; -moz-transform: translate(170px, 300px) rotate(0deg) scale(1, 1); }
}
@-ms-keyframes bg
{
    0% { opacity: 1; -ms-transform: translate(132px, 300px) rotate(0deg) scale(1, 1); -ms-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    74.4%, 100% { opacity: 1; -ms-transform: translate(170px, 300px) rotate(0deg) scale(1, 1); }
}
@-o-keyframes bg
{
    0% { opacity: 1; -o-transform: translate(132px, 300px) rotate(0deg) scale(1, 1); -o-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    74.4%, 100% { opacity: 1; -o-transform: translate(170px, 300px) rotate(0deg) scale(1, 1); }
}
@keyframes bg
{
    0% { opacity: 1; transform: translate(132px, 300px) rotate(0deg) scale(1, 1); animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 0.99); }
    74.4%, 100% { opacity: 1; transform: translate(170px, 300px) rotate(0deg) scale(1, 1); }
}



#cta_expand {
  width: 330px;
  height: 40px;
  top: 550px;
  position: absolute;
  left: 50%;
  margin-left: -165px;
  overflow: hidden;
  display: none;
  z-index: 501;
  transform: scale(0.85);
  -webkit-transform: scale(0.85);
  -o-transform: scale(0.85);
  -ms-transform: scale(0.85);
  -moz-transform: scale(0.85);
}

#cta_expand_arrow 
{

    position: absolute;
    margin-left: 285px;
    margin-top: -38px;
    width: 48px;
    height: 40px;
    background: url('../img/arrow_expand.png');
}



#t_demarrez{
    position:absolute;
    margin-left: 13px;
    margin-top: -28px;
    width: 265px;
    height: 15px;
    background: url('../img/t_demarrez_votre_mois_gratuit.png');
}


#cta_expand_bg{

    margin-left:0;
    margin-top:0;
    width: 330px;
    height: 40px;
    background-color:#e50914;
}

#cta_expand_white_bg
{
    position: absolute;
    top:0;
    width: 0px;
    height: 40px;
    background-color:white
}