body {
  margin: 0;
}
a {
  cursor: pointer;
  position: absolute;
}
.wrapper {
  position: absolute;
  width: 300px;
  height: 250px;
  overflow: hidden;
  background-size: cover;
}
.wrapper #banner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.Ecran01{
  position:absolute;
  width:300px;
  height:200px;
  top:0;
  left:0;
  /*opacity:0;*/
}
.Ecran02{
  position:absolute;
  width:300px;
  height:200px;
  top:0;
  left:0;
  /*opacity:0;*/
}
.BG{
  position:absolute;
  top:0;
  left:0;
}
.Logo{
  position:absolute;
  top:14px;
  left:10px;
}
.CarreBG{
  position:absolute;
  top:0px;
  left:0px;
}
.txt01{
  position:absolute;
  top:0px;
  left:0px;
}
.txt01 img{
  position:relative;
}
.GlowNoel{
  position:absolute;
  top:20px;
  left:80px;
  opacity:0;
}
.Offre{
  position:absolute;
  top:166px;
  left:227px;
}
.txt02{
  position:absolute;
  top:31px;
  left:89px;
  opacity:0; 
}
.Glow40{
  position:absolute;
  top:37px;
  left:80px;
  opacity:0;
}
.PrixGlow{
  position:absolute;
  top:91px;
  left:83px;
  opacity:0;
}
.txtPrix{
  position:absolute;
  top:95px;
  left:91px;
  opacity:0;

  transform:scale(1);
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  -ms-transform:scale(1);

  -webkit-animation:scaleAnimD 2s ease 7s 1 normal both;
  -moz-animation:scaleAnimD 2s ease 7s 1 normal both;
  animation:scaleAnimD 2s ease 7s 1 normal both;
}
.txt03{
  position:absolute;
  top:80px;
  left:104px;
  opacity:0;
}
.CTA{
  position:absolute;
  top:179px;
  left:-150px;

   transform:scale(1);
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  -ms-transform:scale(1);

  -webkit-animation:scaleAnimD 1.3s ease 13.5s 1 normal both;
  -moz-animation:scaleAnimD 1.3s ease 13.5s 1 normal both;
  animation:scaleAnimD 1.3s ease 13.5s 1 normal both;
  
}
.CTAGlow{
  position:absolute;
  top:170px;
  left:90px;
  opacity:0;
}
.MentionFin{
  position:absolute;
  top:202px;
  left:66px;
  opacity:0;
}
.VoirConditions{
  position:absolute;
  top:265px;
  left:120px;
  opacity:0;
}

.Mention{
  position:absolute;
  top:250px;
  left:0px;
}






@keyframes scaleAnimD {
  
    0%{transform:scale(1);}
  
    25%{transform:scale(1.1)}

    50%{transform:scale(1);}

    75%{transform:scale(1.1);}

    100%{transform:scale(1);}
  
    
}


@-webkit-keyframes scaleAnimD {
  
    0%{transform:scale(1);}
  
    25%{transform:scale(1.1);}

    50%{transform:scale(1);}

    75%{transform:scale(1.1);}

    100%{transform:scale(1);}
  
    
}


@-moz-keyframes scaleAnimD {
  
    0%{transform:scale(1);}
  
    25%{transform:scale(1.1);}

    50%{transform:scale(1);}

    75%{transform:scale(1.1);}

    100%{transform:scale(1);}
  
    
}


@-ms-keyframes scaleAnimD {
  
    0%{transform:scale(1);}
  
    25%{transform:scale(1.1);}

    50%{transform:scale(1);}

    75%{transform:scale(1.1);}

    100%{transform:scale(1);}
  
    
}







