body {
  margin: 0;
}

.SnowContainer{  
  position:absolute; 
  width:100%; 
  height:100%;
  overflow: hidden;
  z-index:9;

}


a {
  cursor: pointer;
  position: absolute;
}

.ml-txt
{
  color:#000;
}



.wrapper {
  position: absolute;
  width: 728px;
  height: 90px;
  overflow: hidden;
  background-size: cover;
}
.wrapper #banner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.BG{
  position:absolute;
  top:0;
  left:0;

}
.BG2{
  position:absolute;
  top:0;
  left:0;
}
.LogoHalo{
  position:absolute;
  top:3px;
  left:2px;
  z-index:20;
}
.Ecran01{
  position:absolute;
  width:728px;
  height:90px;
  top:0;
  left:0;
  z-index:20;  
}
.Ecran02{
  position:absolute;
  width:728px;
  height:90px;
  top:0;
  z-index:20;  
  left:0;
}
.Ecran03{
  position:absolute;
  width:728px;
  height:90px;
  top:0;
  z-index:20;  
  left:0;  
}
.CarreBG{
  position:absolute;
  top:1px;
  left:230px;
  opacity:0;
 /* transform:scale(0.75);
  -webkit-transform:scale(0.75);
  -moz-transform:scale(0.75);
  -ms-transform:scale(0.75); 

  -webkit-animation:ScaleD 0.3s ease 3.5s 1 normal both;
  -moz-animation:ScaleD 0.3s ease 3.5s 1 normal both;
  animation:ScaleD 0.3s ease 3.5s 1 normal both;
  transform-origin:top left; 
  -webkit-transform-origin:top left; 
  -moz-transform-origin:top left; 
  padding: 34px 34px;
  z-index:15;*/
}
.txt01{
  position:absolute;
  top:24px;
  left:181px;
}
.Offre{
  position:absolute;
  top:3px;
  left:489px;
}
.txtFibre{
  position:absolute;
  top:25px;
  left:290px;
  opacity:0;

   transform:scale(0.1);
  -webkit-transform:scale(0.1);
  -moz-transform:scale(0.1);
  -ms-transform:scale(0.1);

  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}
.OffreFin{
  position:absolute;
  top:30px;
  left:244px;
  opacity:0;
  transform:scale(0.1);
  -webkit-transform:scale(0.1);
  -moz-transform:scale(0.1);
  -ms-transform:scale(0.1);

  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}
.MentionOffre{
  position:absolute;
  top:16px;
  left:322px;
  opacity:0;
}
.CTA{
  position:absolute;
  top:100px;
  left:557px;  
}

.OffreExclu{
  position:absolute;
  top:-100px;
  left: 475px;
 /* transform: scale(0.8);
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);*/
}

/*MENTION LEGAL*/

.VoirConditions{
  position: absolute;
  top: 67px;
  opacity:0;
  width:100%;
  height:100%;
  z-index:20;
}
.VoirConditions img{
  display: block;
  position: absolute;
 /* right: 0;*/
  padding: 0px 595px;
}
.ml_btn{
  display: block;
  position: absolute;
  margin: auto;
  left:0;
  right:0;
}
.ml-txt{
    position: absolute;
    width: 100%;
    height: auto;
    top: 30px;
    background: #ffffff;
    font-family: arial;
    font-size: 11px;
    text-align: center;
    padding: 12px 10px;
    box-sizing: border-box;

     transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    /*z-index:20;*/
}
.ml_btn:hover > .ml-txt{
  top:-10px;
}

/*KEYFRAME ANIMATION*/

@keyframes ScaleD {  
    0%{transform:scale(0.75);}

   100%{transform:scale(1);padding:15px 19px}  
    
}

@-webkit-keyframes ScaleD {  
    0%{-webkit-transform:scale(0.75);}

   100%{-webkit-transform:scale(1);padding:15px 19px}  
    
}

@-moz-keyframes ScaleD {  
    0%{-moz-transform:scale(0.75);}

   100%{-moz-transform:scale(1);padding:15px 19px}  
    
}




