.a-column .nytd-bulletbox{
  margin-top:12px;
}
.nytd-bulletbox .nytd-bullets-title{
  font-family:"nyt-franklin",arial,helvetica,sans-serif!important;
  font-size:11px;
  line-height:19px;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing: .05em;
  margin-bottom:.05em;
  color:#000;
}
.nytd-bulletbox .nytd-bullets{
  margin-top: 2px;
  margin-bottom: 0;
}
.nytd-bulletbox .nytd-bullets li{
  position: relative;
  margin-bottom: 4px;
  padding-left: 8px;
  font-family:"nyt-franklin",arial,helvetica,sans-serif!important;
  font-size: 12px;
  line-height: 15px;
  font-weight:700;
  text-transform: uppercase;
  color:#666;
}
.nytd-bulletbox .nytd-bullets li:before{
  border-radius: 1px;
  background-color: #000;
  width: 2px;
  height: 2px;
  content: '';
  position: absolute;
  display: block;
  top: 6px;
  left: 2px;
}
.nytd-bulletbox .nytd-bullets li span{
  text-transform: none;
  font-weight:500;
}
.nytd-bulletbox .nytd-bullets-refer{
  font-family:"nyt-franklin",arial,helvetica,sans-serif!important;
  font-size:11px;
  line-height:16px;
  font-weight:500;
  display:inline-block;
  margin-top:8px;
}
.nytd-bulletbox .nytd-bullets-refer a{
  color:#326891;
}
