.eln-sul {
	position: relative;
	overflow: hidden;
	min-height: 100px;
}
.eln-sul header {
	font: bold 1rem/1.125rem nyt-cheltenham, georgia, 'times new roman', times, serif;
}

.article-interactive-promo .eln-sul header {
    font: 700 0.875rem/1rem 'nyt-cheltenham-sh', georgia, 'times new roman', times, serif;
    margin-bottom: 2px;
}

.eln-sul header a {
	text-decoration: none;
}
.eln-sul header a:hover {
	text-decoration: underline;
}
.eln-sul .eln-updates-all {
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100%;
	background: #fff;
	z-index: 100;
	padding: 18px 0 0;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, #ffffff), color-stop(100%, #ffffff));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
	/* IE6-8 */
}
.eln-sul .eln-updates-all a {
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	font: 500 11px/24px 'nyt-franklin', Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0px;
	text-align: center;
	width: 150px;
}
.eln-sul ul {
	margin: 8px 0 0;
	padding: 0;
	list-style: none;
}
.eln-sul a {
  color: #000;
}
.eln-sul .eln-sul-post {
	border-top: 1px solid #E7E7E7;
	font: normal 12px/16px 'nyt-franklin', helvetica, arial, sans-serif;
	margin: 0px;
	padding: 10px 0px;
	position: relative;
}
.eln-sul .eln-sul-post:hover {
	background-color: #f6f6f3;
}
.eln-sul .eln-sul-post .eln-sul-timestamp,
.eln-sul .eln-sul-post .eln-sul-hed {
	display: block;
}
.eln-sul .eln-sul-post .eln-sul-timestamp {
	color: #909090;
	font-size: 11px;
	padding: 0 0 0 0;
	position: absolute;
	width: 30px;
}
.eln-sul .eln-sul-post .eln-sul-hed {
	text-decoration: none;
	margin-left: 38px;
}
.eln-sul .eln-sul-post .eln-sul-hed .eln-sul-breaking {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	font-style: normal;
	color: #A2021D;
	padding: 0 3px 0 0;
}
.eln-sul .eln-sul-post-new .eln-sul-timestamp,
.eln-sul .eln-sul-post-new .eln-sul-hed {
	color: #A2021D;
}
.eln-sul-sm header {
	letter-spacing: .01em;
	word-spacing: -0.1em;
}
.eln-sul-mobile {
	margin: 5px 0;
}
.eln-sul-mobile .eln-sul-post:hover {
	background-color: #fff;
}
.eln-sul-mobile .eln-updates-all {
	position: relative;
	padding: 0;
	margin: 5px 0 0;
}
.eln-sul-mobile .eln-updates-all a {
	text-decoration: none;
	width: 90px;
}
.eln-sul-mobile .eln-updates-all a:first-of-type {
	border-radius: 3px 0 0 3px;
}
.eln-sul-mobile .eln-updates-all a:last-of-type {
	border-radius: 0 3px 3px 0;
	border-left: 0;
}
.eln-sul-app {
	margin: 10px 15px;
}
.eln-sul-app header {
	font-family: 'NYTCheltenhamBold-Regular', 'nyt-cheltenham', georgia, 'times new roman', times, serif;
}
.eln-sul-android {
	margin: 10px 5px;
}
.eln-sul-nytnow {
	margin: 10px 20px;
}
.eln-sul-nytnow header {
	font: 700 13px/16px 'nyt-franklin', helvetica, arial, sans-serif;
}
.eln-sul-nytnow .eln-updates-all {
	position: absolute;
	padding: 18px 0 0;
	margin: 0;
}
.eln-sul-nytnow .eln-sul-post {
	font-size: 14px;
	font-weight: 200;
	line-height: 18px;
}
.eln-sul-nytnow .eln-sul-post .eln-sul-hed {
	margin-left: 40px;
}
.eln-sul-nytnow .eln-sul-post .eln-sul-hed .eln-sul-breaking {
	font-size: 12px;
	font-weight: 500;
}
.eln-sul-nytnow .eln-sul-post .eln-sul-timestamp {
	font-size: 10px;
	font-weight: 200;
	line-height: 18px;
	padding: 0 0 0 10px;
}
.article-interactive-promo .interactive-graphic header {
    display: none;
}
.b-column .eln-sul-sm {
  height: 185px;
}
.a-column .eln-sul-sm {
  height: 230px;
}