body {

  font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
  color: #000;
  font-size: 88%;
  -webkit-font-smoothing: antialiased;
}
.hero {
  width: 475px;
  height: 490px;
  position: relative;
  background: #fff;
  overflow: hidden;
}
  #cursor {
    width: 52px;
    height: 58px;
    background-repeat: no-repeat;
    position: absolute;
    display: none;
  }
  .hero #back,
  .hero #front {
    width: 475px;
    height: 320px;
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
  }

.flag {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 219px;
  height: 72px;
  padding: 11px 18px;  
  background-color: #d83b15;
  position: absolute;
  z-index: 0;
}
  .flag p {
    color: #000;
    font-weight: 400;
    font-size: 24.38px;
    line-height: 27px;
    margin: 0;
    padding: 0;
  }
  #fl-delete {
    width: 219px;
    height: 72px;
    padding: 6px 6px 6px 16px;
    opacity: 0;
    left: -380px;
    top: 159px;
	background-color: #fff;
	border: 2px solid #000;
  }
    #fl-delete:after {
      display: none;
/*      left: 89px;
      bottom: -12px;
*/    }
  #fl-undo {
    width: 180px;
    height: 108px;
    padding: 36px 10px 10px 18px;    
    opacity: 0;
    left: -380px;
    top: 61px;
	background-color: transparent;
  }
    #fl-undo:after {
      bottom: 55px;
      left: 90px;
    }
#text_box{
	position: absolute;
	height: 170px;
	width: 475px;
	-moz-box-sizing: border-box;/*FF*/
	box-sizing: border-box;
	background-color: #0072c6;
	color: #ffffff;
	bottom: 0;
	padding: 0 30px;
}
#text_box img{
	float: left;
	margin: 10px 5px;
	margin-bottom: 0px;
}
#text_box p.bolded{
	float: left;
	margin-top: 12px;
	font-family: "Segoe UI SemiBold", "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
	font-size: 1.125em;
}
h1{
	font-family: "Segoe UI Light", "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
	font-weight: 100;
	margin-bottom: 12px;
	font-size: 2.3em;
	margin-top: 18px;
	line-height: 30px;
}
#text_box p{
	margin: 0;
}
#wrapper[dir=rtl] #text_box img{ float: right; }
#wrapper[dir=rtl] #text_box p.bolded{ float: right; }